<app-bannering [title]="'About'" [items]="['Home', 'About-us']"></app-bannering>
<!--section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="text-center">
          <img src="./assets/images/png/banner/b7.png" alt="img" class="" />
        </div>
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="card-body pb-0 pt-3">
          <h2 class="mb-4">About Templist?</h2>
          <h5 class="leading-normal">
            Majority have suffered alteration in some form, by injected humor
          </h5>
          <p class="leading-normal text-muted">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered by injected humour, or randomised words
            which don't look even slightly believable. If you are going to use a
            passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum
            generators on the Internet tend to repeat
          </p>
          <p class="leading-normal text-muted">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English.
          </p>
          <p class="leading-normal mb-0 text-muted">
            dolore magna aliqua. Ut enim ad minim veniam, Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/section-->

<!--section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>How It Works?</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-lg-6 mt-xl-4">
        <div class="row">
          <div class="col-md-12">
            <div class="widgets-cards mb-5">
              <div class="d-flex">
                <div class="widgets-cards-icons">
                  <div
                    class="wrp counter-icon1 me-5 bg-primary box-primary-shadow"
                  >
                    <i class="las la-search-plus la-4x"></i>
                  </div>
                </div>
                <div class="widgets-cards-data">
                  <div class="text-wrapper">
                    <h4>
                      <a href="javascript:void(0);" class="text-dark fs-22"
                        >Select Your Theme</a
                      >
                    </h4>
                    <p class="text-muted mt-2 mb-0">
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                      amet, consectetur, adipisci velit, sed quia non numquam
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="widgets-cards mb-5">
              <div class="d-flex">
                <div class="widgets-cards-icons">
                  <div
                    class="wrp counter-icon1 me-5 bg-secondary box-secondary-shadow"
                  >
                    <i class="las la-cart-plus la-4x"></i>
                  </div>
                </div>
                <div class="widgets-cards-data">
                  <div class="text-wrapper">
                    <h4>
                      <a href="javascript:void(0);" class="fs-22 text-dark"
                        >Add To Cart</a
                      >
                    </h4>
                    <p class="text-muted mt-2 mb-0">
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                      amet, consectetur, adipisci velit, sed quia non numquam
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="widgets-cards">
              <div class="d-flex">
                <div class="widgets-cards-icons">
                  <div
                    class="wrp counter-icon1 me-5 bg-success box-success-shadow"
                  >
                    <i class="las la-money-bill la-4x"></i>
                  </div>
                </div>
                <div class="widgets-cards-data">
                  <div class="text-wrapper">
                    <h4>
                      <a href="javascript:void(0);" class="fs-22 text-dark"
                        >Purchase Your Theme</a
                      >
                    </h4>
                    <p class="text-muted mt-2 mb-0">
                      Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                      amet, consectetur, adipisci velit, sed quia non numquam
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mrt-sm-2">
        <div class="text-center">
          <img src="./assets/images/png/banner/b8.png" alt="img" class="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section>
  <div
    class="cover-image about-widget sptb bg-background-color custon-bg-img"
    data-bs-image-src="./assets/images/banners/banner3.jpg"
  >
    <div class="content-text mb-0">
      <div class="container">
        <div class="text-center text-white">
          <h2 class="mb-2 font-weight-normal">Ready to Join Our Marketplace</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
          <div class="mt-5">
            <a
              routerLink="/pages/otherpages-2/item-posts"
              class="btn ripple btn-lg btn-secondary"
              >Join Now!</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Why Choose Us?</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 features">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="text-white mb-md-0 mb-4">
                  <div
                    class="fa-stack fa-lg fea-icon bg-primary box-primary-shadow br-3 text-center"
                  >
                    <i class="fe fe-credit-card"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-9">
                <div class="mt-1">
                  <h4 class="">Secure Payment</h4>
                  <p class="mb-0 text-muted">
                    Our being able to do what we like best, every pleasure is to
                    be welcomed and every pain..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 features">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="text-white mb-md-0 mb-4">
                  <div
                    class="fa-stack fa-lg fea-icon bg-secondary box-secondary-shadow br-3 text-center"
                  >
                    <i class="fe fe-airplay"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-9">
                <div class="mt-1">
                  <h4 class="">Quality Templates</h4>
                  <p class="mb-0 text-muted">
                    Our being able to do what we like best, every pleasure is to
                    be welcomed and every pain..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 features">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="text-white mb-md-0 mb-4">
                  <div
                    class="fa-stack fa-lg fea-icon bg-success box-success-shadow br-3 text-center"
                  >
                    <i class="fe fe-dollar-sign"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-9">
                <div class="mt-1">
                  <h4 class="">100% Money Back</h4>
                  <p class="mb-0 text-muted">
                    Our being able to do what we like best, every pleasure is to
                    be welcomed and every pain..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 features">
        <div class="card mb-lg-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="text-white mb-md-0 mb-4">
                  <div
                    class="fa-stack fa-lg fea-icon bg-info box-info-shadow br-3 text-center"
                  >
                    <i class="fe fe-database"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-9">
                <div class="mt-1">
                  <h4 class="">User Friendly</h4>
                  <p class="mb-0 text-muted">
                    Our being able to do what we like best, every pleasure is to
                    be welcomed and every pain..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 features">
        <div class="card mb-lg-0 mb-md-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="text-white mb-md-0 mb-4">
                  <div
                    class="fa-stack fa-lg fea-icon bg-warning box-warning-shadow br-3 text-center"
                  >
                    <i class="fe fe-thumbs-up"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-9">
                <div class="mt-1">
                  <h4 class="">100% Responsive Rate</h4>
                  <p class="mb-0 text-muted">
                    Our being able to do what we like best, every pleasure is to
                    be welcomed and every pain..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 features">
        <div class="card mb-0">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="text-white mb-md-0 mb-4">
                  <div
                    class="fa-stack fa-lg fea-icon bg-danger box-danger-shadow br-3 text-center"
                  >
                    <i class="fe fe-headphones"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-9">
                <div class="mt-1">
                  <h4 class="">24/7 Support</h4>
                  <p class="mb-0 text-muted">
                    Our being able to do what we like best, every pleasure is to
                    be welcomed and every pain..
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section>
  <div class="about-1 cover-image sptb section-bg-background-color1">
    <div class="content-text mb-0 text-white info">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-md-6">
            <div class="counter-status md-mb-0">
              <div class="counter-icon">
                <i class="fe fe-codepen"></i>
              </div>
              <h5 class="font-weight-normal">Total Items</h5>
              <h2 class="counter counter1 mb-0">2569</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status-1 md-mb-0">
              <div class="counter-icon text-warning">
                <i class="fe fe-shopping-cart"></i>
              </div>
              <h5 class="font-weight-normal">Total Sales</h5>
              <h2 class="counter counter2 mb-0">1765</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status md-mb-0">
              <div class="counter-icon text-primary">
                <i class="fe fe-users"></i>
              </div>
              <h5 class="font-weight-normal">Total Members</h5>
              <h2 class="counter counter3 mb-0">846</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status">
              <div class="counter-icon text-success">
                <i class="icon icon-emotsmile"></i>
              </div>
              <h5 class="font-weight-normal">Happy Customers</h5>
              <h2 class="counter counter4 mb-0">7253</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Testimonials</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="card mb-xl-0">
          <div class="card-body">
            <div class="team-section text-center">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/1.jpg"
                  class="img-thumbnail rounded-circle alt="
                  alt="img"
                />
              </div>
              <h3 class="dark-grey-text mt-4">Tracey Poole</h3>
              <h6 class="text-default font-weight-normal mb-3">Web Designer</h6>
              <div class="text-warning mb-3">
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star-half-full"> </i>
              </div>
              <p class="font-weight-normal text-muted mb-0">
                <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quod eos id officiis hic tenetur
                quae quaerat ad velit ab hic tenetur.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card mb-xl-0">
          <div class="card-body">
            <div class="team-section text-center">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/1.jpg"
                  class="img-thumbnail rounded-circle alt="
                  alt="img"
                />
              </div>
              <h3 class="dark-grey-text mt-4">Harry Walker</h3>
              <h6 class="text-default mb-3 font-weight-normal">
                Web Developer
              </h6>
              <div class="text-warning mb-3">
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
              </div>
              <p class="font-weight-normal text-muted mb-0">
                <i class="fa fa-quote-left pe-2"></i>Ut enim ad minima veniam,
                quis nostrum exercitationem ullam quis nostrum corporis suscipit
                laboriosam, nisi ut aliquid commodi.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card mb-0">
          <div class="card-body">
            <div class="team-section text-center">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/2.jpg"
                  class="img-thumbnail rounded-circle alt="
                  alt="img"
                />
              </div>
              <h3 class="dark-grey-text mt-4">Paul White</h3>
              <h6 class="text-default font-weight-normal mb-3">Photographer</h6>
              <div class="text-warning mb-3">
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star"> </i>
                <i class="fa fa-star-o"> </i>
              </div>
              <p class="font-weight-normal text-muted mb-0">
                <i class="fa fa-quote-left pe-2"></i>At vero eos et accusamus et
                iusto odio dignissimos ducimus qui blanditiis praesentium
                voluptatum deleniti atque corrupti.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/section-->

<!-- Onlinesletter-->
<section class="sptb border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
