	<owl-carousel-o [options]="customOptions" class="">
  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide [id]="slide.id">
			<div class="item">
						<div class="card mb-0">
							<div class="item7-card-img">
								<a href="javascript:void(0);"></a>
								<img [src]="slide.src" alt="img" class="cover-image">
							</div>
							<div class="card-body p-4">
								<div class="item7-card-desc d-flex mb-2">
									<a href="javascript:void(0);"><i class="fa fa-calendar-o me-2"></i>{{slide.date}}</a>
									<div class="ms-auto">
										<a href="javascript:void(0);"><i class="fa fa-comment-o me-2"></i>{{slide.comments}} comments</a>
									</div>
								</div>
								<a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"><h3 class="font-weight-semibold">{{slide.title}}</h3></a>
								<p>{{slide.summary}} </p>
							</div>
						</div>
					</div>
		    </ng-template
    >
  </ng-container>
</owl-carousel-o>
