 <div class="card">
          <div class="card-header">
            <h3 class="card-title">Categories</h3>
          </div>
          <div class="card-body">
            <div class="container3">
              <div class="filter-product-checkboxs">
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox1"
                    value="option1"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Admin Templates<span
                        class="label label-secondary float-end"
                        >14</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox2"
                    value="option2"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Corporate Templates<span
                        class="label label-secondary float-end"
                        >22</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox3"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >E-Commerce Templates<span
                        class="label label-secondary float-end"
                        >78</span
                      ></span
                    >
                  </span>
                </label>

                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox4"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Classifieds Templates<span
                          class="label label-secondary float-end"
                          >35</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox5"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Corporate Templates<span
                          class="label label-secondary float-end"
                          >23</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox6"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Creative Templates<span
                          class="label label-secondary float-end"
                          >14</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Entertainment Templates<span
                          class="label label-secondary float-end"
                          >45</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Mobile Templates<span
                          class="label label-secondary float-end"
                          >34</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Technology Templates<span
                          class="label label-secondary float-end"
                          >12</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Wedding Templates<span
                          class="label label-secondary float-end"
                          >18</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Education Templates<span
                          class="label label-secondary float-end"
                          >02</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Construction Templates<span
                          class="label label-secondary float-end"
                          >15</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Business Templates<span
                          class="label label-secondary float-end"
                          >32</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Beauty Templates<span
                          class="label label-secondary float-end"
                          >23</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Personal Templates<span
                          class="label label-secondary float-end"
                          >19</span
                        ></span
                      >
                    </span>
                  </label>
                  <label class="custom-control form-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checkbox7"
                      value="option3"
                    />
                    <span class="custom-control-label">
                      <span class="text-dark"
                        >Company Templates<span
                          class="label label-secondary float-end"
                          >12</span
                        ></span
                      >
                    </span>
                  </label>
                </div>
                <a (click)="isCollapsed = !isCollapsed"
                  ><span class="btn btn-sm btn-primary-light"
                    ><i class="me-1"></i>Show More</span
                  >
                </a>
              </div>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Tags</h3>
          </div>
          <div class="card-body">
            <div class="container3">
              <div class="filter-product-checkboxs" >
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox1"
                    value="option1"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >admin dashboard<span
                        class="label label-secondary float-end"
                        >14</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox2"
                    value="option2"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >hospital directory<span
                        class="label label-secondary float-end"
                        >22</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox3"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >classified
                      <span class="label label-secondary float-end"
                        >78</span
                      ></span
                    >
                  </span>
                </label>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox4"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >html template<span
                        class="label label-secondary float-end"
                        >35</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox5"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >job template bootstrap<span
                        class="label label-secondary float-end"
                        >23</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox6"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >bootstrap 4 admin template<span
                        class="label label-secondary float-end"
                        >14</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >classes online training<span
                        class="label label-secondary float-end"
                        >45</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >auto classifieds<span
                        class="label label-secondary float-end"
                        >34</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >realestate site<span
                        class="label label-secondary float-end"
                        >12</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >ad listing<span class="label label-secondary float-end"
                        >18</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Education<span class="label label-secondary float-end"
                        >02</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Construction<span class="label label-secondary float-end"
                        >15</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Business<span class="label label-secondary float-end"
                        >32</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Beauty<span class="label label-secondary float-end"
                        >23</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Personal<span class="label label-secondary float-end"
                        >19</span
                      ></span
                    >
                  </span>
                </label>
                <label class="custom-control form-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    name="checkbox7"
                    value="option3"
                  />
                  <span class="custom-control-label">
                    <span class="text-dark"
                      >Company<span class="label label-secondary float-end"
                        >12</span
                      ></span
                    >
                  </span>
                </label>
                </div>
                  <a (click)="isCollapsed1 = !isCollapsed1"
                  ><span class="btn btn-sm btn-primary-light"
                    ><i class="me-1"></i>Show More</span
                  >
                </a>
              </div>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Price Range</h3>
          </div>
          <div class="card-body">
            <h6>
              <label for="price">Price Range:</label>
              <!-- <p>Min value: <input type="text" [(ngModel)]="minValue"></p>
              <p>Max value: <input type="text" [(ngModel)]="maxValue"></p> -->
               <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
            </h6>
            <div id="mySlider"></div>

          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Filter By</h3>
          </div>
          <div class="card-body">
            <div class="filter-product-checkboxs">
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox1"
                  value="option1"
                />
                <span class="custom-control-label">
                  Trending<span class="label label-secondary float-end"
                    >143</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  Best Seller<span class="label label-secondary float-end"
                    >54</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  Best Rated<span class="label label-secondary float-end"
                    >78</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                  checked
                />
                <span class="custom-control-label">
                  Newest Items<span class="label label-secondary float-end"
                    >34</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  Price Low To High<span class="label label-secondary float-end"
                    >87</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-0">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  Price High To Low<span class="label label-secondary float-end"
                    >75</span
                  >
                </span>
              </label>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Ratings</h3>
          </div>
          <div class="card-body">
            <div class="filter-product-checkboxs">
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox1"
                  value="option1"
                />
                <span class="custom-control-label">
                  All Ratings<span class="label label-secondary float-end"
                    >178</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  1 Star Ratings<span class="label label-secondary float-end"
                    >23</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  2 Star Ratings<span class="label label-secondary float-end"
                    >45</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  3 Star Ratings<span class="label label-secondary float-end"
                    >57</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  4 Star Ratings<span class="label label-secondary float-end"
                    >67</span
                  >
                </span>
              </label>
              <label class="custom-control form-checkbox mb-0">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label">
                  5 Star Ratings<span class="label label-secondary float-end"
                    >34</span
                  >
                </span>
              </label>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Posted By</h3>
          </div>
          <div class="card-body">
            <div class="filter-product-checkboxs">
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox1"
                  value="option1"
                />
                <span class="custom-control-label"> Company </span>
              </label>
              <label class="custom-control form-checkbox mb-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label"> Individual </span>
              </label>
              <label class="custom-control form-checkbox mb-0">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="checkbox2"
                  value="option2"
                />
                <span class="custom-control-label"> Freelancers </span>
              </label>
            </div>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0);" class="btn ripple btn-pink btn-block"
              >Apply Filter</a
            >
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Shares</h3>
          </div>
          <div class="card-body product-filter-desc">
            <div class="product-filter-icons text-center">
              <a href="javascript:void(0);" class="facebook-bg"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="javascript:void(0);" class="twitter-bg"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="javascript:void(0);" class="google-bg"
                ><i class="fa fa-google"></i
              ></a>
              <a href="javascript:void(0);" class="dribbble-bg"
                ><i class="fa fa-dribbble"></i
              ></a>
              <a href="javascript:void(0);" class="pinterest-bg"
                ><i class="fa fa-pinterest"></i
              ></a>
            </div>
          </div>
        </div>
