<!-- Start Switcher -->
<div #switcher class="switcher-wrapper">
  <div class="demo_changer">
    <div class="demo-icon bg_dark" id="toggle" (click)="toggleSwitcher()">
      <i class="fa fa-cog fa-spin text_primary"></i>
    </div>
    <div class="form_holder right-sidebar">
      <div class="row">
        <div class="predefined_styles">
          <div class="skin-theme-switcher">
            <div class="skin-theme-switcher">
              <div class="swichermainleft mt-2 text-center">
                <div class="p-3">
                  <a
                    href="https://angular.spruko.com/templist/"
                    class="btn btn-primary btn-block mt-0"
                    >View Demo</a
                  >
                  <a class="btn btn-secondary btn-block" href="https://themeforest.net/user/spruko/portfolio?gclid=CjwKCAjwvdajBhBEEiwAeMh1U1FZIa8UC3cgO7UsaxZf6J_ir5Db9rIh7owhtEbA3GwLEDsXJTD31xoCptcQAvD_BwE "
                    >Buy Now</a
                  >
                  <a
                    href="https://themeforest.net/user/sprukosoft/portfolio"
                    class="btn btn-info btn-block"
                    >Our Portfolio</a
                  >
                </div>
              </div>
              <div class="swichermainleft border-top text-center">
                <h4>LTR AND RTL VERSIONS</h4>
                <div class="switch_section p-3 m-0">
                  <div class="switch-toggle d-flex mt-2">
                    <span class="me-auto">LTR</span>
                    <p class="onoffswitch2 my-0">
                      <input
                        type="radio"
                        name="onoffswitch25"
                        id="myonoffswitch54"
                        class="onoffswitch2-checkbox"
                        checked=""
                      />
                      <label
                        for="myonoffswitch54"
                        class="onoffswitch2-label"
                      ></label>
                    </p>
                  </div>
                  <div class="switch-toggle d-flex mt-2">
                    <span class="me-auto">RTL</span>
                    <p class="onoffswitch2 my-0">
                      <input
                        type="radio"
                        name="onoffswitch25"
                        id="myonoffswitch55"
                        class="onoffswitch2-checkbox"
                      />
                      <label
                        for="myonoffswitch55"
                        class="onoffswitch2-label"
                      ></label>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swichermainleft border-top text-center">
                <h4>Themes</h4>
                <div class="switch_section p-3 m-0">
                  <div class="switch-toggle d-flex mt-2">
                    <span class="me-auto">Light Theme</span>
                    <p class="onoffswitch2 my-0">
                      <input
                        type="radio"
                        name="onoffswitch1"
                        id="myonoffswitch1"
                        class="onoffswitch2-checkbox"
                        checked=""
                      />
                      <label
                        for="myonoffswitch1"
                        class="onoffswitch2-label"
                      ></label>
                    </p>
                  </div>
                  <div class="switch-toggle d-flex mt-2">
                    <span class="me-auto">Dark theme</span>
                    <p class="onoffswitch2 my-0">
                      <input
                        type="radio"
                        name="onoffswitch1"
                        id="myonoffswitch2"
                        class="onoffswitch2-checkbox"
                      />
                      <label
                        for="myonoffswitch2"
                        class="onoffswitch2-label"
                      ></label>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swichermainleft border-top mt-2 text-center">
                <h4>Color Changes</h4>
                <div class="skin-body">
                  <div class="switch_section">
                    <div class="switch-toggle d-flex mt-2">
                      <span class="me-auto">Primary Color</span>
                      <div class="">
                        <ngx-colors
                          ngx-colors-trigger
                          [(ngModel)]="color1"
                          acceptLabel="Select"
                          class="color-primary-Bg"
                          data-id="bg-color"
                          data-id1="bg-hover"
                          data-id2="bg-border"
                          data-id9="transparentcolor"
                          (input)="dynamicBgPrimary($event)"
                        >
                        </ngx-colors>
                      </div>
                    </div>
                    <div class="switch-toggle d-flex mt-2">
                      <span class="me-auto">Secondary Color</span>
                      <div class="">
                        <ngx-colors
                          ngx-colors-trigger
                          [(ngModel)]="color13"
                          acceptLabel="Select"
                          class="color-secondary-Dark"
                          data-id4="color"
                          data-id3="hover"
                          data-id7="transparent"
                          (input)="dynamicBgSecondary($event)"
                        >
                        </ngx-colors>
                      </div>
                    </div>
                    <div class="switch-toggle d-flex mt-2">
                      <span class="me-auto">Background Color</span>
                      <div class="">
                        <ngx-colors
                          ngx-colors-trigger
                          [(ngModel)]="color4"
                          acceptLabel="Select"
                          class="color-bg-Dark"
                          data-id5="body"
                          data-id6="theme"
                          (input)="dynamicBgDarkPrimary($event)"
                        >
                        </ngx-colors>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swichermainleft border-top text-center">
                <h4>Header Styles</h4>
                <div class="skin-body">
                  <div class="switch_section">
                    <div class="switch-toggle d-flex">
                      <span class="me-auto">Default Header Style</span>
                      <div class="onoffswitch2">
                        <input
                          type="radio"
                          name="onoffswitch3"
                          id="myonoffswitch6"
                          class="onoffswitch2-checkbox"
                          checked
                        />
                        <label
                          for="myonoffswitch6"
                          class="onoffswitch2-label"
                        ></label>
                      </div>
                    </div>
                    <div class="switch-toggle d-flex mt-2">
                      <span class="me-auto">Header Style 1</span>
                      <div class="onoffswitch2">
                        <input
                          type="radio"
                          name="onoffswitch3"
                          id="myonoffswitch7"
                          class="onoffswitch2-checkbox"
                        />
                        <label
                          for="myonoffswitch7"
                          class="onoffswitch2-label"
                        ></label>
                      </div>
                    </div>
                    <div class="switch-toggle d-flex mt-2">
                      <span class="me-auto">Header Style 2</span>
                      <div class="onoffswitch2">
                        <input
                          type="radio"
                          name="onoffswitch3"
                          id="myonoffswitch8"
                          class="onoffswitch2-checkbox"
                        />
                        <label
                          for="myonoffswitch8"
                          class="onoffswitch2-label"
                        ></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swichermainleft border-top text-center">
                <h4>Menu Styles</h4>
                <div class="skin-body">
                  <div class="switch_section">
                    <div class="switch-toggle d-flex">
                      <span class="me-auto">Default Menu Style</span>
                      <div class="onoffswitch3">
                        <input
                          type="radio"
                          name="onoffswitch2"
                          id="myonoffswitch3"
                          class="onoffswitch3-checkbox"
                          checked
                        />
                        <label
                          for="myonoffswitch3"
                          class="onoffswitch3-label"
                        ></label>
                      </div>
                    </div>
                    <div class="switch-toggle mt-2 d-flex">
                      <span class="me-auto">Menu Style 1</span>
                      <div class="onoffswitch3">
                        <input
                          type="radio"
                          name="onoffswitch2"
                          id="myonoffswitch4"
                          class="onoffswitch3-checkbox"
                        />
                        <label
                          for="myonoffswitch4"
                          class="onoffswitch3-label"
                        ></label>
                      </div>
                    </div>
                    <div class="switch-toggle mt-2 d-flex">
                      <span class="me-auto">Menu Style 2</span>
                      <div class="onoffswitch3">
                        <input
                          type="radio"
                          name="onoffswitch2"
                          id="myonoffswitch5"
                          class="onoffswitch3-checkbox"
                        />
                        <label
                          for="myonoffswitch5"
                          class="onoffswitch3-label"
                        ></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swichermainleft border-top mt-2 text-center">
                <h4>Reset All Styles</h4>
                <div class="skin-body">
                  <div class="switch_section my-4">
                    <button
                      class="btn btn-danger btn-block"
                      (click)="reset()"
                      type="button"
                      id="reset-button"
                    >
                      Reset All
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Switcher -->
<!-- End Switcher -->

<ng-template #content let-modal>
  <!-- <div class="modal buynow show" aria-modal="true" role="dialog" style="display: block;"> -->
  <div class="buynow" role="document">
    <div
      class="modal-content-demo buynow-bg custon-bg-img"
      data-bs-image-src="./assets/switcher/img/16.jpg"
      style="background: url('./assets/switcher/img/16.jpg') center center"
    >
      <div class="modal-body px-0">
        <div class="row justify-content-center py-4 px-0 mx-3 Licenses-img">
          <h3 class="text-center mb-4 text-white">Licenses</h3>
          <button
            aria-label="Close"
            class="btn-close mb-2"
            data-bs-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true" (click)="modal.dismiss('Cross click')"
              >×</span
            >
          </button>
          <div class="col-sm-10 col-md-8 col-xl-5 col-lg-5">
            <div class="card border-0 regular-license">
              <div
                class="card-body imag-list cover-image custon-bg-img"
                data-bs-image-src="./assets/switcher/img/14.jpg"
                style="
                  background: url('./assets/switcher/img/14.jpg') center center;
                "
              >
                <div class="text-white">
                  <img
                    src="./assets/switcher/img/free.png"
                    alt=""
                    class="w-55 free-img"
                  />
                  <div class="text-center">
                    <div class="tx-26">
                      <span class="fw-medium">Regular</span> Licenses
                    </div>
                    <p class="fw-semi-bold mb-sm-2 mb-0">
                      You
                      <span class="text-success fw-semibold"
                        >can't charge
                      </span>
                      from your <br /><span class="op-8"
                        >End Product End Users</span
                      >
                    </p>
                    <div ngbDropdown class="dropdown">
                      <button
                        ngbDropdownToggle
                        class="btn btn-info w-lg dropdown-toggle mt-1"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Buy Now
                      </button>
                      <ul ngbDropdownMenu class="dropdown-menu py-0">
                        <a
                          ngbDropdownItem
                          class="dropdown-item border-bottom px-3"
                          target="_blank"
                          href="https://themeforest.net/user/spruko/portfolio"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs fw-semibold">Buy Now</p>
                            <span class="tx-12 op-7">6 months support</span>
                          </div>
                        </a>
                        <a
                          ngbDropdownItem
                          class="dropdown-item px-3"
                          target="_blank"
                          href="https://themeforest.net/user/spruko/portfolio"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs fw-semibold">Buy Now</p>
                            <span class="tx-12 op-7">12 months support</span>
                          </div>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-md-8 col-xl-5 col-lg-5">
            <div class="card border-0">
              <div
                class="card-body imag-list cover-image custon-bg-img"
                data-bs-image-src="./assets/switcher/img/15.jpg"
                style="
                  background: url('./assets/switcher/img/15.jpg') center center;
                "
              >
                <div class="text-white">
                  <img
                    src="./assets/switcher/img/money-bag.png"
                    alt=""
                    class="w-55 free-img"
                  />
                  <div class="text-center">
                    <div class="tx-26">
                      <span class="fw-medium">Extended</span> Licenses
                    </div>
                    <p class="fw-semi-bold mb-sm-2 mb-0">
                      You
                      <span class="text-warning fw-semibold">can charge</span>
                      from your <br /><span class="op-8"
                        >End Product End Users</span
                      >
                    </p>
                    <div ngbDropdown class="dropdown">
                      <button
                        ngbDropdownToggle
                        class="btn btn-info w-lg dropdown-toggle mt-1"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Buy Now
                      </button>
                      <ul ngbDropdownMenu class="dropdown-menu py-0">
                        <a
                          ngbDropdownItem
                          class="dropdown-item border-bottom px-3"
                          target="_blank"
                          href="https://themeforest.net/user/spruko/portfolio"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs fw-semibold">Buy Now</p>
                            <span class="tx-12 op-7">6 months support</span>
                          </div>
                        </a>
                        <a
                          ngbDropdownItem
                          class="dropdown-item px-3"
                          target="_blank"
                          href="https://themeforest.net/user/spruko/portfolio"
                        >
                          <div>
                            <p class="tx-14 mb-0 lh-xs fw-semibold">Buy Now</p>
                            <span class="tx-12 op-7">12 months support</span>
                          </div>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="license-view">
            <a
              href="https://spruko.com/licenses"
              target="_blank"
              class="modal-title text-center mb-3 tx-14 text-white"
              >View license details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ng-template>
