		<!--Section-->
		<app-bannering1 [title]="'Pricing'" [items]="['Home','Pages','Pricing']"></app-bannering1>

		<section class="sptb">
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-lg-4">
							<div class="card text-center mb-md-0">
								<div class="card-body price-1 p-6">
									<div class="card-status bg-primary"></div>
									<h3 class="card-title ">Single License</h3>
									<div class="display-4  mb-4 font-weight-semibold ">$12</div>
									<ul class="list-unstyled mb-0">
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Membership</li>
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Theme Updates</li>
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Support & updates</li>
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Forum Support</li>
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Unlimited Downloads</li>
									</ul>
									<a href="javascript:void(0);" class="btn ripple btn-primary mt-4">Select Plan</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="card text-center mb-md-0">
								<div class="card-body price-1 p-6">
									<div class="card-status bg-secondary"></div>
									<h3 class="card-title ">Multiple License</h3>
									<div class="display-4  mb-4 font-weight-semibold ">$24</div>
									<ul class="list-unstyled mb-0">
										<li><i class="fe fe-check text-success  me-2 d-inline-flex"></i>Membership</li>
										<li><i class="fe fe-check text-success  me-2 d-inline-flex"></i>Theme Updates</li>
										<li><i class="fe fe-check text-success  me-2 d-inline-flex"></i>Support & updates</li>
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Forum Support</li>
										<li><i class="fe fe-x text-danger me-2 d-inline-flex"></i>Unlimited Downloads</li>
									</ul>
									<a href="javascript:void(0);" class="btn ripple mt-4 btn-secondary">Select Plan</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="card text-center mb-0">
								<div class="card-body price-1 p-6">
									<div class="card-status bg-info"></div>
									<h3 class="card-title">Extended License</h3>
									<div class="display-4  mb-4 font-weight-semibold ">$78</div>
									<ul class="list-unstyled mb-0">
										<li><i class="fe fe-check text-success  me-2 d-inline-flex"></i>Membership</li>
										<li><i class="fe fe-check text-success  me-2 d-inline-flex"></i>Theme Updates</li>
										<li><i class="fe fe-check text-success  me-2 d-inline-flex"></i>Support & updates</li>
										<li><i class="fe fe-check text-success text-danger me-2 d-inline-flex"></i>Forum Support</li>
										<li><i class="fe fe-check text-success text-danger me-2 d-inline-flex"></i>Unlimited Downloads</li>
									</ul>
									<a href="javascript:void(0);" class="btn ripple btn-info mt-4">Select Plan</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Pricing Tables 1-->

		<!--Pricing Tables 2-->
		<div class="sptb bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Another Pricing</h2>
					<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
				<div class="row">
					<div class="col-sm-6 col-xl-3 col-md-6 my-1">
						<div class="pricing-table mb-lg-0">
							<div class="price-header">
								<h3 class="title">Basic</h3>
								<div class="price">
									<span class="dollar">$</span>0
								</div>
								<span class="permonth">Free License</span>
							</div>
							<div class="price-body">
								<ul>
									<li><b>0</b> Demos Included</li>
									<li><b>Forum</b> Support</li>
									<li><b>Limited</b> Domain Usage</li>
									<li><b> 0 Year</b> Support & Updates</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div>
							<div class="price-footer">
								<a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xl-3 col-md-6 my-1">
						<div class="pricing-table mb-lg-0">
							<div class="price-header">
								<h3 class="title">Premium</h3>
								<div class="price">
									<span class="dollar">$</span>10
								</div>
								<span class="permonth">Monthly License</span>
							</div>
							<div class="price-body">
								<ul>
									<li><b>5</b> Demos Included</li>
									<li><b>Forum</b> Support</li>
									<li><b>Unlimited</b> Domain Usage</li>
									<li><b> 1 Year</b> Support & Updates</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div>
							<div class="price-footer">
								<a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xl-3 col-md-6 my-1">
						<div class="pricing-table active mb-md-0">
							<div class="price-header bg-primary">
								<h3 class="title text-white">Enterprise</h3>
								<div class="price text-white"><span class="dollar">$</span>23</div>
								<span class="permonth">Yearly License</span>
							</div>
							<div class="price-body">
								<ul>
									<li><b>10</b> Demos Included</li>
									<li><b>Forum</b> Support</li>
									<li><b>Unlimited</b> Domain Usage</li>
									<li><b> 2 Years</b> Support & Updates</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div>
							<div class="price-footer">
								<a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xl-3 col-md-6 my-1">
						<div class="pricing-table mb-0">
							<div class="price-header">
								<h3 class="title">Unlimited</h3>
								<div class="price"><span class="dollar">$</span>10</div>
								<span class="permonth">Yearly License</span>
							</div>
							<div class="price-body">
								<ul>
									<li><b>Unlimited</b> Demos Included</li>
									<li><b>Forum</b> Support</li>
									<li><b>Unlimited</b> Domain Usage</li>
									<li><b> 5 Years</b> Support & Updates</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div>
							<div class="price-footer">
								<a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);">Buy Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Pricing Tables 2-->

		<!-- Onlinesletter-->
		<section class="sptb border-top">
			<app-subscribe-page></app-subscribe-page>
		</section>
		<!--/Onlinesletter-->
