<!--Rightside Content-->

<div class="card">
  <div class="card-body">
    <div class="input-group">
      <input
        type="text"
        class="form-control br-ts-3 br-bs-3 ht-40"
        placeholder="Search"
      />
      <button type="button" class="btn ripple btn-primary br-te-3 br-be-3">
        Search
      </button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Categories</h3>
  </div>
  <div class="card-body p-0">
    <div class="list-catergory">
      <div class="item-list">
        <ul class="list-group mb-0">
          <li class="list-group-item">
            <a href="javascript:void(0);" class="text-dark">
              HTML
              <span class="badgetext badge bg-pill bg-light mb-0 mt-1">14</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0);" class="text-dark">
              Wordpress
              <span class="badgetext badge bg-pill bg-light mb-0 mt-1">63</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0);" class="text-dark">
              PHP
              <span class="badgetext badge bg-pill bg-light mb-0 mt-1">25</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0);" class="text-dark">
              Angular
              <span class="badgetext badge bg-pill bg-light mb-0 mt-1">74</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0);" class="text-dark">
              Psd
              <span class="badgetext badge bg-pill bg-light mb-0 mt-1">18</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0);" class="text-dark">
              Other
              <span class="badgetext badge bg-pill bg-light mb-0 mt-1">32</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Latest Posts</h3>
  </div>
  <div class="card-body pb-3">
    <div class="rated-products">
      <ul class="vertical-scroll">
        <li class="item">
          <div class="media m-0 mt-0 p-5">
            <img
              class="me-4 border-0 p-0 br-4"
              src="./assets/images/media/9.jpg"
              alt="img"
            />
            <div class="media-body">
              <h5 class="mb-2 fs-14">
                <a href="javascript:void(0);" class="text-dark"
                  >Eos et accusamus et iusto odio praesentium voluptatum
                  deleniti</a
                >
              </h5>
              <small class="text-muted me-4"
                ><i class="fe fe-calendar me-1"></i>25 Nov, 19</small
              >
              <small class="text-muted"
                ><i class="fe fe-user me-1"></i>Lily</small
              >
            </div>
          </div>
        </li>
        <li class="item">
          <div class="media p-5 mt-0">
            <img
              class="me-4 border-0 p-0 br-4"
              src="./assets/images/media/10.jpg"
              alt="img"
            />
            <div class="media-body">
              <h5 class="mb-2 fs-14">
                <a href="javascript:void(0);" class="text-dark"
                  >Odio praesentium voluptatum deleniti</a
                >
              </h5>
              <small class="text-muted me-4"
                ><i class="fe fe-calendar me-1"></i>12 Dec, 19</small
              >
              <small class="text-muted"
                ><i class="fe fe-user me-1"></i>Blake</small
              >
            </div>
          </div>
        </li>
        <li class="item">
          <div class="media p-5 mt-0">
            <img
              class="me-4 border-0 p-0 br-4"
              src="./assets/images/media/11.jpg"
              alt="img"
            />
            <div class="media-body">
              <h5 class="mb-2 fs-14">
                <a href="javascript:void(0);" class="text-dark"
                  >Eos et accusamus praesentium voluptatum deleniti</a
                >
              </h5>
              <small class="text-muted me-4"
                ><i class="fe fe-calendar me-1"></i>15 Nov, 19</small
              >
              <small class="text-muted"
                ><i class="fe fe-user me-1"></i>Carl</small
              >
            </div>
          </div>
        </li>
        <li class="item">
          <div class="media p-5 mt-0">
            <img
              class="me-4 border-0 p-0 br-4"
              src="./assets/images/media/12.jpg"
              alt="img"
            />
            <div class="media-body">
              <h5 class="mb-2 fs-14">
                <a href="javascript:void(0);" class="text-dark"
                  >Et accusamus et iusto voluptatum deleniti</a
                >
              </h5>
              <small class="text-muted me-4"
                ><i class="fe fe-calendar me-1"></i>25 Dec, 19</small
              >
              <small class="text-muted"
                ><i class="fe fe-user me-1"></i>Joan</small
              >
            </div>
          </div>
        </li>
        <li class="item">
          <div class="media mb-0 p-5 mt-0">
            <img
              class="me-4 border-0 p-0 br-4"
              src="./assets/images/media/13.jpg"
              alt="img"
            />
            <div class="media-body">
              <h5 class="mb-2 fs-14">
                <a href="javascript:void(0);" class="text-dark"
                  >Odio praesentium voluptatum deleniti</a
                >
              </h5>
              <small class="text-muted me-4"
                ><i class="fe fe-calendar me-1"></i>11 Jan, 20</small
              >
              <small class="text-muted"
                ><i class="fe fe-user me-1"></i>Jake</small
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Popular Tags</h3>
  </div>
  <div class="card-body">
    <div class="product-tags clearfix">
      <ul class="list-unstyled mb-0">
        <li><a href="javascript:void(0);">HTML5</a></li>
        <li><a href="javascript:void(0);">Wordpress</a></li>
        <li><a href="javascript:void(0);">Admin Template</a></li>
        <li><a href="javascript:void(0);">PSD</a></li>
        <li><a href="javascript:void(0);">Plugins</a></li>
        <li><a href="javascript:void(0);">PHP</a></li>
        <li><a href="javascript:void(0);">Listing Template</a></li>
        <li><a href="javascript:void(0);">Angular</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Blog Authors</h3>
  </div>
  <div class="card-body p-0">
    <ul class="vertical-scroll">
      <li class="item2">
        <div class="footerimg d-flex mt-0 mb-0">
          <div class="d-flex footerimg-l mb-0">
            <img
              src="./assets/images/users/female/18.jpg"
              alt="image"
              class="avatar brround me-2"
            />
            <a
              href="javascript:void(0);"
              class="time-title p-0 leading-normal mt-2"
              >Boris Nash
              <i
                class="icon icon-check text-success fs-12 ms-1"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=""
                data-bs-original-title="verified"
              ></i
            ></a>
          </div>
          <div class="mt-2 footerimg-r ms-auto">
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Articles"
              ><span class="text-muted me-2"
                ><i class="fa fa-comment-o"></i> 16</span
              ></a
            >
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Likes"
              ><span class="text-muted"
                ><i class="fa fa-thumbs-o-up"></i> 36</span
              ></a
            >
          </div>
        </div>
      </li>
      <li class="item2">
        <div class="footerimg d-flex mt-0 mb-0">
          <div class="d-flex footerimg-l mb-0">
            <img
              src="./assets/images/users/female/10.jpg"
              alt="image"
              class="avatar brround me-2"
            />
            <a
              href="javascript:void(0);"
              class="time-title p-0 leading-normal mt-2"
              >Lorean Mccants
              <i
                class="icon icon-check text-success fs-12 ms-1"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=""
                data-bs-original-title="verified"
              ></i
            ></a>
          </div>
          <div class="mt-2 footerimg-r ms-auto">
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Articles"
              ><span class="text-muted me-2"
                ><i class="fa fa-comment-o"></i> 43</span
              ></a
            >
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Likes"
              ><span class="text-muted"
                ><i class="fa fa-thumbs-o-up"></i> 23</span
              ></a
            >
          </div>
        </div>
      </li>
      <li class="item2">
        <div class="footerimg d-flex mt-0 mb-0">
          <div class="d-flex footerimg-l mb-0">
            <img
              src="./assets/images/users/male/18.jpg"
              alt="image"
              class="avatar brround me-2"
            />
            <a
              href="javascript:void(0);"
              class="time-title p-0 leading-normal mt-2"
              >Dewitt Hennessey
              <i
                class="icon icon-check text-success fs-12 ms-1"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=""
                data-bs-original-title="verified"
              ></i
            ></a>
          </div>
          <div class="mt-2 footerimg-r ms-auto">
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Articles"
              ><span class="text-muted me-2"
                ><i class="fa fa-comment-o"></i> 34</span
              ></a
            >
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Likes"
              ><span class="text-muted"
                ><i class="fa fa-thumbs-o-up"></i> 12</span
              ></a
            >
          </div>
        </div>
      </li>
      <li class="item2">
        <div class="footerimg d-flex mt-0 mb-0">
          <div class="d-flex footerimg-l mb-0">
            <img
              src="./assets/images/users/male/8.jpg"
              alt="image"
              class="avatar brround me-2"
            />
            <a
              href="javascript:void(0);"
              class="time-title p-0 leading-normal mt-2"
              >Archie Overturf
              <i
                class="icon icon-check text-success fs-12 ms-1"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=""
                data-bs-original-title="verified"
              ></i
            ></a>
          </div>
          <div class="mt-2 footerimg-r ms-auto">
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Articles"
              ><span class="text-muted me-2"
                ><i class="fa fa-comment-o"></i> 12</span
              ></a
            >
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Likes"
              ><span class="text-muted"
                ><i class="fa fa-thumbs-o-up"></i> 32</span
              ></a
            >
          </div>
        </div>
      </li>
      <li class="item2">
        <div class="footerimg d-flex mt-0 mb-0">
          <div class="d-flex footerimg-l mb-0">
            <img
              src="./assets/images/users/female/1.jpg"
              alt="image"
              class="avatar brround me-2"
            />
            <a
              href="javascript:void(0);"
              class="time-title p-0 leading-normal mt-2"
              >Barbra Flegle
              <i
                class="icon icon-check text-success fs-12 ms-1"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title=""
                data-bs-original-title="verified"
              ></i
            ></a>
          </div>
          <div class="mt-2 footerimg-r ms-auto">
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Articles"
              ><span class="text-muted me-2"
                ><i class="fa fa-comment-o"></i> 21</span
              ></a
            >
            <a
              href="javascript:void(0);"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              data-bs-original-title="Likes"
              ><span class="text-muted"
                ><i class="fa fa-thumbs-o-up"></i> 32</span
              ></a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--/Rightside Content-->
