<!--Page-->
<div class="error-image construction-image1">
	<div class="page page-h">
		<div class="construction">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-8 col-xl-7 d-block mx-auto ">
						<div class="br-7 p-6 mb-0">
							<h3 class="mb-2 text-center ">Under Maintenance</h3>
							<p>Our website is currently undergoing scheduled maintenance. We Should be back shortly. Thank you for your patience.</p>
							<div id="launch_date" class="is-countdown">
								<ul class="countdown">
									<li><span class="number">{{days}}</span><br>
										<span class="time">Days</span>
									</li>
									<li><span class="number">{{hours}}</span><br>
										<span class="time">Hours</span>
									</li>
									<li><span class="number">{{minutes}}</span><br>
										<span class="time">Minutes</span>
									</li>
									<li><span class="number">{{seconds}}</span><br>
										<span class="time">Seconds</span>
									</li>
								</ul>
							</div>
							<div class="input-group-1 justify-content-center d-flex mb-5">
								<input type="text" class="form-control border-0" placeholder="subscribe"><button type="button" class="btn ripple  btn-secondary ps-5 pe-5 ms-3">Subscribe</button>
							</div>
							<div class="mt-5">
								<button aria-label="facebook" class="btn ripple  btn-icon" type="button">
									<span class="btn-inner--icon">
										<i class="fa fa-facebook-f"></i>
									</span>
								</button>
								<button aria-label="google" class="btn ripple  btn-icon" type="button">
									<span class="btn-inner--icon">
										<i class="fa fa-google"></i>
									</span>
								</button>
								<button aria-label="twitter" class="btn ripple  btn-icon" type="button">
									<span class="btn-inner--icon">
										<i class="fa fa-twitter"></i>
									</span>
								</button>
								<button aria-label="pinterest" class="btn ripple  btn-icon" type="button">
									<span class="btn-inner--icon">
										<i class="fa fa-pinterest-p"></i>
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--/Page-->
</div>