<div class="banner1 banner-top cover-image user-pattern">
  <div class="header-main">
    <app-top-bar></app-top-bar>
    <app-header-search></app-header-search>
    <div
      id="sticky-wrapper"
      class="sticky-wrapper"
      style="height: 31.5781px"
      [ngClass]="{ 'is-sticky': scrolled }"
    >
      <app-horizontal-header></app-horizontal-header>
    </div>
    <div
      id="sticky-wrapper"
      class="sticky-wrapper"
      style="height: px"
      [ngClass]="{ 'is-sticky': scrolled }"
    >
      <div class="header-style horizontal-main clearfix">
        <app-horizontal-main ></app-horizontal-main>
      </div>
    </div>
  </div>
  <ngb-carousel
    [interval]="9000"
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    class="owl-carousel bannner-owl-carousel1 slider slider-header banner-height slide-banner"
  >
    <ng-template ngbSlide>
      <div class="item cover-image">
        <div
          class="slider-img user-pattern"
          style="background-image: url(./assets/images/banners/banner8.jpg)"
        ></div>
        <div class="banner-text mb-0">
          <div class="container">
            <div class="row">
              <div class="col-md-8 d-block mx-auto">
                <h1 class="banner-title">
                  56,897 More Premium <br />Themes & Website Templates
                </h1>
                <p class="banner-desc">
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text.
                </p>
                <a href="javascript:void(0);" class="btn ripple btn-secondary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="item cover-image">
        <div
          class="slider-img"
          style="background-image: url(./assets/images/banners/banner9.jpg)"
        ></div>
        <div class="banner-text banner-search mb-0">
          <div class="container">
            <div class="row">
              <div class="col-md-8 d-block mx-auto">
                <h1 class="banner-title">
                  Build A Best Designs For<br />
                  Your Marketplace
                </h1>
                <p class="banner-desc">
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text.
                </p>
                <div class="row">
                  <div class="col-xl-7 col-lg-12 col-md-12 d-block mx-auto">
                    <div class="search-form">
                      <input
                        type="text"
                        class="form-control input-lg border-0"
                        id="text4"
                        placeholder="Search Product....."
                      />
                      <button class="btn ripple">
                        <i class="fe fe-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="item cover-image">
        <div
          class="slider-img"
          style="background-image: url(./assets/images/banners/banner7.jpg)"
        ></div>
        <div class="banner-text mb-0">
          <div class="container">
            <div class="row">
              <div class="col-md-8 d-block mx-auto">
                <h1 class="banner-title">
                  The Best <span class="font-weight-semibold"> Own Designs</span
                  ><br />
                  Templates Marketplace
                </h1>
                <p class="banner-desc">
                  If you are going to use a passage of Lorem Ipsum, you need to
                  be sure there isn't anything embarrassing hidden in the middle
                  of text.
                </p>
                <div class="btn-list">
                  <a
                    href="javascript:void(0);"
                    class="btn ripple btn-secondary me-2"
                    >Browse Templates
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="btn ripple btn-dark btn-lg me-2"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<!-- Section-->
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto templist">
        <div class="card mb-0 box-shadow">
          <div class="card-body">
            <div class="row row-sm">
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="HTML"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/1.png"
                    class="htms-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Wordpress"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/2.png"
                    class="wd-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Angular"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/3.png"
                    class="ang-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Photoshop"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/4.png"
                    class="psd-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="PHP"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/5.png"
                    class="br-3 ph-bg"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="React"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/6.png"
                    class="re-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Bootstrap"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/7.png"
                    class="boots-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Vuejs"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/8.png"
                    class="vue-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Laravel"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/9.png"
                    class="lar-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="nodejs"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/10.png"
                    class="node-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="Webpack"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/11.png"
                    class="web-bg br-3"
                    alt="img"
                  />
                </a>
              </div>
              <div class="col-3 col-md-2 col-lg-1">
                <a
                  href="javascript:void(0);"
                  class="software-cat"
                  placement="top"
                  ngbTooltip="More"
                  container="body"
                >
                  <img
                    src="./assets/images/png/softwares/12.png"
                    class="bg-primary br-3"
                    alt="img"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>New Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <app-card-template2></app-card-template2>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Features</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="item-all-cat center-block text-center">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="card mb-lg-0 service-widgets">
            <div class="p-4">
              <div class="status-info text-center">
                <div
                  class="icon-service3 bg-primary-transparent text-center mb-4"
                >
                  <i class="las la-anchor la-3x text-primary"></i>
                </div>
                <h3 class="mt-2 mb-2">Secure Payment</h3>
                <p class="text-muted mb-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="card mb-lg-0 service-widgets">
            <div class="p-4">
              <div class="status-info text-center">
                <div
                  class="icon-service3 bg-secondary-transparent text-center mb-4"
                >
                  <i class="las la-fill-drip la-3x text-secondary"></i>
                </div>
                <h3 class="mt-2 mb-2">Quality Products</h3>
                <p class="text-muted mb-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="card service-widgets">
            <div class="p-4">
              <div class="status-info text-center">
                <div class="icon-service3 bg-info-transparent text-center mb-4">
                  <i class="las la-headset la-3x text-info"></i>
                </div>
                <h3 class="mt-2 mb-2">24/7 Customer Support</h3>
                <p class="text-muted mb-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Latest Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>

    <div class="panel panel-primary">
      <div class="">
        <div class="tabs-menu">
          <!-- Tabs -->
          <app-nav-template2></app-nav-template2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Download</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-wrap">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn ripple btn-primary m-1"
              ><i class="fa fa-apple fa-1x me-2"></i> App Store</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-secondary m-1"
              ><i class="fa fa-android fa-1x me-2"></i> Google Play</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-info m-1"
              ><i class="fa fa-windows fa-1x me-2"></i> Windows</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container homepage9">
    <div class="section-title center-block text-center">
      <h2 class="position-relative">Testimonials</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <ngb-carousel
            [interval]="2000"
            [showNavigationArrows]="true"
            [showNavigationIndicators]="false"
            class="carousel slide"
          >
            <ng-template ngbSlide>
              <div class="item">
                <div class="row">
                  <div class="col-xl-10 col-md-12 d-block mx-auto">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card mb-lg-0">
                          <div class="card-body">
                            <div class="d-flex testimonia mb-3">
                              <a routerLink="/pages/otherpages-3/testimonials"></a>
                              <div class="media-left d-flex owl-mediaimg">
                                <img
                                  src="./assets/images/users/female/2.jpg"
                                  alt=""
                                  class="avatar avatar-xl brround"
                                />
                              </div>
                              <div class="media-body">
                                <div class="ms-3 mt-4">
                                  <p class="overview text-dark">
                                    <b>Paula Wilson</b>, Media Analyst
                                  </p>
                                  <div class="">
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-half-o text-warning me-1"
                                      ></i
                                    ></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="text-muted mb-0">
                              Sed ut perspiciatis unde omnis doloremque
                              laudantium, totam rem aperiam, eaque ipsa quae ab
                              illo inventore veritatis et quasi architecto
                              beatae vitae dicta sunt explicabo.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card mb-0">
                          <div class="card-body">
                            <div class="d-flex testimonia mb-3">
                              <a routerLink="/pages/otherpages-3/testimonials"></a>
                              <div class="media-left d-flex owl-mediaimg">
                                <img
                                  src="./assets/images/users/male/2.jpg"
                                  alt=""
                                  class="avatar avatar-xl brround"
                                />
                              </div>
                              <div class="media-body">
                                <div class="ms-3 mt-4">
                                  <p class="overview text-dark">
                                    <b>Antonio Moreno</b>, Web Developer
                                  </p>
                                  <div class="">
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-half-o text-warning"
                                      ></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-o text-warning me-1"
                                      ></i
                                    ></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="text-muted mb-0">
                              Sed ut perspiciatis unde omnis doloremque
                              laudantium, totam rem aperiam, eaque ipsa quae ab
                              illo inventore veritatis et quasi architecto
                              beatae vitae dicta sunt explicabo.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="item">
                <div class="row">
                  <div class="col-xl-10 col-md-12 d-block mx-auto">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card mb-lg-0">
                          <div class="card-body">
                            <div class="d-flex testimonia mb-3">
                              <a routerLink="/pages/otherpages-3/testimonials"></a>
                              <div class="media-left d-flex owl-mediaimg">
                                <img
                                  src="./assets/images/users/female/3.jpg"
                                  alt=""
                                  class="avatar avatar-xl brround"
                                />
                              </div>
                              <div class="media-body">
                                <div class="ms-3 mt-4">
                                  <p class="overview text-dark">
                                    <b>Paula Wilson</b>, Media Analyst
                                  </p>
                                  <div class="mb-0">
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-half-o text-warning"
                                      ></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-o text-warning me-1"
                                      ></i
                                    ></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="text-muted mb-0">
                              But I must explain to you how all this mistaken
                              idea of denouncing teachings of the great explorer
                              of the truth, the master-builder of human
                              happiness.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card mb-lg-0">
                          <div class="card-body">
                            <div class="d-flex testimonia mb-3">
                              <a routerLink="/pages/otherpages-3/testimonials"></a>
                              <div class="media-left d-flex owl-mediaimg">
                                <img
                                  src="./assets/images/users/male/3.jpg"
                                  alt=""
                                  class="avatar avatar-xl brround"
                                />
                              </div>
                              <div class="media-body">
                                <div class="ms-3 mt-4">
                                  <p class="overview text-dark">
                                    <b>Antonio Moreno</b>, Web Developer
                                  </p>
                                  <div class="mb-0">
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star text-warning"></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-half-o text-warning"
                                      ></i
                                    ></span>
                                    <span
                                      ><i class="fa fa-star-o text-warning"></i
                                    ></span>
                                    <span
                                      ><i
                                        class="fa fa-star-o text-warning me-1"
                                      ></i
                                    ></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="text-muted mb-0">
                              But I must explain to you how all this mistaken
                              idea of denouncing teachings of the great explorer
                              of the truth, the master-builder of human
                              happiness.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="row">
                <div class="col-xl-10 col-md-12 d-block mx-auto">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card mb-lg-0">
                        <div class="card-body">
                          <div class="d-flex testimonia mb-3">
                            <a routerLink="/pages/otherpages-3/testimonials"></a>
                            <div class="media-left d-flex owl-mediaimg">
                              <img
                                src="./assets/images/users/female/4.jpg"
                                alt=""
                                class="avatar avatar-xl brround"
                              />
                            </div>
                            <div class="media-body">
                              <div class="ms-3 mt-4">
                                <p class="overview text-dark">
                                  <b>Paula Wilson</b>, Media Analyst
                                </p>
                                <div class="mb-0">
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i
                                      class="fa fa-star-half-o text-warning me-1"
                                    ></i
                                  ></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p class="text-muted mb-0">
                            Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur
                            magni dolores eos qui ratione voluptatem sequi
                            nesciunt.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card mb-0">
                        <div class="card-body">
                          <div class="d-md-flex testimonia mb-3">
                            <a routerLink="/pages/otherpages-3/testimonials"></a>
                            <div class="media-left d-flex owl-mediaimg">
                              <img
                                src="./assets/images/users/male/4.jpg"
                                alt=""
                                class="avatar avatar-xl brround"
                              />
                            </div>
                            <div class="media-body">
                              <div class="ms-3 mt-4">
                                <p class="overview text-dark">
                                  <b>Antonio Moreno</b>, Web Developer
                                </p>
                                <div class="mb-0">
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i class="fa fa-star text-warning"></i
                                  ></span>
                                  <span
                                    ><i
                                      class="fa fa-star-half-o text-warning"
                                    ></i
                                  ></span>
                                  <span
                                    ><i
                                      class="fa fa-star-o text-warning me-1"
                                    ></i
                                  ></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p class="text-muted mb-0">
                            Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur
                            magni dolores eos qui ratione voluptatem sequi
                            nesciunt.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>News</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row news">
      <div class="col-lg-4 col-md-6 col-xl-4">
        <div class="card mb-lg-0">
          <div class="item7-card-img">
            <a href="javascript:void(0);"></a>
            <img
              src="./assets/images/media/12.jpg"
              alt="img"
              class="cover-image"
            />
          </div>
          <div class="card-body p-4">
            <div class="item7-card-desc d-flex mb-2">
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar-o me-2"></i>Dec-03-2020</a
              >
              <div class="ms-auto">
                <a href="javascript:void(0);"
                  ><i class="fa fa-comment-o me-2"></i>4 Comments</a
                >
              </div>
            </div>
            <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
              ><h3 class="font-weight-semibold">
                Nemo enim ipsam voluptatem
              </h3></a
            >
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip commodo consequat
            </p>
            <div class="d-flex align-items-center pt-2 mt-auto">
              <img
                src="./assets/images/users/male/5.jpg"
                class="avatar brround avatar-md me-3"
                alt="avatar-img"
              />
              <div>
                <a href="profile.html" class="text-default">Joanne Nash</a>
                <small class="d-block text-muted">1 day ago</small>
              </div>
              <div class="ms-auto text-muted">
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3"
                  ><i class="fe fe-heart me-1"></i
                ></a>
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3"
                  ><i class="fa fa-thumbs-o-up"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xl-4">
        <div class="card mb-lg-0">
          <div class="item7-card-img">
            <a href="javascript:void(0);"></a>
            <img
              src="./assets/images/media/14.jpg"
              alt="img"
              class="cover-image"
            />
          </div>
          <div class="card-body p-4">
            <div class="item7-card-desc d-flex mb-2">
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar-o me-2"></i>Nov-28-2020</a
              >
              <div class="ms-auto">
                <a href="javascript:void(0);"
                  ><i class="fa fa-comment-o me-2"></i>2 Comments</a
                >
              </div>
            </div>
            <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
              ><h3 class="font-weight-semibold">
                Sed ut perspiciatis unde iste
              </h3></a
            >
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip commodo consequat
            </p>
            <div class="d-flex align-items-center pt-2 mt-auto">
              <img
                src="./assets/images/users/male/7.jpg"
                class="avatar brround avatar-md me-3"
                alt="avatar-img"
              />
              <div>
                <a href="profile.html" class="text-default">Tanner Mallari</a>
                <small class="d-block text-muted">2 days ago</small>
              </div>
              <div class="ms-auto text-muted">
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3"
                  ><i class="fe fe-heart me-1"></i
                ></a>
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3"
                  ><i class="fa fa-thumbs-o-up"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xl-4">
        <div class="card mb-0">
          <div class="item7-card-img">
            <a href="javascript:void(0);"></a>
            <img
              src="./assets/images/media/13.jpg"
              alt="img"
              class="cover-image"
            />
          </div>
          <div class="card-body p-4">
            <div class="item7-card-desc d-flex mb-2">
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar-o me-2"></i>Nov-19-2020</a
              >
              <div class="ms-auto">
                <a href="javascript:void(0);"
                  ><i class="fa fa-comment-o text-muted me-2"></i>8 Comments</a
                >
              </div>
            </div>
            <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
              ><h3 class="font-weight-semibold">
                At vero eos et accusamus iusto
              </h3></a
            >
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip commodo consequat
            </p>
            <div class="d-flex align-items-center pt-2 mt-auto">
              <img
                src="./assets/images/users/female/15.jpg"
                class="avatar brround avatar-md me-3"
                alt="avatar-img"
              />
              <div>
                <a href="profile.html" class="text-default">Aracely Bashore</a>
                <small class="d-block text-muted">5 days ago</small>
              </div>
              <div class="ms-auto text-muted">
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3"
                  ><i class="fe fe-heart me-1"></i
                ></a>
                <a
                  href="javascript:void(0)"
                  class="icon d-none d-md-inline-block ms-3"
                  ><i class="fa fa-thumbs-o-up"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Section-->
<section>
  <div
    class="cover-image sptb bg-background-color custon-bg-img"
    data-bs-image-src="./assets/images/banners/banner4.jpg"
  >
    <div class="content-text mb-0">
      <div class="content-text mb-0">
        <div class="container">
          <div class="text-center text-white">
            <h2 class="mb-2 fs-35">Subscribe</h2>
            <p class="fs-16">
              It is a long established fact that a reader will be distracted by
              the readable.
            </p>
            <div class="row">
              <div class="col-lg-8 mx-auto d-block">
                <div class="mt-5">
                  <div class="input-group sub-input mt-1">
                    <input
                      type="text"
                      class="form-control input-lg"
                      placeholder="Enter your Email"
                    />
                    <button
                      type="button"
                      class="btn ripple btn-secondary br-te-3 br-be-3"
                    >
                      Subscribe
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->
