<!--Page-->
<div class="error-image construction-image1">
  <div class="page page-h">
    <div class="page-content z-index-10">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
            <div class="single-page w-100 p-0">
              <div class="wrapper wrapper2">
                <form id="forgotpsd" class="card-body">
                  <div class="text-center mb-4">
                    <img
                      class="avatar avatar-xxl brround cover-image"
                      src="./assets/images/users/male/3.jpg"
                      alt="img"
                    />
                  </div>
                  <span class="m-4 d-none d-lg-block text-center">
                    <span class="text-dark"><strong>Jacob Smith</strong></span>
                  </span>
                  <div class="passwd">
                    <input type="password" name="password" />
                    <label>Password</label>
                  </div>
                  <a
                    href="javascript:void(0);"
                    class="btn ripple btn-primary btn-block"
                    >Unlock</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Page-->
