<!-- <section> -->
<div
  class="cover-image bg-background3 user-pattern-4 custon-bg-img"
  data-bs-image-src="./assets/images/banners/banner4.jpg"
>
  <div class="bannerimg">
    <div class="header-text mb-0">
      <div class="container">
        <div class="text-center text-white">
          <h1>{{ title }}</h1>
          <ol class="breadcrumb text-center">
            <li class="breadcrumb-item" *ngFor="let item of items; let last = last">
              <a href="javascript:void(0);" [class.text-white]="last">{{ item }}</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->
