<!--Secion-->

<app-bannering
  [title]="'Blog-Grid'"
  [items]="['Home', 'Blog', 'Blog-Grid']"
></app-bannering>
<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="row blog-grid">
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="item7-card-img">
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop></a>
                <img
                  src="./assets/images/media/9.jpg"
                  alt="img"
                  class="cover-image"
                />
              </div>
              <div class="card-body">
                <h4 class="fs-20">
                  <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="text-dark"
                    >Contrary to popular belief</a
                  >
                </h4>
                <div class="item7-card-desc d-flex mb-2 mt-2">
                  <a href="javascript:void(0);" class="text-muted"
                    ><i class="fa fa-calendar-o me-2"></i>Dec-03-2020</a
                  >
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-muted me-0"
                      ><i class="fa fa-comment-o me-2"></i>4 Comments</a
                    >
                  </div>
                </div>
                <p class="fs-14">
                  Ut enim ad minima veniam, quis exercitationem into enim ad
                  minima veniam, quis nostrum itationem
                </p>
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="btn ripple btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="item7-card-img">
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop></a>
                <img
                  src="./assets/images/media/10.jpg"
                  alt="img"
                  class="cover-image"
                />
              </div>
              <div class="card-body">
                <h4 class="fs-20">
                  <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="text-dark"
                    >Sed do eiusmod tempor incididunt</a
                  >
                </h4>
                <div class="item7-card-desc d-flex mb-2 mt-2">
                  <a href="javascript:void(0);" class="text-muted"
                    ><i class="fa fa-calendar-o me-2"></i>Nov-28-2020</a
                  >
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-muted me-0"
                      ><i class="fa fa-comment-o me-2"></i>2 Comments</a
                    >
                  </div>
                </div>
                <p class="fs-14">
                  Ut enim ad minima veniam, quis exercitationem into enim ad
                  minima veniam, quis nostrum itationem
                </p>
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="btn ripple btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="item7-card-img">
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop></a>
                <img
                  src="./assets/images/media/11.jpg"
                  alt="img"
                  class="cover-image"
                />
              </div>
              <div class="card-body">
                <h4 class="fs-20">
                  <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="text-dark"
                    >Nemo enim ipsam voluptatem quia</a
                  >
                </h4>
                <div class="item7-card-desc d-flex mb-2 mt-2">
                  <a href="javascript:void(0);" class="text-muted"
                    ><i class="fa fa-calendar-o me-2"></i>Nov-19-2020</a
                  >
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-muted me-0"
                      ><i class="fa fa-comment-o text-muted me-2"></i>8
                      Comments</a
                    >
                  </div>
                </div>
                <p class="fs-14">
                  Ut enim ad minima veniam, quis exercitationem into enim ad
                  minima veniam, quis nostrum itationem
                </p>
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="btn ripple btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="item7-card-img">
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop></a>
                <img
                  src="./assets/images/media/12.jpg"
                  alt="img"
                  class="cover-image"
                />
              </div>
              <div class="card-body">
                <h4 class="fs-20">
                  <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="text-dark"
                    >At vero eos et accusamus et</a
                  >
                </h4>
                <div class="item7-card-desc d-flex mb-2 mt-2">
                  <a href="javascript:void(0);" class="text-muted"
                    ><i class="fa fa-calendar-o text-muted me-2"></i
                    >Nov-13-2020</a
                  >
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-muted me-0"
                      ><i class="fa fa-comment-o text-muted me-2"></i>7
                      Comments</a
                    >
                  </div>
                </div>
                <p class="fs-14">
                  Ut enim ad minima veniam, quis exercitationem into enim ad
                  minima veniam, quis nostrum itationem
                </p>
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="btn ripple btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="item7-card-img">
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop></a>
                <img
                  src="./assets/images/media/13.jpg"
                  alt="img"
                  class="cover-image"
                />
              </div>
              <div class="card-body">
                <h4 class="fs-20">
                  <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="text-dark"
                    >Itaque earum rerum hic tenetur</a
                  >
                </h4>
                <div class="item7-card-desc d-flex mb-2 mt-2">
                  <a href="javascript:void(0);" class="text-muted"
                    ><i class="fa fa-calendar-o text-muted me-2"></i
                    >Dec-10-2020</a
                  >
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-muted me-0"
                      ><i class="fa fa-comment-o text-muted me-2"></i>1
                      Comments</a
                    >
                  </div>
                </div>
                <p class="fs-14">
                  Ut enim ad minima veniam, quis exercitationem into enim ad
                  minima veniam, quis nostrum itationem
                </p>
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="btn ripple btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="item7-card-img">
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop></a>
                <img
                  src="./assets/images/media/14.jpg"
                  alt="img"
                  class="cover-image"
                />
              </div>
              <div class="card-body">
                <h4 class="fs-20">
                  <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="text-dark"
                    >Nam libero tempore soluta nobis</a
                  >
                </h4>
                <div class="item7-card-desc d-flex mb-2 mt-2">
                  <a href="javascript:void(0);" class="text-muted"
                    ><i class="fa fa-calendar-o text-muted me-2"></i
                    >Nov-01-2020</a
                  >
                  <div class="ms-auto">
                    <a href="javascript:void(0);" class="text-muted me-0"
                      ><i class="fa fa-comment-o text-muted me-2"></i>5
                      Comments</a
                    >
                  </div>
                </div>
                <p class="fs-14">
                  Ut enim ad minima veniam, quis exercitationem into enim ad
                  minima veniam, quis nostrum itationem
                </p>
                <a routerLink="/blog/blog-details/blogdetails-left" ScrollTop class="btn ripple btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="center-block text-center">
          <ul class="pagination mb-0">
            <li class="page-item page-prev disabled">
              <a class="page-link" routerLink="/blog/blog-details/blogdetails-left" ScrollTop tabindex="-1"
                >Prev</a
              >
            </li>
            <li class="page-item active">
              <a class="page-link" routerLink="/blog/blog-details/blogdetails-left" ScrollTop>1</a>
            </li>
            <li class="page-item">
              <a class="page-link" routerLink="/blog/blog-details/blogdetails-left" ScrollTop>2</a>
            </li>
            <li class="page-item">
              <a class="page-link" routerLink="/blog/blog-details/blogdetails-left" ScrollTop>3</a>
            </li>
            <li class="page-item page-next">
              <a class="page-link" routerLink="/blog/blog-details/blogdetails-left" ScrollTop>Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
