<div class="header-style horizontal-main clearfix">
  <div
    class="horizontal-mainwrapper clearfix"
    id="parentHorizontalTab"
    style="display: block; width: 100%; margin: 0px"
  >
    <div class="horizontal-tabs">
      <div class="first-horizontal-tabs d-none d-md-block">
        <div class="container">
          <nav class="horizontalMenu clearfix d-md-flex">
            <ul
              ngbNav
              #nav="ngbNav"
              class="horizontalMenu-list resp-tabs-list hor_1"
            >
              <li [ngbNavItem]="1" aria-haspopup="true" class="resp-tab-active active">
                <span class="hor-sub-menu"><a ngbNavLink>Home</a></span>
                <ng-template ngbNavContent>
                  <app-horizontal-main/>
                </ng-template>
              </li>
              <li [ngbNavItem]="2" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>HTML</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Admin Templates</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Admin Templates</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Personal</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Creative</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Technology</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Entertainment</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Wedding</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li><a href="javascript:void(0);">Blogs</a></li>
                            <li><a href="javascript:void(0);">Items</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Other</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>Wordpress</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">BuddyPress</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Corporate</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">eCommerce</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Creative</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Technology</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Entertainment</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Wedding</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="4" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>PSD</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Medical</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">eCommerce</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Creative</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Technology</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Entertainment</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Wedding</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="6" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>CMS</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Drupal</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Joomla</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Weebly</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Moodle</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Miscellaneous </a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="7" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>UI Designs</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Sketch Templates</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">PSD Templates</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Popular Templates</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="8" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>Plugins</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">All jQuery Plugins</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Gallery</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Loading</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Slideshow</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Time & Clock</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="9" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>Hosting</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Wordpress Hosting</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">HTML Hosting</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">WHMCS Hosting</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Web Hosting</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Cloud Hosting</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="10" aria-haspopup="true">
                <span class="hor-sub-menu"><a ngbNavLink>All Items</a></span>
                <ng-template ngbNavContent>
                  <div class="horizontal-mainwrapper container clearfix">
                    <nav class="horizontalMenu clearfix d-md-flex">
                      <div class="horizontal-overlapbg"></div>
                      <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Popular Items</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Newset Items</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Featured Items</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Top Authors</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Follow Feed</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);">Follow Feed</a>
                        </li>
                        <li aria-haspopup="true">
                          <a href="javascript:void(0);"
                            >More<span class="fe fe-chevron-down m-0"></span
                          ></a>
                          <ul class="sub-menu">
                            <li>
                              <a href="javascript:void(0);">Blogs/Magazine</a>
                            </li>
                            <li><a href="javascript:void(0);">Education</a></li>
                            <li><a href="javascript:void(0);">Mobile</a></li>
                            <li><a href="javascript:void(0);">Forums</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                            <li><a href="javascript:void(0);">Plugins</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </ng-template>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="second-horizontal-tabs">
        <div class="container">
          <div class="resp-tabs-container hor_1">
            <div class="resp-tab-content-active">
              <nav [ngbNavOutlet]="nav"></nav>
              <nav class="horizontalMenu clearfix d-md-flex">
                <ul class="horizontalMenu-list d-md-none">
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);" class="bg-primary text-white"
                      >Home<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >Home <span class="fe fe-chevron-down"></span
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="index.html">Home Page 01</a></li>
                          <li><a href="index2.html">Home Page 02</a></li>
                          <li><a href="index3.html">Home Page 03</a></li>
                          <li><a href="index4.html">Home Page 04</a></li>
                          <li><a href="index5.html">Home Page 05</a></li>
                          <li><a href="index6.html">Home Page 06</a></li>
                          <li><a href="index7.html">Home Page 07</a></li>
                          <li><a href="index8.html">Home Page 08</a></li>
                          <li><a href="index9.html">Home Page 09</a></li>
                          <li><a href="index10.html">Home Page 10</a></li>
                        </ul>
                      </li>
                      <li aria-haspopup="true">
                        <a href="about.html">About Us </a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="widgets.html">Widgets</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >Pages <span class="fe fe-chevron-down"></span
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="page-list.html">Page List</a></li>
                          <li>
                            <a href="page-list-right.html">Page List Right</a>
                          </li>
                          <li><a href="page-details.html">Page Details</a></li>
                          <li>
                            <a href="page-details1.html">Page Details 1</a>
                          </li>
                          <li>
                            <a href="page-details-right.html"
                              >Page Details Right</a
                            >
                          </li>
                          <li><a href="categories.html">Categories</a></li>
                          <li><a href="inovice.html">Invoice</a></li>
                          <li><a href="usersall.html">User Lists</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="ad-list.html">Ad Listing</a></li>
                          <li>
                            <a href="ad-list-right.html">Ad Listing Right</a>
                          </li>
                          <li><a href="ad-details.html">Ad Details</a></li>
                          <li>
                            <a href="ad-details-right.html">Ad Details Right</a>
                          </li>
                          <li><a href="posts.html">Item Posts</a></li>
                          <li><a href="edit-posts.html">Edit Posts</a></li>
                          <li><a href="posts2.html">Item Posts2</a></li>
                          <li><a href="edit-posts2.html">Edit Posts2</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="typography.html">Typography</a></li>
                          <li><a href="userprofile.html"> User Profile</a></li>
                          <li aria-haspopup="true">
                            <a href="profile.html">User Profile 1</a>
                          </li>
                          <li><a href="mydash.html">My Dashboard</a></li>
                          <li><a href="mydash1.html">My Dashboard1</a></li>
                          <li><a href="myads.html">My Ads</a></li>
                          <li><a href="myfavorite.html">Favorite Ads</a></li>
                          <li><a href="manged.html">Manged Ads</a></li>
                          <li><a href="payments.html">Payments</a></li>
                          <li><a href="orders.html"> Orders</a></li>
                          <li><a href="statements.html"> Statements</a></li>
                          <li><a href="settings.html"> Settings</a></li>
                          <li><a href="tips.html">Tips</a></li>
                          <li><a routerLink="/pages/otherpages-3/testimonials">Testimonials</a></li>
                          <li><a href="faq.html">Faq</a></li>
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="checkout.html">CheckOut</a></li>
                          <li>
                            <a href="header-style1.html">Header Style 01</a>
                          </li>
                          <li>
                            <a href="header-style2.html">Header Style 02</a>
                          </li>
                          <li>
                            <a href="header-style3.html">Header Style 03</a>
                          </li>
                          <li>
                            <a href="header-style4.html">Header Style 04</a>
                          </li>
                          <li>
                            <a href="footer-style.html">Footer Style 01</a>
                          </li>
                          <li>
                            <a href="footer-style2.html">Footer Style 02</a>
                          </li>
                          <li>
                            <a href="footer-style3.html">Footer Style 03</a>
                          </li>
                          <li>
                            <a href="footer-style4.html">Footer Style 04</a>
                          </li>
                        </ul>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >Blog <span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li aria-haspopup="true">
                            <a href="javascript:void(0);"
                              >Blog Grid
                              <i
                                class="fa fa-angle-right float-end mt-1 d-none d-lg-block"
                              ></i
                            ></a>
                            <ul class="sub-menu">
                              <li aria-haspopup="true">
                                <a href="blog-grid.html">Blog Grid Left</a>
                              </li>
                              <li aria-haspopup="true">
                                <a href="blog-grid-right.html"
                                  >Blog Grid Right</a
                                >
                              </li>
                              <li aria-haspopup="true">
                                <a href="blog-grid-center.html"
                                  >Blog Grid Center</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li aria-haspopup="true">
                            <a href="javascript:void(0);"
                              >Blog List
                              <i
                                class="fa fa-angle-right float-end mt-1 d-none d-lg-block"
                              ></i
                            ></a>
                            <ul class="sub-menu">
                              <li aria-haspopup="true">
                                <a href="blog-list.html">Blog List Left</a>
                              </li>
                              <li aria-haspopup="true">
                                <a href="blog-list-right.html"
                                  >Blog List Right</a
                                >
                              </li>
                              <li aria-haspopup="true">
                                <a href="blog-list-center.html"
                                  >Blog List Center</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li aria-haspopup="true">
                            <a href="javascript:void(0);"
                              >Blog Details
                              <i
                                class="fa fa-angle-right float-end mt-1 d-none d-lg-block"
                              ></i
                            ></a>
                            <ul class="sub-menu">
                              <li aria-haspopup="true">
                                <a href="blog-details.html"
                                  >Blog Details Left</a
                                >
                              </li>
                              <li aria-haspopup="true">
                                <a href="blog-details-right.html"
                                  >Blog Details Right</a
                                >
                              </li>
                              <li aria-haspopup="true">
                                <a href="blog-details-center.html"
                                  >Blog Details Center</a
                                >
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >Custom Pages
                          <span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="register.html">Register</a></li>
                          <li><a href="login.html">Login</a></li>
                          <li><a href="login-2.html">Login 02</a></li>
                          <li><a href="forgot.html">Forgot Password</a></li>
                          <li><a href="lockscreen.html">Lock Screen</a></li>
                          <li>
                            <a href="underconstruction.html"
                              >Under Constructions</a
                            >
                          </li>
                          <li><a href="404.html">404</a></li>
                          <li aria-haspopup="true">
                            <a href="javascript:void(0);"
                              >Sample Level<i
                                class="fa fa-angle-right float-end mt-1 d-none d-lg-block"
                              ></i
                            ></a>
                            <ul class="sub-menu">
                              <li aria-haspopup="true">
                                <a href="javascript:void(0);">Level-1</a>
                              </li>
                              <li aria-haspopup="true">
                                <a href="javascript:void(0);">Level-2</a>
                              </li>
                              <li aria-haspopup="true">
                                <a href="javascript:void(0);"
                                  >Level-3<i
                                    class="fa fa-angle-right float-end mt-1 d-none d-lg-block"
                                  ></i
                                ></a>
                                <ul class="sub-menu">
                                  <li aria-haspopup="true">
                                    <a href="javascript:void(0);">Level-11</a>
                                  </li>
                                  <li aria-haspopup="true">
                                    <a href="javascript:void(0);">Level-12</a>
                                  </li>
                                  <li aria-haspopup="true">
                                    <a href="javascript:void(0);">Level-13</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li aria-haspopup="true">
                        <a href="contact.html"> Contact Us</a>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >HTML<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Admin Templates</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Corporate</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Personal</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Creative</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Technology</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Entertainment</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Wedding</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li><a href="javascript:void(0);">Blogs</a></li>
                          <li><a href="javascript:void(0);">Items</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Other</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >Wordpress<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">BuddyPress</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Corporate</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">eCommerce</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Creative</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Technology</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Entertainment</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Wedding</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >PSD<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Medical</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">eCommerce</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Creative</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Technology</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Entertainment</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Wedding</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >CMS<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Drupal</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Joomla</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Weebly</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Moodle</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Miscellaneous </a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >UI Designs<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Sketch Templates</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">PSD Templates</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Popular Templates</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >Plugins<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">All jQuery Plugins</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Gallery</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Loading</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Slideshow</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Time & Clock</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >Hosting<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Wordpress Hosting</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">HTML Hosting</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">WHMCS Hosting</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Web Hosting</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Cloud Hosting</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li aria-haspopup="true" class="d-md-none">
                    <a href="javascript:void(0);"
                      >All Items<span class="fe fe-chevron-down"></span
                    ></a>
                    <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Popular Items</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Newset Items</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Featured Items</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Top Authors</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Follow Feed</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);">Follow Feed</a>
                      </li>
                      <li aria-haspopup="true">
                        <a href="javascript:void(0);"
                          >More<span class="fe fe-chevron-down m-0"></span
                        ></a>
                        <ul class="sub-menu">
                          <li>
                            <a href="javascript:void(0);">Blogs/Magazine</a>
                          </li>
                          <li><a href="javascript:void(0);">Education</a></li>
                          <li><a href="javascript:void(0);">Mobile</a></li>
                          <li><a href="javascript:void(0);">Forums</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                          <li><a href="javascript:void(0);">Plugins</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup Login-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
    <button
      type="button"
      class="close"
      data-bs-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true" (click)="modal.dismiss('Cross click')">×</span>
    </button>
  </div>
  <div class="modal-body p-0">
    <div class="single-page customerpage">
      <div class="wrapper wrapper2 box-shadow-0 border-0">
        <div class="card-body pb-4">
          <div class="btn-list d-flex">
            <a
              href="https://www.google.com/gmail/"
              class="btn btn-google btn-block"
              ><i class="fa fa-google fa-1x me-2"></i> Google</a
            >
            <a href="https://twitter.com/" class="btn btn-twitter"
              ><i class="fa fa-twitter fa-1x"></i
            ></a>
            <a href="https://www.facebook.com/" class="btn btn-facebook"
              ><i class="fa fa-facebook fa-1x"></i
            ></a>
          </div>
        </div>
        <hr class="divider" />
        <form id="login" class="card-body" tabindex="500">
          <div class="mail">
            <input type="email" name="mail" />
            <label>Mail or Username</label>
          </div>
          <div class="passwd">
            <input type="password" name="password" />
            <label>Password</label>
          </div>
          <div class="submit">
            <a class="btn ripple btn-primary btn-block" routerLink="/home/home-page01">
              Login
            </a>
          </div>
          <p class="mb-2"><a href="forgot.html">Forgot Password</a></p>
          <p class="text-dark mb-0">
            Don't have account?<a href="register.html" class="text-primary ms-1"
              >Sign UP</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>

  <!-- </div> -->
</ng-template>
<!-- End Popup Login-->

<!-- Popup Intro-->
<ng-template #content1 let-modal>
  <div class="modal-header border-bottom-0">
    <a
      class="close btn btn-sm btn-light"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      Skip
    </a>
  </div>
  <div class="modal-body">
    <ngb-carousel
      *ngIf="images"
      [interval]="1000"
      [showNavigationArrows]="false"
      [showNavigationIndicators]="true"
    >
      <ng-template ngbSlide>
        <div class="item">
          <div class="item text-center">
            <div class="row">
              <div class="col-xl-8 col-md-12 d-block mx-auto">
                <div class="testimonia text-center">
                  <img
                    [src]="images[0]"
                    alt="img"
                    class="w-100 h-100 mb-3 mx-auto text-center"
                  />
                  <h2>Welcome To Templist</h2>
                  <p>
                    Now You Become a Part of Our Website<br />
                    Templist is free classified ads website template with
                    awesome responsive webOffline. It has a huge collection of
                    widgets
                  </p>
                </div>
                <a
                  href="javascript:void(0);"
                  class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                  >Start Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="item text-center">
          <div class="row">
            <div class="col-xl-8 col-md-12 d-block mx-auto">
              <div class="testimonia text-center">
                <img
                  [src]="images[1]"
                  alt="img"
                  class="w-100 mb-3 mx-auto text-center"
                />
                <h2>Search Your Template</h2>
                <p>
                  Now You Become a Part of Our Website<br />
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in humour
                </p>
              </div>
              <a
                href="javascript:void(0);"
                class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                >Search Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="item text-center">
          <div class="row">
            <div class="col-xl-8 col-md-12 d-block mx-auto">
              <div class="testimonia text-center">
                <img
                  [src]="images[2]"
                  alt="img"
                  class="w-100 h-100 mb-3 mx-auto text-center"
                />
                <h2>Add To Cart</h2>
                <p>
                  Now You Become a Part of Our Website<br />
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in humour
                </p>
              </div>
              <a
                href="javascript:void(0);"
                class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                >Add Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="item text-center">
          <div class="row">
            <div class="col-xl-8 col-md-12 d-block mx-auto">
              <div class="testimonia text-center">
                <img
                  [src]="images[3]"
                  class="w-100 h-100 mb-3 mx-auto text-center"
                  alt="image"
                />
                <h2>Buy Now Your Template</h2>
                <p>
                  Now You Become a Part of Our Website<br />
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in humour
                </p>
              </div>
              <a
                href="javascript:void(0);"
                class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                >Buy Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</ng-template>
<!-- End Popup Intro-->

