
<a   class="me-2 text-muted"  (click)="open(content2)"><span class="badge bg-default">Comment</span></a>
<!--Comment Modal -->
<ng-template #content2 let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleCommentLongTitle">
          Leave a Comment
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="Comment-name"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="Comment-email"
            placeholder="Email address"
          />
        </div>
        <div class="form-group mb-0">
          <textarea
            class="form-control"
            name="example-textarea-input"
            rows="6"
            placeholder="Message"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn ripple btn-danger"
          data-bs-dismiss="modal"
		  (click)="modal.dismiss('Cross click')"	
        >
          Cancel
        </button>
        <button type="button" class="btn ripple btn-success">Send</button>
      </div>
    </ng-template
><!--/Comment Modal -->