<!--Section-->
<div
  class="banner-1 cover-image bg-background2 user-pattern-6 custon-bg-img"
  data-bs-image-src="./assets/images/banners/banner6.jpg"
>
  <!--Section-->
  <section>
    <div class="sptb-3 sptb-tab">
      <div class="header-text mb-0">
        <div class="container">
          <div class="text-center text-white mb-7">
            <h1 class="mb-1">56,890 Themes & Website Templates</h1>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable.
            </p>
          </div>
          <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
              <div class="search-form">
                <input
                  type="text"
                  class="form-control input-lg keywords-input"
                  id="text4"
                  placeholder="Search Product....."
                />
                <button class="btn ripple"><i class="fe fe-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Section-->
</div>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Feature Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
        <div>
          <ul class="temp-cat row px-3">
            <app-ng-tooltip class="d-flex" [image]="TooltipImage"></app-ng-tooltip>
          </ul>
        </div>
        <div class="text-center mt-4">
          <a class="btn ripple btn-primary text-white"
            >View All Feature Templates</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Newest Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="panel panel-primary">
      <div class="">
        <div class="tabs-menu">
          <!-- Tabs -->
          <ul ngbNav #nav="ngbNav" class="nav panel-tabs eductaional-tabs mb-6">
            <li [ngbNavItem]="1" class="">
              <a ngbNavLink class="show" data-bs-toggle="tab">All</a>
              <ng-template ngbNavContent>
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
                      <div>
                        <ul class="temp-cat row">
                          <app-ng-tooltip [image]="TooltipImage2"></app-ng-tooltip>
                          <app-ng-tooltip [image]="TooltipImage3"></app-ng-tooltip>
                          <app-ng-tooltip [image]="TooltipImage4"></app-ng-tooltip>
                        </ul>
                      </div>
                      <div class="text-center mt-3 btn-list">
                        <a class="btn ripple btn-primary text-white"
                          >All New Templates</a
                        >
                        <a class="btn ripple btn-secondary text-white"
                          >Popular Templates</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink data-bs-toggle="tab" class="">HTML</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
                      <div>
                        <ul class="temp-cat row">
                          <app-ng-tooltip [image]="TooltipImage5"></app-ng-tooltip>
                        </ul>
                      </div>
                      <div class="text-center mt-3 btn-list">
                        <a class="btn ripple btn-primary text-white"
                          >All New Templates</a
                        >
                        <a class="btn ripple btn-secondary text-white"
                          >Popular Templates</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink data-bs-toggle="tab" class="">Wordpress</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
                      <div>
                        <ul class="temp-cat row">
                          <app-ng-tooltip [image]="TooltipImage6"></app-ng-tooltip>
                        </ul>
                      </div>
                      <div class="text-center mt-3 btn-list">
                        <a class="btn ripple btn-primary text-white"
                          >All New Templates</a
                        >
                        <a class="btn ripple btn-secondary text-white"
                          >Popular Templates</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink data-bs-toggle="tab" class="">PHP</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
                      <div>
                        <ul class="temp-cat row">
                          <app-ng-tooltip [image]="TooltipImage7"></app-ng-tooltip>
                        </ul>
                      </div>
                      <div class="text-center mt-3 btn-list">
                        <a class="btn ripple btn-primary text-white"
                          >All New Templates</a
                        >
                        <a class="btn ripple btn-secondary text-white"
                          >Popular Templates</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="5">
              <a ngbNavLink data-bs-toggle="tab" class="">Angular</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-5">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
                      <div>
                        <ul class="temp-cat row">
                          <app-ng-tooltip [image]="TooltipImage8"></app-ng-tooltip>

                        </ul>
                      </div>
                      <div class="text-center mt-3 btn-list">
                        <a class="btn ripple btn-primary text-white"
                          >All New Templates</a
                        >
                        <a class="btn ripple btn-secondary text-white"
                          >Popular Templates</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="6">
              <a ngbNavLink data-bs-toggle="tab" class="">PSD</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-6">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto">
                      <div>
                        <ul class="temp-cat row">
                          <app-ng-tooltip [image]="TooltipImage9"></app-ng-tooltip>
                        </ul>
                      </div>
                      <div class="text-center mt-3 btn-list">
                        <a class="btn ripple btn-primary text-white"
                          >All New Templates</a
                        >
                        <a class="btn ripple btn-secondary text-white"
                          >Popular Templates</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <div class="tab-content p-0 pt-3" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-lg-0">
              <div class="card-body">
                <h6 class="fs-20 mb-4">Do You Want to Sell A Template?</h6>
                <hr
                  class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                />
                <p>
                  it look like readable English. Many desktop publishing
                  packages and web page editors now use Lorem Ipsum as their
                  default model text
                </p>
                <a
                  href="javascript:void(0);"
                  class="btn ripple btn-primary text-white"
                  >Become An Author</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-0">
              <div class="card-body">
                <h6 class="fs-20 mb-4">Are You Want to Buy A Template?</h6>
                <hr
                  class="deep-purple accent-2 border-secondary mb-4 mt-0 d-inline-block mx-auto"
                />
                <p>
                  it look like readable English. Many desktop publishing
                  packages and web page editors now use Lorem Ipsum as their
                  default model text
                </p>
                <a
                  href="javascript:void(0);"
                  class="btn ripple btn-secondary text-white"
                  >Create An Account</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section-->

<!--Section-->
<section>
  <div
    class="about-1 cover-image sptb bg-background-color user-pattern-5 custon-bg-img"
    data-bs-image-src="./assets/images/banners/banner5.jpg"
  >
    <div class="content-text mb-0 text-white info">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-md-6">
            <div class="counter-status md-mb-0">
              <div class="counter-icon">
                <i class="fe fe-codepen"></i>
              </div>
              <h5 class="font-weight-normal">Total Items</h5>
              <h2 class="counter counter1 mb-0">2569</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status-1 md-mb-0">
              <div class="counter-icon text-warning">
                <i class="fe fe-shopping-cart"></i>
              </div>
              <h5 class="font-weight-normal">Total Sales</h5>
              <h2 class="counter counter2 mb-0">1765</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status md-mb-0">
              <div class="counter-icon text-primary">
                <i class="fe fe-users"></i>
              </div>
              <h5 class="font-weight-normal">Total Members</h5>
              <h2 class="counter counter3 mb-0">846</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status">
              <div class="counter-icon text-success">
                <i class="icon icon-emotsmile"></i>
              </div>
              <h5 class="font-weight-normal">Happy Customers</h5>
              <h2 class="counter counter4 mb-0">7253</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Section -->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>How It Works?</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="">
          <div class="mb-lg-0 mb-4">
            <div class="service-card text-center item-service1">
              <div
                class="wrp text-white icon-service3 bg-primary text-center box-primary-shadow"
              >
                <i class="las la-briefcase la-3x"></i>
              </div>
              <div class="servic-data mt-6">
                <h4 class="mb-0">Select Your Theme</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="">
          <div class="mb-lg-0 mb-4">
            <div class="service-card text-center item-service1">
              <div
                class="wrp text-white icon-service3 bg-secondary text-center box-secondary-shadow"
              >
                <i class="las la-cart-plus la-3x"></i>
              </div>
              <div class="servic-data mt-6">
                <h4 class="mb-0">Add To Cart</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="">
          <div class="mb-sm-0 mb-4">
            <div class="service-card text-center">
              <div
                class="wrp text-white icon-service3 bg-info text-center box-info-shadow"
              >
                <i class="las la-money-bill la-3x"></i>
              </div>
              <div class="servic-data mt-6">
                <h4 class="mb-0">Purchase Your Theme</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center ">
      <h2>Testimonials</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row homepage8-testimonials">
      <div class="col-lg-12">
        <div class="">
          <ngb-carousel
            [interval]="3000"
            [showNavigationArrows]="true"
            [showNavigationIndicators]="true"

            class="carousel slide"
          >
            <ng-template ngbSlide>
              <div class="item" routerLink="/pages/otherpages-3/testimonials">
                <div class="row">
                  <div class="col-xl-10 col-md-12 d-block mx-auto">
                    <div class="row card-body">
                      <div class="col-md-6">
                        <div class="media testimonia">
                          <a routerLink="/pages/otherpages-3/testimonials"></a>
                          <div class="media-left d-flex owl-mediaimg ng-testimonial-img">
                            <img class="avatar"
                              src="./assets/images/users/female/2.jpg"
                              alt=""
                            />
                          </div>
                          <div class="media-body">
                            <div class="testimonial">
                              <p class="text-muted mb-1">
                                Sed ut perspiciatis unde omnis doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae
                                ab illo inventore veritatis et quasi
                                beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet.
                              </p>
                              <div class="mb-2">
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i
                                    class="fa fa-star-half-o text-warning me-1"
                                  ></i
                                ></span>
                              </div>
                              <p class="overview text-dark">
                                <b>Paula Wilson</b>, Media Analyst
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="media testimonia">
                          <a routerLink="/pages/otherpages-3/testimonials"></a>
                          <div class="media-left d-flex owl-mediaimg ng-testimonial-img">
                            <img
                              src="./assets/images/users/male/2.jpg"
                              alt=""
                            />
                          </div>
                          <div class="media-body">
                            <div class="testimonial testimonia-data">
                              <p class="text-muted mb-1">
                                Sed ut perspiciatis unde omnis doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae
                                ab illo inventore veritatis et quasi
                                beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet.
                              </p>
                              <div class="mb-2">
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-half-o text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-o text-warning me-1"></i
                                ></span>
                              </div>
                              <p class="overview text-dark">
                                <b>Antonio Moreno</b>, Web Developer
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="item" routerLink="/pages/otherpages-3/testimonials">
                <div class="row">
                  <div class="col-xl-10 col-md-12 d-block mx-auto">
                    <div class="row card-body">
                      <div class="col-md-6">
                        <div class="media testimonia">
                          <a routerLink="/pages/otherpages-3/testimonials"></a>
                          <div class="media-left d-flex owl-mediaimg ng-testimonial-img">
                            <img
                              src="./assets/images/users/female/3.jpg"
                              alt=""
                            />
                          </div>
                          <div class="media-body">
                            <div class="testimonial">
                              <p class="text-muted mb-1">
                                But I must explain to you how all this mistaken
                                idea of denouncing teachings of the great
                                explorer of the truth, the master-builder of
                                human happiness. Lorem ipsum dolor sit amet.
                              </p>
                              <div class="mb-2">
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-half-o text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-o text-warning me-1"></i
                                ></span>
                              </div>
                              <p class="overview text-dark">
                                <b>Paula Wilson</b>, Media Analyst
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="media testimonia">
                          <a routerLink="/pages/otherpages-3/testimonials"></a>
                          <div class="media-left d-flex owl-mediaimg ng-testimonial-img">
                            <img
                              src="./assets/images/users/male/3.jpg"
                              alt=""
                            />
                          </div>
                          <div class="media-body">
                            <div class="testimonial">
                              <p class="text-muted mb-1">
                                But I must explain to you how all this mistaken
                                idea of denouncing teachings of the great
                                explorer of the truth, the master-builder of
                                human happiness. Lorem ipsum dolor sit amet.
                              </p>
                              <div class="mb-2">
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-half-o text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-o text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-o text-warning me-1"></i
                                ></span>
                              </div>
                              <p class="overview text-dark">
                                <b>Antonio Moreno</b>, Web Developer
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <div class="item" routerLink="/pages/otherpages-3/testimonials">
                <div class="row">
                  <div class="col-xl-10 col-md-12 d-block mx-auto">
                    <div class="row card-body">
                      <div class="col-md-6">
                        <div class="media testimonia">
                          <a routerLink="/pages/otherpages-3/testimonials"></a>
                          <div class="media-left d-flex owl-mediaimg ng-testimonial-img">
                            <img
                              src="./assets/images/users/female/4.jpg"
                              alt=""
                            />
                          </div>
                          <div class="media-body">
                            <div class="testimonial">
                              <p class="text-muted mb-1">
                                Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit, sed quia
                                consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Lorem ipsum dolor sit amet.
                              </p>
                              <div class="mb-2">
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i
                                    class="fa fa-star-half-o text-warning me-1"
                                  ></i
                                ></span>
                              </div>
                              <p class="overview text-dark">
                                <b>Paula Wilson</b>, Media Analyst
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="media testimonia">
                          <a routerLink="/pages/otherpages-3/testimonials"></a>
                          <div class="media-left d-flex owl-mediaimg ng-testimonial-img">
                            <img
                              src="./assets/images/users/male/4.jpg"
                              alt=""
                            />
                          </div>
                          <div class="media-body">
                            <div class="testimonial">
                              <p class="text-muted mb-1">
                                Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit, sed quia
                                consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Lorem ipsum dolor sit amet.
                              </p>
                              <div class="mb-2">
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-half-o text-warning"></i
                                ></span>
                                <span
                                  ><i class="fa fa-star-o text-warning me-1"></i
                                ></span>
                              </div>
                              <p class="overview text-dark">
                                <b>Antonio Moreno</b>, Web Developer
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>



          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section>
  <div
    class="cover-image sptb bg-background-color user-pattern-4 custon-bg-img"
    data-bs-image-src="./assets/images/banners/banner4.jpg"
  >
    <div class="content-text mb-0">
      <div class="container">
        <div class="text-center text-white">
          <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
              <div class="sub-newsletter">
                <h2 class="mb-2">
                  <i class="fa fa-paper-plane-o ms-2"></i> Subscribe To Our
                  Newsletter
                </h2>
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit tempor
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
              <div class="input-group sub-input mt-1">
                <input
                  type="text"
                  class="form-control input-lg"
                  placeholder="Enter your Email"
                />
                <button
                  type="button"
                  class="btn ripple btn-secondary br-te-3 br-be-3"
                >
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Latest News</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xl-4">
        <div class="card mb-xl-0">
          <div class="item7-card-img">
            <a href="javascript:void(0);"></a>
            <img
              src="./assets/images/media/9.jpg"
              alt="img"
              class="cover-image"
            />
          </div>
          <div class="card-body p-4">
            <div class="item7-card-desc d-flex mb-2">
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar-o me-2"></i>Dec-03-2020</a
              >
              <div class="ms-auto">
                <a href="javascript:void(0);"
                  ><i class="fa fa-user-o me-2"></i>Joanne Nash</a
                >
              </div>
            </div>
            <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
              ><h3 class="font-weight-semibold">Nemo ipsam voluptatem</h3></a
            >
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip commodo consequat
            </p>
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xl-4">
        <div class="card mb-xl-0">
          <div class="item7-card-img">
            <a href="javascript:void(0);"></a>
            <img
              src="./assets/images/media/10.jpg"
              alt="img"
              class="cover-image"
            />
          </div>
          <div class="card-body p-4">
            <div class="item7-card-desc d-flex mb-2">
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar-o me-2"></i>Nov-28-2020</a
              >
              <div class="ms-auto">
                <a href="javascript:void(0);"
                  ><i class="fa fa-user-o me-2"></i>Tanner Mallari</a
                >
              </div>
            </div>
            <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
              ><h3 class="font-weight-semibold">Sed perspiciatis iste</h3></a
            >
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip commodo consequat
            </p>
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xl-4">
        <div class="card mb-0">
          <div class="item7-card-img">
            <a href="javascript:void(0);"></a>
            <img
              src="./assets/images/media/11.jpg"
              alt="img"
              class="cover-image"
            />
          </div>
          <div class="card-body p-4">
            <div class="item7-card-desc d-flex mb-2">
              <a href="javascript:void(0);"
                ><i class="fa fa-calendar-o me-2"></i>Nov-19-2020</a
              >
              <div class="ms-auto">
                <a href="javascript:void(0);"
                  ><i class="fa fa-user-o text-muted me-2"></i>Aracely
                  Bashore</a
                >
              </div>
            </div>
            <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
              ><h3 class="font-weight-semibold">At accusamus et iusto</h3></a
            >
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip commodo consequat
            </p>
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Download</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-wrap">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn ripple btn-primary m-1"
              ><i class="fa fa-apple fa-1x me-2"></i> App Store</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-secondary m-1"
              ><i class="fa fa-android fa-1x me-2"></i> Google Play</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-info m-1"
              ><i class="fa fa-windows fa-1x me-2"></i> Windows</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->
