<app-bannering1 [title]="'FAQS'" [items]="['Pages', 'FAQS']"></app-bannering1>

<!--Section-->
<section class="sptb">
  <div class="container">
     <div ngbAccordion class="accordion1">
      <div ngbAccordionItem [collapsed]="false" class="mb-3">
		<h2 ngbAccordionHeader  class="accordion-header">
			<button ngbAccordionButton>1. Do you Charge for each Upgrade?</button>
		</h2>
		<div ngbAccordionCollapse class="collapse">
			<div ngbAccordionBody>
				<ng-template>
					 We denounce with righteous indignation and dislike men who are so
            beguiled and demoralized by the charms of pleasure of the moment, so
            blinded by desire, that they cannot foresee the pain and trouble
            that are bound to ensue; and equal blame belongs to those who fail
            in their duty through weakness
				</ng-template>
			</div>
		</div>
    
	</div>
  <div ngbAccordionItem  class="mb-3">
		<h2 ngbAccordionHeader  class="accordion-header">
			<button ngbAccordionButton>2. Do I need to purchase a license for each website?</button>
		</h2>
		<div ngbAccordionCollapse class="collapse">
			<div ngbAccordionBody>
				<ng-template>
					 We denounce with righteous indignation and dislike men who are so
            beguiled and demoralized by the charms of pleasure of the moment, so
            blinded by desire, that they cannot foresee the pain and trouble
            that are bound to ensue; and equal blame belongs to those who fail
            in their duty through weakness
				</ng-template>
			</div>
		</div>
    
	</div>
   <div ngbAccordionItem  class="mb-3">
		<h2 ngbAccordionHeader  class="accordion-header">
			<button ngbAccordionButton>3. What is regular license?</button>
		</h2>
		<div ngbAccordionCollapse class="collapse">
			<div ngbAccordionBody>
				<ng-template>
					 All the Lorem Ipsum generators on the Internet tend to repeat
            predefined chunks as necessary, making this the first true generator
            on the Internet. It uses a dictionary of over 200 Latin words Lorem
            Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled.Nor again is there anyone who loves or pursues or desires
            to obtain pain of itself, because it is pain, but because
            occasionally circumstances occur in which toil and pain can procure
            him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise
				</ng-template>
			</div>
		</div>
    
	</div>
   <div ngbAccordionItem  class="mb-3">
		<h2 ngbAccordionHeader  class="accordion-header">
			<button ngbAccordionButton>4. What is extended license?</button>
		</h2>
		<div ngbAccordionCollapse class="collapse">
			<div ngbAccordionBody>
				<ng-template>
					 All the Lorem Ipsum generators on the Internet tend to repeat
            predefined chunks as necessary, making this the first true generator
            on the Internet. It uses a dictionary of over 200 Latin words Lorem
            Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled.Nor again is there anyone who loves or pursues or desires
            to obtain pain of itself, because it is pain, but because
            occasionally circumstances occur in which toil and pain can procure
            him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise
				</ng-template>
			</div>
		</div>
	</div>
   <div ngbAccordionItem  class="mb-3">
		<h2 ngbAccordionHeader  class="accordion-header">
			<button ngbAccordionButton>5. What do you mean by item and end product?</button>
		</h2>
		<div ngbAccordionCollapse class="collapse">
			<div ngbAccordionBody>
				<ng-template>
					 All the Lorem Ipsum generators on the Internet tend to repeat
            predefined chunks as necessary, making this the first true generator
            on the Internet. It uses a dictionary of over 200 Latin words Lorem
            Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled.Nor again is there anyone who loves or pursues or desires
            to obtain pain of itself, because it is pain, but because
            occasionally circumstances occur in which toil and pain can procure
            him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise
				</ng-template>
			</div>
		</div>
    
	</div>
   <div ngbAccordionItem >
		<h2 ngbAccordionHeader  class="accordion-header">
			<button ngbAccordionButton>6. Do you have a developer license?</button>
		</h2>
		<div ngbAccordionCollapse class="collapse">
			<div ngbAccordionBody >
				<ng-template >
					 All the Lorem Ipsum generators on the Internet tend to repeat
            predefined chunks as necessary, making this the first true generator
            on the Internet. It uses a dictionary of over 200 Latin words Lorem
            Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled.Nor again is there anyone who loves or pursues or desires
            to obtain pain of itself, because it is pain, but because
            occasionally circumstances occur in which toil and pain can procure
            him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise
				</ng-template>
			</div>
		</div>
    
	</div>
    </div>
    
    <!-- accordion -->
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
