<app-bannering3></app-bannering3>
<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Newly Addded</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row row-sm justify-content-center">
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/01.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/02.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/03.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/04.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/05.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/06.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/07.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/08.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/09.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/10.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/11.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
      <div class="col-3 col-md-2 col-lg-1">
        <a
          href="javascript:void(0)"
          class="d-block link-overlay mb-2 shadow br-3 overflow-hidden"
        >
          <img
            class="d-block img-fluid mx-auto text-center w-100"
            src="./assets/images/media/pictures/small/12.jpg"
            alt=""
          />
          <span class="link-overlay-bg rounded">
            <i class="fa fa-search"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="text-center mt-5">
      <a class="btn ripple btn-primary text-white">View more</a>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Latest Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="panel panel-primary">
      <div class="">
        <div class="tabs-menu">
          <!-- Tabs -->
          <app-nav-template></app-nav-template>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Why Choose Us?</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="item-all-cat center-block text-center">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="card mb-lg-0">
            <div class="card-body">
              <div class="status-info text-center">
                <div class="status-img mb-5">
                  <i class="las la-hands-helping la-4x text-primary"></i>
                </div>
                <h3 class="mt-2 mb-2">User Friendly</h3>
                <p class="text-muted mb-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card mb-lg-0">
            <div class="card-body">
              <div class="status-info text-center">
                <div class="status-img mb-5">
                  <i class="las la-cart-plus la-4x text-secondary"></i>
                </div>
                <h3 class="mt-2 mb-2">Easily Buy & Sell</h3>
                <p class="text-muted mb-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card mb-0">
            <div class="card-body">
              <div class="status-info text-center">
                <div class="status-img mb-5">
                  <i class="las la-certificate la-4x text-info"></i>
                </div>
                <h3 class="mt-2 mb-2">100% Responsive Rate</h3>
                <p class="text-muted mb-0">
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section
  class="sptb cover-image sptb-tab bg-background2 custon-bg-img"
  data-bs-image-src="./assets/images/banners/banner3.jpg"
>
  <div class="container">
    <div class="section-title center-block text-center">
      <h2 class="text-white position-relative">Testimonials</h2>
      <p class="text-white position-relative">
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel">
          <div class="item text-center">
            <div class="row">
              <div class="col-xl-8 col-md-12 d-block mx-auto">
                <app-ngb-carousel></app-ngb-carousel>
                <a routerLink="/pages/otherpages-3/testimonials" class="btn ripple btn-secondary"
                  >View all Testimonials</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Download</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-wrap">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn ripple btn-primary my-1"
              ><i class="fa fa-apple fa-1x me-2"></i> App Store</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-secondary my-1"
              ><i class="fa fa-android fa-1x me-2"></i> Google Play</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-info my-1"
              ><i class="fa fa-windows fa-1x me-2"></i> Windows</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>News</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <owl-carousel-o [options]="customOptions" class="">
      <ng-template carouselSlide>
        <div class="item">
          <div class="card mb-0">
            <div class="item7-card-img">
              <a href="javascript:void(0);"></a>
              <img
                src="./assets/images/media/9.jpg"
                alt="img"
                class="cover-image"
              />
            </div>
            <div class="card-body p-4">
              <div class="item7-card-desc d-flex mb-2">
                <a href="javascript:void(0);"
                  ><i class="fa fa-calendar-o me-2"></i>Dec-03-2020</a
                >
                <div class="ms-auto">
                  <a href="javascript:void(0);"
                    ><i class="fa fa-comment-o me-2"></i>4 Comments</a
                  >
                </div>
              </div>
              <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
                ><h3 class="font-weight-semibold">Nemo ipsam voluptatem</h3></a
              >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip commodo consequat
              </p>
              <div class="d-flex align-items-center pt-2 mt-auto">
                <img
                  src="./assets/images/users/male/5.jpg"
                  class="avatar brround avatar-md me-3"
                  alt="avatar-img"
                />
                <div>
                  <a href="profile.html" class="text-default">Joanne Nash</a>
                  <small class="d-block text-muted">1 day ago</small>
                </div>
                <div class="ms-auto text-muted">
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fe fe-heart me-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fa fa-thumbs-o-up"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="card mb-0">
            <div class="item7-card-img">
              <a href="javascript:void(0);"></a>
              <img
                src="./assets/images/media/10.jpg"
                alt="img"
                class="cover-image"
              />
            </div>
            <div class="card-body p-4">
              <div class="item7-card-desc d-flex mb-2">
                <a href="javascript:void(0);"
                  ><i class="fa fa-calendar-o me-2"></i>Nov-28-2020</a
                >
                <div class="ms-auto">
                  <a href="javascript:void(0);"
                    ><i class="fa fa-comment-o me-2"></i>2 Comments</a
                  >
                </div>
              </div>
              <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
                ><h3 class="font-weight-semibold">
                  Sed ut perspiciatis unde
                </h3></a
              >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip commodo consequat
              </p>
              <div class="d-flex align-items-center pt-2 mt-auto">
                <img
                  src="./assets/images/users/male/7.jpg"
                  class="avatar brround avatar-md me-3"
                  alt="avatar-img"
                />
                <div>
                  <a href="profile.html" class="text-default">Tanner Mallari</a>
                  <small class="d-block text-muted">2 days ago</small>
                </div>
                <div class="ms-auto text-muted">
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fe fe-heart me-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fa fa-thumbs-o-up"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="card mb-0">
            <div class="item7-card-img">
              <a href="javascript:void(0);"></a>
              <img
                src="./assets/images/media/11.jpg"
                alt="img"
                class="cover-image"
              />
            </div>
            <div class="card-body p-4">
              <div class="item7-card-desc d-flex mb-2">
                <a href="javascript:void(0);"
                  ><i class="fa fa-calendar-o me-2"></i>Nov-19-2020</a
                >
                <div class="ms-auto">
                  <a href="javascript:void(0);"
                    ><i class="fa fa-comment-o text-muted me-2"></i>8
                    Comments</a
                  >
                </div>
              </div>
              <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
                ><h3 class="font-weight-semibold">
                  Excepteur occaecat cupidatat
                </h3></a
              >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip commodo consequat
              </p>
              <div class="d-flex align-items-center pt-2 mt-auto">
                <img
                  src="./assets/images/users/female/15.jpg"
                  class="avatar brround avatar-md me-3"
                  alt="avatar-img"
                />
                <div>
                  <a href="profile.html" class="text-default"
                    >Aracely Bashore</a
                  >
                  <small class="d-block text-muted">5 days ago</small>
                </div>
                <div class="ms-auto text-muted">
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fe fe-heart me-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fa fa-thumbs-o-up"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="card mb-0">
            <div class="item7-card-img">
              <a href="javascript:void(0);"></a>
              <img
                src="./assets/images/media/12.jpg"
                alt="img"
                class="cover-image"
              />
            </div>
            <div class="card-body p-4">
              <div class="item7-card-desc d-flex mb-2">
                <a href="javascript:void(0);"
                  ><i class="fa fa-calendar-o me-2"></i>Dec-03-2020</a
                >
                <div class="ms-auto">
                  <a href="javascript:void(0);"
                    ><i class="fa fa-comment-o me-2"></i>4 Comments</a
                  >
                </div>
              </div>
              <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
                ><h3 class="font-weight-semibold">
                  Excepteur occaecat cupidatat
                </h3></a
              >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip commodo consequat
              </p>
              <div class="d-flex align-items-center pt-2 mt-auto">
                <img
                  src="./assets/images/users/male/15.jpg"
                  class="avatar brround avatar-md me-3"
                  alt="avatar-img"
                />
                <div>
                  <a href="profile.html" class="text-default">Royal Hamblin</a>
                  <small class="d-block text-muted">10 days ago</small>
                </div>
                <div class="ms-auto text-muted">
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fe fe-heart me-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fa fa-thumbs-o-up"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="card mb-0">
            <div class="item7-card-img">
              <a href="javascript:void(0);"></a>
              <img
                src="./assets/images/media/13.jpg"
                alt="img"
                class="cover-image"
              />
            </div>
            <div class="card-body p-4">
              <div class="item7-card-desc d-flex mb-2">
                <a href="javascript:void(0);"
                  ><i class="fa fa-calendar-o me-2"></i>Nov-28-2020</a
                >
                <div class="ms-auto">
                  <a href="javascript:void(0);"
                    ><i class="fa fa-comment-o me-2"></i>2 Comments</a
                  >
                </div>
              </div>
              <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
                ><h3 class="font-weight-semibold">
                  Sed perspiciatis unde omnis
                </h3></a
              >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip commodo consequat
              </p>
              <div class="d-flex align-items-center pt-2 mt-auto">
                <img
                  src="./assets/images/users/female/5.jpg"
                  class="avatar brround avatar-md me-3"
                  alt="avatar-img"
                />
                <div>
                  <a href="profile.html" class="text-default">Rosita Chatmon</a>
                  <small class="d-block text-muted">10 days ago</small>
                </div>
                <div class="ms-auto text-muted">
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fe fe-heart me-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fa fa-thumbs-o-up"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="card mb-0">
            <div class="item7-card-img">
              <a href="javascript:void(0);"></a>
              <img
                src="./assets/images/media/14.jpg"
                alt="img"
                class="cover-image"
              />
            </div>
            <div class="card-body p-4">
              <div class="item7-card-desc d-flex mb-2">
                <a href="javascript:void(0);"
                  ><i class="fa fa-calendar-o me-2"></i>Nov-19-2020</a
                >
                <div class="ms-auto">
                  <a href="javascript:void(0);"
                    ><i class="fa fa-comment-o text-muted me-2"></i>8
                    Comments</a
                  >
                </div>
              </div>
              <a routerLink="/blog/blog-details/blogdetails-left" class="text-dark"
                ><h3 class="font-weight-semibold">At vero eos accusamus</h3></a
              >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip commodo consequat
              </p>
              <div class="d-flex align-items-center pt-2 mt-auto">
                <img
                  src="./assets/images/users/male/6.jpg"
                  class="avatar brround avatar-md me-3"
                  alt="avatar-img"
                />
                <div>
                  <a href="profile.html" class="text-default">Loyd Nolf</a>
                  <small class="d-block text-muted">15 days ago</small>
                </div>
                <div class="ms-auto text-muted">
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fe fe-heart me-1"></i
                  ></a>
                  <a
                    href="javascript:void(0)"
                    class="icon d-none d-md-inline-block ms-3"
                    ><i class="fa fa-thumbs-o-up"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section>
  <div
    class="cover-image sptb bg-background-color custon-bg-img"
    data-bs-image-src="./assets/images/banners/banner4.jpg"
  >
    <div class="content-text mb-0">
      <div class="content-text mb-0">
        <div class="container">
          <div class="text-center text-white">
            <h1 class="mb-2">Ready to Join Our Marketplace..</h1>
            <p class="fs-16">
              It is a long established fact that a reader will be distracted by
              the readable.
            </p>
            <div class="row">
              <div class="col-lg-8 mx-auto d-block">
                <a
                  class="btn ripple btn-secondary mt-4"
                  href="javascript:void(0);"
                  >Join Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->
