<app-bannering1
  [title]="'Testimonials'"
  [items]="['Pages', 'Testimonials']"
></app-bannering1>
<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/5.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-o"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Jessica Gill</h4>
                <h6 class="mb-3 blue-text text-muted font-weight-normal fs-13">
                  Web Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/1.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Jessica Wright</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Web Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Nam libero tempore, cum
                  soluta nobis est eligendi optio cumque nihil impedit quo minus
                  id quod maxime placeat facere possimus, omnis voluptas
                  assumenda est, omnis dolor repellendus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/4.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Anthony Burgess</h4>
                <h6 class="mb-3 blue-text text-muted font-weight-normal fs-13">
                  Tester
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat adconsectetur adipisicing elit. Quod eos
                  id officiis hic tenetur quae quaerat velit ab hic teneturt.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/2.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Emily Kerr</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Administrator
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/1.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Tracey Poole</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Web Developer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/1.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Jessica Wright</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Web Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Nam libero tempore, cum
                  soluta nobis est eligendi optio cumque nihil impedit quo minus
                  id quod maxime placeat facere possimus, omnis voluptas
                  assumenda est, omnis dolor repellendus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/2.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-o"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Sam Taylor</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  App Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Sed ut perspiciatis unde
                  omnis iste natus error sit voluptatem accusantium doloremque
                  laudantium, totam rem aperiam, eaque ipsa quae ab illo
                  inventore veritatis et quasi architecto beatae vitae dicta
                  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                  aspernatur aut odit aut fugit, sed quia consequuntur magni
                  dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/2.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Emily Kerr</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Administrator
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/3.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Charles Mills</h4>
                <h6 class="mb-3 blue-text text-muted font-weight-normal fs-13">
                  HR
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Nam libero tempore, cum
                  soluta nobis est eligendi optio cumque nihil impedit quo minus
                  id quod maxime placeat facere possimus, omnis voluptas
                  assumenda est, omnis dolor repellendus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/4.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Rose McGrath</h4>
                <h6 class="mb-3 blue-text text-muted font-weight-normal fs-13">
                  Manager
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Nam libero tempore, cum
                  soluta nobis est eligendi optio cumque nihil impedit quo minus
                  id quod maxime placeat facere possimus, omnis voluptas
                  assumenda est, omnis dolor repellendus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/5.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-o"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Jessica Gill</h4>
                <h6 class="mb-3 blue-text text-muted font-weight-normal fs-13">
                  Web Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/1.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Tracey Poole</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Web Developer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/female/1.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-half-full"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Jessica Wright</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  Web Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Nam libero tempore, cum
                  soluta nobis est eligendi optio cumque nihil impedit quo minus
                  id quod maxime placeat facere possimus, omnis voluptas
                  assumenda est, omnis dolor repellendus.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-sm-flex team-section">
              <div class="team-img">
                <img
                  src="./assets/images/users/male/2.jpg"
                  class="img-thumbnail rounded-circle"
                  alt="img"
                />
              </div>
              <div class="ms-sm-5 mt-3 mt-sm-0">
                <div class="text-warning mb-0">
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star"> </i>
                  <i class="fa fa-star-o"> </i>
                  <i class="fa fa-star-o"> </i>
                </div>
                <h4 class="dark-grey-text mt-2">Sam Taylor</h4>
                <h6 class="mb-3 text-muted font-weight-normal fs-13">
                  App Designer
                </h6>
                <p class="font-weight-normal dark-grey-text mb-0">
                  <i class="fa fa-quote-left pe-2"></i>Sed ut perspiciatis unde
                  omnis iste natus error sit voluptatem accusantium doloremque
                  laudantium, totam rem aperiam, eaque ipsa quae ab illo
                  inventore veritatis et quasi architecto beatae vitae dicta
                  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                  aspernatur aut odit aut fugit, sed quia consequuntur magni
                  dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="pagination mb-0">
        <li class="page-item page-prev disabled">
          <a class="page-link" href="javascript:void(0);" tabindex="-1">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="javascript:void(0);">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">3</a>
        </li>
        <li class="page-item page-next">
          <a class="page-link" href="javascript:void(0);">Next</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
