<app-bannering3></app-bannering3>

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Newest Templates</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card overflow-hidden">
          <div class="item-card2-tans">
            <div class="item-card7-imgs">
              <a routerLink="/pages/otherpages-1/page-details"></a>
              <img
                src="./assets/images/media/pictures/1.jpg"
                alt="img"
                class="cover-image"
              />
              <div class="tag-text">
                <span class="bg-dark-transparent tag-option m-0"
                  ><i class="fe fe-download me-1 d-inline-flex"></i>34</span
                >
                <span class="bg-dark-transparent tag-option"
                  ><i class="fe fe-heart me-1 d-inline-flex"></i>456</span
                >
              </div>
            </div>
            <div class="item-card2-icons">
              <a
                href="javascript:void(0);"
                class="bg-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Live Preview"
                ><i class="fe fe-airplay"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add to Cart"
                ><i class="fe fe-shopping-cart"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Details"
                ><i class="fe fe-eye"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <div class="item-card7-desc">
              <div class="">
                <a routerLink="/pages/otherpages-1/page-details" class="text-dark"
                  ><h4 class="font-weight-semibold">HTML Template</h4></a
                >
                <div class="mt-1 fs-13 mb-0">
                  by <a href="javascript:void(0);" class="">Emily</a> in
                  <a href="javascript:void(0);" class="">HTML Templates</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-3">
            <div class="d-md-flex">
              <ngb-rating class="text-warning me-1 h3" [(rate)]="currentRate" [max]="5"></ngb-rating>
              <div class="ms-auto">
                <div class="item-card9-cost">
                  <h4 class="mb-0 text-dark fs-20">$15</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card overflow-hidden">
          <div class="item-card2-tans">
            <div class="item-card7-imgs">
              <a routerLink="/pages/otherpages-1/page-details"></a>
              <img
                src="./assets/images/media/pictures/2.jpg"
                alt="img"
                class="cover-image"
              />
              <div class="tag-text">
                <span class="bg-dark-transparent tag-option m-0"
                  ><i class="fe fe-download me-1 d-inline-flex"></i>24</span
                >
                <span class="bg-dark-transparent tag-option"
                  ><i class="fe fe-heart me-1 d-inline-flex"></i>123</span
                >
              </div>
            </div>
            <div class="item-card2-icons">
              <a
                href="javascript:void(0);"
                class="bg-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Live Preview"
                ><i class="fe fe-airplay"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add to Cart"
                ><i class="fe fe-shopping-cart"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Details"
                ><i class="fe fe-eye"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <div class="item-card7-desc">
              <div class="">
                <a routerLink="/pages/otherpages-1/page-details" class="text-dark"
                  ><h4 class="font-weight-semibold">PSD Template</h4></a
                >
                <div class="mt-1 fs-13 mb-0">
                  by <a href="javascript:void(0);" class="">Piers</a> in
                  <a href="javascript:void(0);" class="">PSD Templates</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-3">
            <div class="d-md-flex">
              <ngb-rating class="text-warning me-1 h3" [(rate)]="currentRate" [max]="5"></ngb-rating>
              <div class="ms-auto">
                <div class="item-card9-cost">
                  <h4 class="mb-0 text-dark fs-20">$25</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card overflow-hidden">
          <div class="item-card2-tans">
            <div class="item-card7-imgs">
              <a routerLink="/pages/otherpages-1/page-details"></a>
              <img
                src="./assets/images/media/pictures/3.jpg"
                alt="img"
                class="cover-image"
              />
              <div class="tag-text">
                <span class="bg-dark-transparent tag-option m-0"
                  ><i class="fe fe-download me-1 d-inline-flex"></i>43</span
                >
                <span class="bg-dark-transparent tag-option"
                  ><i class="fe fe-heart me-1 d-inline-flex"></i>234</span
                >
              </div>
            </div>
            <div class="item-card2-icons">
              <a
                href="javascript:void(0);"
                class="bg-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Live Preview"
                ><i class="fe fe-airplay"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add to Cart"
                ><i class="fe fe-shopping-cart"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Details"
                ><i class="fe fe-eye"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <div class="item-card7-desc">
              <div class="">
                <a routerLink="/pages/otherpages-1/page-details" class="text-dark"
                  ><h4 class="font-weight-semibold">Angular Template</h4></a
                >
                <div class="mt-1 fs-13 mb-0">
                  by <a href="javascript:void(0);" class="">Jessica</a> in
                  <a href="javascript:void(0);" class="">Angular Templates</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-3">
            <div class="d-md-flex">
              <ngb-rating class="text-warning me-1 h3" [(rate)]="currentRate" [max]="5"></ngb-rating>
              <div class="ms-auto">
                <div class="item-card9-cost">
                  <h4 class="mb-0 text-dark fs-20">$23</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card overflow-hidden mb-lg-0">
          <div class="item-card2-tans">
            <div class="item-card7-imgs">
              <a routerLink="/pages/otherpages-1/page-details"></a>
              <img
                src="./assets/images/media/pictures/4.jpg"
                alt="img"
                class="cover-image"
              />
              <div class="tag-text">
                <span class="bg-dark-transparent tag-option m-0"
                  ><i class="fe fe-download me-1 d-inline-flex"></i>21</span
                >
                <span class="bg-dark-transparent tag-option"
                  ><i class="fe fe-heart me-1 d-inline-flex"></i>345</span
                >
              </div>
            </div>
            <div class="item-card2-icons">
              <a
                href="javascript:void(0);"
                class="bg-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Live Preview"
                ><i class="fe fe-airplay"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add to Cart"
                ><i class="fe fe-shopping-cart"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Details"
                ><i class="fe fe-eye"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <div class="item-card7-desc">
              <div class="">
                <a routerLink="/pages/otherpages-1/page-details" class="text-dark"
                  ><h4 class="font-weight-semibold">PHP Template</h4></a
                >
                <div class="mt-1 fs-13 mb-0">
                  by <a href="javascript:void(0);" class="">John</a> in
                  <a href="javascript:void(0);" class="">PHP Templates</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-3">
            <div class="d-md-flex">
              <ngb-rating class="text-warning me-1 h3" [(rate)]="currentRate" [max]="5"></ngb-rating>
              <div class="ms-auto">
                <div class="item-card9-cost">
                  <h4 class="mb-0 text-dark fs-20">$32</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card overflow-hidden mb-md-0">
          <div class="item-card2-tans">
            <div class="item-card7-imgs">
              <a routerLink="/pages/otherpages-1/page-details"></a>
              <img
                src="./assets/images/media/pictures/5.jpg"
                alt="img"
                class="cover-image"
              />
              <div class="tag-text">
                <span class="bg-dark-transparent tag-option m-0"
                  ><i class="fe fe-download me-1 d-inline-flex"></i>45</span
                >
                <span class="bg-dark-transparent tag-option"
                  ><i class="fe fe-heart me-1 d-inline-flex"></i>108</span
                >
              </div>
            </div>
            <div class="item-card2-icons">
              <a
                href="javascript:void(0);"
                class="bg-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Live Preview"
                ><i class="fe fe-airplay"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add to Cart"
                ><i class="fe fe-shopping-cart"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Details"
                ><i class="fe fe-eye"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <div class="item-card7-desc">
              <div class="">
                <a routerLink="/pages/otherpages-1/page-details" class="text-dark"
                  ><h4 class="font-weight-semibold">Wordpress Template</h4></a
                >
                <div class="mt-1 fs-13 mb-0">
                  by <a href="javascript:void(0);" class="">John</a> in
                  <a href="javascript:void(0);" class="">Wordpress Templates</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-3">
            <div class="d-md-flex">
              <ngb-rating class="text-warning me-1 h3" [(rate)]="currentRate" [max]="5"></ngb-rating>
              <div class="ms-auto">
                <div class="item-card9-cost">
                  <h4 class="mb-0 text-dark fs-20">$21</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card overflow-hidden mb-0">
          <div class="item-card2-tans">
            <div class="item-card7-imgs">
              <a routerLink="/pages/otherpages-1/page-details"></a>
              <img
                src="./assets/images/media/pictures/7.jpg"
                alt="img"
                class="cover-image"
              />
              <div class="tag-text">
                <span class="bg-dark-transparent tag-option m-0"
                  ><i class="fe fe-download me-1 d-inline-flex"></i>33</span
                >
                <span class="bg-dark-transparent tag-option"
                  ><i class="fe fe-heart me-1 d-inline-flex"></i>219</span
                >
              </div>
            </div>
            <div class="item-card2-icons">
              <a
                href="javascript:void(0);"
                class="bg-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Live Preview"
                ><i class="fe fe-airplay"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add to Cart"
                ><i class="fe fe-shopping-cart"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="bg-info"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="View Details"
                ><i class="fe fe-eye"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <div class="item-card7-desc">
              <div class="">
                <a routerLink="/pages/otherpages-1/page-details" class="text-dark"
                  ><h4 class="font-weight-semibold">HTML Template</h4></a
                >
                <div class="mt-1 fs-13 mb-0">
                  by <a href="javascript:void(0);" class="">Eric</a> in
                  <a href="javascript:void(0);" class="">HTML Templates</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-3">
            <div class="d-md-flex">
              <ngb-rating class="text-warning me-1 h3" [(rate)]="currentRate" [max]="5"></ngb-rating>
              <div class="ms-auto">
                <div class="item-card9-cost">
                  <h4 class="mb-0 text-dark fs-20">$24</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Latest Templates</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="panel panel-primary">
      <div class="">
        <div class="tabs-menu">
          <!-- Tabs -->
          <app-nav-template></app-nav-template>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb position-relative bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2 class="position-relative">Best Testimonials</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel">
          <div class="item text-center">
            <div class="row">
              <div class="col-xl-8 col-md-12 d-block mx-auto custom-footer-style-04">

                <ngb-carousel
                  *ngIf="images"
                  [interval]="120000"
                  [showNavigationArrows]="true"
                  [showNavigationIndicators]="false"
                  class="carousel slide text-dark"
                >
                  <ng-template ngbSlide>
                     <div class="picsum-img-wrapper">
                    <div class="testimonia">
                      <div class="owl-controls clickable">
                        <div class="picsum-img-wrapper">
                        <div class="owl-pagination">
                          <div class="owl-page active">
                            <span class=""><img [src]="images[0]" alt="Random slide" class="slideimg"/></span>
                          </div>
                          <div class="owl-page">
                            <span class=""><img [src]="images[1]" alt="Random slide" class="slideimg"/></span>
                          </div>
                          <div class="owl-page">
                            <span class=""><img [src]="images[2]" alt="Random slide" class="slideimg"/></span>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="testimonia-data ">
                      <h3 class="title">Elizabeth</h3>
                      <span class="post">Web Developer</span>
                      <div>
                        <ngb-rating class="text-warning me-1 h3" [rate]=4 [max]="5"></ngb-rating>
                      </div>
                      </div>
                      <p class="">
                        <i class="fa fa-quote-left"></i> Sed ut perspiciatis unde
                        omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo.
                      </p>
                    </div>
                  </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="testimonia">
                      <div class="owl-controls clickable">
                        <div class="owl-pagination">
                          <div class="owl-page">
                            <span class=""><img [src]="images[1]" alt="Random slide" class="slideimg"/></span>
                          </div>
                          <div class="owl-page active">
                            <span class=""><img [src]="images[0]" alt="Random slide" class="slideimg"/></span>
                          </div>
                          <div class="owl-page">
                            <span class=""> <img [src]="images[2]" alt="Random slide" class="slideimg"/></span>
                          </div>
                        </div>
                      </div>
                      <div class="testimonia-data ">
                        <h3 class="title">williamson</h3>
                        <span class="post">Web Developer</span>
                        <div>
                          <ngb-rating class="text-warning me-1 h3" [rate]=4 [max]="5"></ngb-rating>
                        </div>
                      </div>
                      <p class="">
                        <i class="fa fa-quote-left"></i> But I must explain to
                        you how all this mistaken idea of denouncing pleasure
                        and praising pain was born and I will give you a
                        complete account of the system.
                      </p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="testimonia">
                      <div class="owl-controls clickable">
                        <div class="owl-pagination">
                          <div class="owl-page">
                            <span class=""> <img [src]="images[2]" alt="Random slide" class="slideimg"/></span>
                          </div>
                          <div class="owl-page">
                            <span class=""><img [src]="images[1]" alt="Random slide" class="slideimg"/></span>
                          </div>
                          <div class="owl-page active">
                            <span class=""><img [src]="images[0]" alt="Random slide" class="slideimg"/></span>
                          </div>
                        </div>
                      </div>
                      <div class="testimonia-data ">
                        <h3 class="title">Sophie Carr</h3>
                        <span class="post">Web Developer</span>
                        <div>
                          <ngb-rating class="text-warning me-1 h3" [rate]=4 [max]="5"></ngb-rating>
                        </div>
                      </div>
                      <p class="">
                        <i class="fa fa-quote-left"></i> Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt.
                      </p>
                    </div>
                  </ng-template>
                </ngb-carousel>

                <a routerLink="/pages/otherpages-3/testimonials" class="btn ripple btn-secondary"
                  >View all Testimonials</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>News</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <app-owl-carousel1></app-owl-carousel1>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Download</h2>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-wrap">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn ripple btn-primary mb-0"
              ><i class="fa fa-apple fa-1x me-2"></i> App Store</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-secondary mb-0"
              ><i class="fa fa-android fa-1x me-2"></i> Google Play</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-info mb-0"
              ><i class="fa fa-windows fa-1x me-2"></i> Windows</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<app-footer [isValid]="'footer4'"></app-footer>
