<div
  class="banner-1 cover-image bg-background2 user-pattern-2 custon-bg-img"
  data-bs-image-src="./assets/images/banners/banner2.jpg"
>
  <!--Section-->
  <section>
    <div class="sptb-2">
      <div class="header-text mb-0">
        <div class="container">
          <div class="search-background bg-transparent">
            <div class="text-center text-white mb-6">
              <h1 class="mb-1">The Biggest World is MarketPlace Themes</h1>
              <p class="mb-0">
                It is a long established fact that a reader will be distracted
                by the readable.
              </p>
            </div>
            <div class="row mb-5">
              <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
                <div class="search-form">
                  <div
                    class="xdsoft_autocomplete w-100"
                    style="display: block; width: 776px"
                  >
                    <input
                      type="text"
                      class="form-control input-lg keywords-input xdsoft_input"
                      id="text4"
                      placeholder="Search Product....."
                      autocomplete="off"
                    />
                    <button class="btn ripple">
                      <i class="fe fe-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="temp-categories">
              <ul class="">
                <li>
                  <a href="javascript:void(0);"><span>All Templates</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);"><span>HTML</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);"><span>Wordpress</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);"><span>PHP</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);"><span>Angular</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);"><span>PSD</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);"><span>Plugins</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /header-text -->
      </div>
    </div>
  </section>
  <!--/Section-->
</div>
<!--Section-->
<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>New Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <app-card-template></app-card-template>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section>
  <div class="about-1 cover-image sptb bg-white">
    <div class="content-text mb-0 info">
      <div class="container">
        <div class="section-title center-block text-center">
          <h2>Why Choose US ?</h2>
          <p class="">
            All the Lorem Ipsum generators on the Internet tend to repeat
            predefined
          </p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card mb-lg-0 text-center">
              <div class="card-body">
                <div
                  class="wrp text-white icon-service1 bg-primary text-center box-primary-shadow"
                >
                  <i class="fe fe-credit-card"></i>
                </div>
                <div class="servic-data mt-3">
                  <h4 class="font-weight-semibold mb-2">Secure Payment</h4>
                  <p class="text-muted mb-0">
                    Nam libero tempore, cum soluta nobis est eligendi cumque
                    facere possimus
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card mb-lg-0 text-center">
              <div class="card-body">
                <div
                  class="wrp text-white icon-service1 bg-secondary text-center box-secondary-shadow"
                >
                  <i class="fe fe-airplay"></i>
                </div>
                <div class="servic-data mt-3">
                  <h4 class="font-weight-semibold mb-2">Quality Templates</h4>
                  <p class="text-muted mb-0">
                    Nam libero tempore, cum soluta nobis est eligendi cumque
                    facere possimus
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card mb-sm-0 text-center">
              <div class="card-body">
                <div
                  class="wrp text-white icon-service1 bg-success text-center box-success-shadow"
                >
                  <i class="fe fe-dollar-sign"></i>
                </div>
                <div class="servic-data mt-3">
                  <h4 class="font-weight-semibold mb-2">100% Money Back</h4>
                  <p class="text-muted mb-0">
                    Nam libero tempore, cum soluta nobis est eligendi cumque
                    facere possimus
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card mb-0 text-center">
              <div class="card-body">
                <div
                  class="wrp text-white icon-service1 bg-info text-center box-info-shadow"
                >
                  <i class="fe fe-headphones"></i>
                </div>
                <div class="servic-data mt-3">
                  <h4 class="font-weight-semibold mb-2">24/7 Support</h4>
                  <p class="text-muted mb-0">
                    Nam libero tempore, cum soluta nobis est eligendi cumque
                    facere possimus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Latest Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="panel panel-primary">
      <div class="">
        <div class="tabs-menu">
          <!-- Tabs -->
          <app-nav-template></app-nav-template>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card counter-status mb-lg-0">
          <div class="card-body">
            <div class="counter-icon bg-primary box-primary-shadow border-0">
              <i class="fe fe-codepen text-white"></i>
            </div>
            <h5>Total Items</h5>
            <h2 class="counter mb-0 counter1">2569</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card counter-status mb-lg-0">
          <div class="card-body">
            <div
              class="counter-icon bg-secondary border-0 box-secondary-shadow"
            >
              <i class="fe fe-shopping-cart text-white"></i>
            </div>
            <h5>Total Sales</h5>
            <h2 class="counter mb-0 counter2">1765</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card counter-status mb-sm-0">
          <div class="card-body">
            <div class="counter-icon bg-success border-0 box-success-shadow">
              <i class="fe fe-users text-white"></i>
            </div>
            <h5>Total Members</h5>
            <h2 class="counter mb-0 counter3">846</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card counter-status mb-0">
          <div class="card-body">
            <div class="counter-icon bg-info border-0 box-info-shadow">
              <i class="icon icon-emotsmile text-white"></i>
            </div>
            <h5>Happy Customers</h5>
            <h2 class="counter mb-0 counter4">7253</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section
  class="sptb cover-image bg-background user-pattern custon-bg-img"
  data-bs-image-src="./assets/images/banners/banner3.jpg"
>
  <div class="container">
    <div class="section-title center-block text-center">
      <h2 class="text-white position-relative">Testimonials</h2>
      <p class="text-white position-relative">
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel" class="">
          <div class="item text-center">
            <div class="row">
              <div class="col-xl-8 col-md-12 d-block mx-auto">
                <app-ngb-carousel></app-ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>News</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <app-owl-carousel1></app-owl-carousel1>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Download</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-wrap">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn ripple btn-primary m-1"
              ><i class="fa fa-apple fa-1x me-2"></i> App Store</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-secondary m-1"
              ><i class="fa fa-android fa-1x me-2"></i> Google Play</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-info m-1"
              ><i class="fa fa-windows fa-1x me-2"></i> Windows</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->
