<!--Header-->
<div class="header-search header-logosec p-2 header-icons">
  <div class="container">
    <div class="d-flex">
      <div class="desktoplogo">
        <a routerLink="/home/home-page01"
          ><img src="./assets/images/brand/logo1.png" alt=""
        /></a>
      </div>
      <div class="desktoplogo-1">
        <a routerLink="/home/home-page01"
          ><img src="./assets/images/brand/logo.png" alt=""
        /></a>
      </div>
      <div class="d-flex ms-auto header-right-icons header-search-icon">
        <!-- NOTIFICATIONS -->
        <div
          class="dropdown d-md-flex notifications notify-message" placement="left"
          ngbDropdown
        >
          <a class="nav-link icon" ngbDropdownToggle>
            <i class="fe fe-bell"></i>
            <span class="pulse bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow py-0 cusion-dropdown-style" ngbDropdownMenu>
            <div
              class="p-4 text-start bg-light border-bottom rounded-top-5 bg-indigo-lightest"
            >
              <div class="d-flex align-items-center">
                <h6 class="dropdown-title mb-1 tx-15 font-weight-semibold">
                  Notification
                </h6>
                <p class="mb-0 font-weight-semibold tx-muted tx-12 ms-auto">
                  Total: 7
                </p>
              </div>
            </div>
            <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
              <div
                class="notifications-menu header-dropdown-list notify-scroll"
              >
                <a ngbDropdownItem
                  href="javascript:void(0);"
                  class="dropdown-item d-flex"
                >
                  <div
                    class="text-secondary bg-secondary-transparent fs-18 me-3 notify-icon"
                  >
                    <i class="fe fe-user text-secondary"></i>
                  </div>
                  <div>
                    <h6 class="mb-1">New User Registered.</h6>
                    <div class="small text-muted">1 day ago</div>
                  </div>
                </a>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item d-flex border-top"
                >
                  <div
                    class="text-success bg-success-transparent fs-18 me-3 notify-icon"
                  >
                    <i class="fe fe-thumbs-up text-success"></i>
                  </div>
                  <div>
                    <h6 class="mb-1">Someone likes our posts</h6>
                    <div class="small text-muted">5 mins ago</div>
                  </div>
                </a>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item d-flex border-top"
                >
                  <div
                    class="text-warning bg-warning-transparent fs-18 me-3 notify-icon"
                  >
                    <i class="fe fe-upload text-warning"></i>
                  </div>
                  <div>
                    <h6 class="mb-1">New file has been uploaded</h6>
                    <div class="small text-muted">50 sec ago</div>
                  </div>
                </a>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item d-flex border-top"
                >
                  <div
                    class="text-danger bg-danger-transparent fs-18 me-3 notify-icon"
                  >
                    <i class="fe fe-alert-circle text-danger"></i>
                  </div>
                  <div>
                    <h6 class="mb-1">System alert</h6>
                    <div class="small text-muted">2 days ago</div>
                  </div>
                </a>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item d-flex border-top"
                >
                  <div
                    class="text-warning bg-warning-transparent fs-18 me-3 notify-icon"
                  >
                    <i class="fe fe-server text-warning"></i>
                  </div>
                  <div>
                    <h6 class="mb-1">Server Rebooted</h6>
                    <div class="small text-muted">45 mins ago</div>
                  </div>
                </a>
                <a
                  href="javascript:void(0);"
                  class="dropdown-item d-flex border-top"
                >
                  <div
                    class="text-secondary bg-secondary-transparent fs-18 me-3 notify-icon"
                  >
                    <i class="fe fe-layers text-secondary"></i>
                  </div>
                  <div>
                    <h6 class="mb-1">Completed One task</h6>
                    <div class="small text-muted">3 mins ago</div>
                  </div>
                </a>
              </div>
            </ng-scrollbar>

            <div class="dropdown-footer bg-light p-3">
              <a href="javascript:void(0);" class="btn btn-primary w-md tx-13"
                >View All Notifications</a
              >
            </div>
          </div>
        </div>
        <!-- NOTIFICATIONS -->
        <!-- MESSAGE-BOX -->
        <div class="dropdown d-md-flex message" placement="left" ngbDropdown>
          <a
            class="nav-link icon text-center"
            data-bs-toggle="dropdown"
            ngbDropdownToggle
          >
            <i class="fe fe-mail"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow py-0 cusion-dropdown-style"
            ngbDropdownMenu
          >
            <div
              ngbDropdownItem
              class="text-start bg-light border-bottom rounded-top-5 bg-indigo-lightest"
            >
              <div class="d-flex align-items-center">
                <h6 class="dropdown-title mb-1 tx-15 font-weight-semibold">
                  6 New Message
                </h6>
              </div>
            </div>
            <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
              <div class="message-menu header-dropdown-list message-scroll ps">
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  href="javascript:void(0);"
                >
                  <div class="d-flex align-items-center">
                    <div class="">
                      <span
                        class="avatar avatar-md brround align-self-center cover-image"
                        ><img
                          class="avatar avatar-md brround align-self-center cover-image"
                          src="./assets/images/users/female/6.jpg"
                      /></span>
                    </div>
                    <div class="w-90">
                      <div class="ps-3 mt-1">
                        <div>
                          <span class="font-weight-semibold">Ginger Plant</span>
                          <span class="small text-muted float-end">
                            4 hours ago
                          </span>
                        </div>
                        <p class="fs-12 mb-0">
                          all the best your template awesome...
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  href="javascript:void(0);"
                >
                  <div class="d-flex align-items-center">
                    <div class="">
                      <img
                        class="avatar avatar-md brround align-self-center cover-image"
                        src="./assets/images/users/male/1.jpg"
                      />
                    </div>
                    <div class="w-90">
                      <div class="ps-3 mt-1">
                        <div>
                          <span class="font-weight-semibold">Jack Wright</span>
                          <span class="small text-muted float-end">
                            5 hours ago
                          </span>
                        </div>
                        <p class="fs-12 mb-0">
                          all the best your template awesome...
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  href="javascript:void(0);"
                >
                  <div class="d-flex align-items-center">
                    <div class="">
                      <img
                        class="avatar avatar-md brround align-self-center cover-image"
                        src="./assets/images/users/female/1.jpg"
                      />
                    </div>
                    <div class="w-90">
                      <div class="ps-3 mt-1">
                        <div>
                          <span class="font-weight-semibold">Peg Legge</span>
                          <span class="small text-muted float-end">
                            3 hours ago
                          </span>
                        </div>
                        <p class="fs-12 mb-0">
                          all the best your template awesome...
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  href="javascript:void(0);"
                >
                  <div class="d-flex align-items-center">
                    <div class="">
                      <img
                        class="avatar avatar-md brround align-self-center cover-image"
                        src="./assets/images/users/male/5.jpg"
                      />
                    </div>
                    <div class="w-90">
                      <div class="ps-3 mt-1">
                        <div>
                          <span class="font-weight-semibold">John Quil</span>
                          <span class="small text-muted float-end">
                            5 hours ago
                          </span>
                        </div>
                        <p class="fs-12 mb-0">
                          all the best your template awesome...
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  href="javascript:void(0);"
                >
                  <div class="d-flex align-items-center">
                    <div class="">
                      <img
                        class="avatar avatar-md brround align-self-center cover-image"
                        src="./assets/images/users/female/3.jpg"
                      />
                    </div>
                    <div class="w-90">
                      <div class="ps-3 mt-1">
                        <div>
                          <span class="font-weight-semibold">Olive Tree</span>
                          <span class="small text-muted float-end">
                            7 hours ago
                          </span>
                        </div>
                        <p class="fs-12 mb-0">
                          all the best your template awesome...
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  href="javascript:void(0);"
                >
                  <div class="d-flex align-items-center">
                    <div class="">
                      <img
                        class="avatar avatar-md brround align-self-center cover-image"
                        src="./assets/images/users/male/3.jpg"
                      />
                    </div>
                    <div class="w-90">
                      <div class="ps-3 mt-1">
                        <div>
                          <span class="font-weight-semibold">Hugo First</span>
                          <span class="small text-muted float-end">
                            9 hours ago
                          </span>
                        </div>
                        <p class="fs-12 mb-0">
                          all the best your template awesome...
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </ng-scrollbar>
            <div ngbDropdownItem class="dropdown-footer bg-light p-3">
              <a href="javascript:void(0);" class="btn btn-primary w-md tx-13"
                >View All Messages</a
              >
            </div>
          </div>
        </div>
        <!-- MESSAGE-BOX -->

        <div class="dropdown d-md-flex notifications" placement="left" ngbDropdown>
          <a class="nav-link icon" data-bs-toggle="dropdown" ngbDropdownToggle>
            <i class="fe fe-shopping-cart"></i>
            <span class="nav-unread badge bg-danger bg-pill">2</span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow cart-dropdown py-0 cusion-dropdown-style"
            ngbDropdownMenu
          >
            <div
              ngbDropdownItem
              class="p-4 text-start bg-light border-bottom rounded-top-5 bg-indigo-lightest"
            >
              <div class="d-flex align-items-center">
                <h6 class="dropdown-title mb-1 tx-15 font-weight-semibold">
                  Shopping Cart
                </h6>
                <p class="mb-0 font-weight-semibold tx-muted tx-12 ms-auto">
                  Total items: 5
                </p>
              </div>
            </div>
            <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
              <div class="drop-cart header-dropdown-list cart-scroll">
                <div class="border-bottom position-relative">
                  <a
                    routerLink="/pages/otherpages-3/carts"
                    class="stretched-link"
                  ></a>
                  <div class="d-flex ps-3 pe-4 pt-2 pb-3 align-items-center">
                    <div class="">
                      <img
                        src="./assets/images/media/pictures/small/01.jpg"
                        class="br-4"
                        alt="img"
                      />
                    </div>
                    <div class="d-flex">
                      <div class="ps-3">
                        <span class="fs-15 h4 d-block">HTML Template</span>
                        <div class="fs-13 text-muted">HTML</div>
                      </div>
                    </div>
                    <div class="ms-auto text-center">
                      <a href="javascript:void(0);" class="text-muted"
                        ><i class="fe fe-trash-2 fs-13"></i
                      ></a>
                      <div class="h5 text-dark mt-1 mb-0">$24</div>
                    </div>
                  </div>
                </div>
                <div class="border-bottom position-relative">
                  <a
                    routerLink="/pages/otherpages-3/carts"
                    class="stretched-link"
                  ></a>
                  <div class="d-flex ps-3 pe-4 pt-2 pb-3 align-items-center">
                    <div class="">
                      <img
                        src="./assets/images/media/pictures/small/02.jpg"
                        class="br-4"
                        alt="img"
                      />
                    </div>
                    <div class="d-flex">
                      <div class="ps-3">
                        <span class="fs-15 h4 d-block">Wordpress Template</span>
                        <div class="fs-13 text-muted">Wordpress</div>
                      </div>
                    </div>
                    <div class="ms-auto text-center">
                      <a href="javascript:void(0);" class="text-muted"
                        ><i class="fe fe-trash-2 fs-13"></i
                      ></a>
                      <div class="h5 text-dark mt-1 mb-0">$18</div>
                    </div>
                  </div>
                </div>
                <div class="border-bottom position-relative">
                  <a
                    routerLink="/pages/otherpages-3/carts"
                    class="stretched-link"
                  ></a>
                  <div class="d-flex ps-3 pe-4 pt-2 pb-3 align-items-center">
                    <div class="">
                      <img
                        src="./assets/images/media/pictures/small/03.jpg"
                        class="br-4"
                        alt="img"
                      />
                    </div>
                    <div class="d-flex">
                      <div class="ps-3">
                        <span class="fs-15 h4 d-block">Angular Template</span>
                        <div class="fs-13 text-muted">Angular</div>
                      </div>
                    </div>
                    <div class="ms-auto text-center">
                      <a href="javascript:void(0);" class="text-muted"
                        ><i class="fe fe-trash-2 fs-13"></i
                      ></a>
                      <div class="h5 text-dark mt-1 mb-0">$22</div>
                    </div>
                  </div>
                </div>
                <div class="border-bottom position-relative">
                  <a
                    routerLink="/pages/otherpages-3/carts"
                    class="stretched-link"
                  ></a>
                  <div class="d-flex ps-3 pe-4 pt-2 pb-3 align-items-center">
                    <div class="">
                      <img
                        src="./assets/images/media/pictures/small/04.jpg"
                        class="br-4"
                        alt="img"
                      />
                    </div>
                    <div class="d-flex">
                      <div class="ps-3">
                        <span class="fs-15 h4 d-block">PHP Template</span>
                        <div class="fs-13 text-muted">PHP</div>
                      </div>
                    </div>
                    <div class="ms-auto text-center">
                      <a href="javascript:void(0);" class="text-muted"
                        ><i class="fe fe-trash-2 fs-13"></i
                      ></a>
                      <div class="h5 text-dark mt-1 mb-0">$12</div>
                    </div>
                  </div>
                </div>
                <div class="position-relative">
                  <a
                    routerLink="/pages/otherpages-3/carts"
                    class="stretched-link"
                  ></a>
                  <div class="d-flex ps-3 pe-4 pt-2 pb-3 align-items-center">
                    <div class="">
                      <img
                        src="./assets/images/media/pictures/small/05.jpg"
                        class="br-4"
                        alt="img"
                      />
                    </div>
                    <div class="d-flex">
                      <div class="ps-3">
                        <span class="fs-15 h4 d-block">PSD Template</span>
                        <div class="fs-13 text-muted">PSD</div>
                      </div>
                    </div>
                    <div class="ms-auto text-center">
                      <a href="javascript:void(0);" class="text-muted"
                        ><i class="fe fe-trash-2 fs-13"></i
                      ></a>
                      <div class="h5 text-dark mt-1 mb-0">$5</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
            <div class="dropdown-footer bg-light">
              <div class="btn-list">
                <a
                  routerLink="/pages/otherpages-3/carts"
                  class="btn btn-primary ripple mb-lg-0"
                  >View Cart</a
                >
                <a
                  routerLink="/pages/otherpages-3/checkout"
                  class="btn btn-secondary ripple mb-lg-0"
                  >Checkout</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- NOTIFICATIONS -->
        <div class="dropdown d-md-flex profile-1" placement="left" ngbDropdown>
          <a class="nav-link icon text-center" ngbDropdownToggle>
            <i class="fe fe-user"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow w-250 cusion-dropdown-style"
            ngbDropdownMenu
          >
            <div ngbDropdownItem class="drop-heading">
              <div class="text-center">
                <h5 class="text-dark mb-1">Jacob Smith</h5>
                <small
                  class="text-muted fs-16 text-primary font-weight-semibold"
                  >$478.99</small
                >
              </div>
            </div>
            <!-- <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars"> -->
              <div
                class="dropdown-divider header-dropdown-list profile-scroll m-0"
              >
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/user-pages/my-dashboard"
                >
                  <i class="dropdown-icon ti-write"></i>Edit Profile
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/user-pages/my-ads"
                >
                  <i class="dropdown-icon fe fe-codepen"></i> My Items
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/user-pages/favorite-ads"
                >
                  <span class="float-end"></span>
                  <i class="dropdown-icon ti-heart"></i> My Favorite
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/user-pages/managed-ads"
                >
                  <i class="dropdown-icon ti-palette"></i> Managed Items
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/user-pages/payments"
                >
                  <i class="dropdown-icon ti-credit-card"></i> Payments
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/otherpages-3/orders"
                >
                  <i class="dropdown-icon ti-shopping-cart"></i> Orders
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/otherpages-3/statements"
                >
                  <i class="dropdown-icon ti-filter"></i> Statements
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/otherpages-3/tips"
                >
                  <i class="dropdown-icon ti-harddrive"></i> Safety Tips
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item border-bottom"
                  routerLink="/pages/otherpages-3/settings"
                >
                  <i class="dropdown-icon ti-settings"></i> Settings
                </a>
                <a
                  ngbDropdownItem
                  class="dropdown-item"
                  routerLink="/custom-pages/login02"
                >
                  <i class="dropdown-icon ti-unlock"></i> Logout
                </a>
              </div>
            <!-- </ng-scrollbar> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Header-->
