<app-bannering1
  [title]="'My Favorite Items'"
  [items]="['Pages', 'My Favorite Items']"
></app-bannering1>

<!--User Dashboard-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-12 col-md-12">
        <app-sidebar-dashboard></app-sidebar-dashboard>
      </div>
      <div class="col-xl-9 col-lg-12 col-md-12">
        <div class="mb-5">
          <div class="">
            <div class="p-5 bg-white item2-gl-nav d-block d-sm-flex align-items-center">
              <h6 class="mb-0 mt-1 card-title">12 Favorite Items</h6>
              <div class="ms-auto">
                <div class="d-flex select2-sm text-start">
                  <label class="me-2 mt-2 mb-sm-1">Sort By:</label>
                  <ng-select name="item" class="select-sm select2" placeholder="Best seller" appearance="outline" [searchable]="false" [clearable]="false" labelForId="heroId">
                    <ng-option value="1">Best Seller</ng-option>
                    <ng-option value="2">Newest</ng-option>
                    <ng-option value="3">Best Rated</ng-option>
                    <ng-option value="4">Trending</ng-option>
                    <ng-option value="5">Price</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card manged-ad border-0 mb-0">
          <app-table1></app-table1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/User Dashboard-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
