<app-bannering1
  [title]="'Forgot Password'"
  [items]="['Home', 'Custom Pages', 'Forgot']"
></app-bannering1>

<!--Forgot password-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
        <div class="single-page w-100 p-0">
          <div class="wrapper wrapper2">
            <form id="forgotpsd" class="card-body">
              <h3 class="pb-2">Forgot password</h3>
              <div class="mail">
                <input type="email" name="mail" />
                <label>Mail or Username</label>
              </div>
              <div class="submit">
                <a
                  class="btn ripple btn-primary btn-block"
                  href="javascript:void(0);"
                  >Send</a
                >
              </div>
              <div class="text-center text-dark mb-0">
                Forget it, <a routerLink="/home/home-page01">send me back</a> to
                the sign in.
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Forgot password-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
