<!--Section-->
<div class="banner-1 cover-image section-bg-background-color">
  <!-- Section -->
  <section>
    <div class="sptb-1">
      <div class="header-text text mb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-white mt-xl-8 mb-5 mb-lg-0">
                <h1 class="mb-2 display-4 font-weight-semiblod">
                  Volgh Admin Template
                </h1>
                <p class="fs-20 mb-4 font-weight-semibold">
                  Premium Bootstrap4 Html Template
                </p>
                <p class="text-white mb-3 fs-16">
                  Volgh - Bootstrap Responsive Application Admin panel Theme Ui
                  Kit & Premium Dashboard Design Modern Flat HTML Template. This
                  Template Includes 100 HTML Pages & 40+ Plugins. No Need to do
                  hard work for this template customization.
                </p>
                <div class="d-flex">
                  <div class="text-warning d-flex fs-15 mb-4">
                    <span class="me-1"><i class="fa fa-star"></i></span>
                    <span class="me-1"><i class="fa fa-star"></i></span>
                    <span class="me-1"><i class="fa fa-star"></i></span>
                    <span class="me-1"><i class="fa fa-star-o"></i></span>
                    <span class="me-1"><i class="fa fa-star-o"></i></span>
                    <span class="text-white">(3/5)</span>
                  </div>
                  <div class="mt-0 fs-13 ms-5">
                    <span class="text-white-80 me-4 fs-15"
                      ><i class="fe fe-download"></i> 21</span
                    >
                    <span class="text-white-80 fs-15"
                      ><i class="fe fe-heart"></i> 345</span
                    >
                  </div>
                </div>
                <div class="btn-list">
                  <a
                    href="javascript:void(0);"
                    class="btn ripple btn-secondary me-4 d-inline-flex align-items-center"
                    ><i class="fe fe-airplay me-2 d-inline-flex"></i>Live
                    Preview</a
                  >
                  <a
                    class="btn ripple btn-success"
                    data-bs-target=".buynow-btn"
                    data-bs-toggle="modal"
                    href="https://themeforest.net/user/spruko/portfolio?gclid=CjwKCAjwvdajBhBEEiwAeMh1U1FZIa8UC3cgO7UsaxZf6J_ir5Db9rIh7owhtEbA3GwLEDsXJTD31xoCptcQAvD_BwE"
                    ><i class="fe fe-shopping-cart me-2 d-inline-flex"></i>Buy
                    Now</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <ngb-carousel
                *ngIf="images"
                [interval]="1000"
                [showNavigationArrows]="false"
                [showNavigationIndicators]="true"
                class="owl-carousel banner-carousel illustrate-img"
              >
                <ng-template ngbSlide>
                  <div class="item">
                    <img [src]="images[0]" class="shadow br-4" alt="img" />
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="item">
                    <img [src]="images[0]" class="shadow br-4" alt="img" />
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="item">
                    <img [src]="images[0]" class="shadow br-4" alt="img" />
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
      <!-- /header-text -->
    </div>
  </section>
  <!-- /Section -->
</div>
<!-- /Section -->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Newly Added Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <app-owl-carousel2></app-owl-carousel2>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>TopRated Templates</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <app-card-template2></app-card-template2>
    <div class="text-center">
      <a
        routerLink="/pages/otherpages-2/ad-listing"
        class="btn ripple btn-primary"
        >View All Templates</a
      >
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section>
  <div
    class="about-1 cover-image sptb bg-background-color user-pattern-4"
    ata-bs-image-src="./assets/images/banners/banner4.jpg"
  >
    <div class="content-text mb-0 text-white info">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-md-6">
            <div class="counter-status md-mb-0">
              <div class="counter-icon">
                <i class="fe fe-codepen"></i>
              </div>
              <h5 class="font-weight-normal">Total Items</h5>
              <h2 class="counter mb-0 counter1">2569</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status-1 md-mb-0">
              <div class="counter-icon text-warning">
                <i class="fe fe-shopping-cart"></i>
              </div>
              <h5 class="font-weight-normal">Total Sales</h5>
              <h2 class="counter mb-0 counter2">1765</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status md-mb-0">
              <div class="counter-icon text-primary">
                <i class="fe fe-users"></i>
              </div>
              <h5 class="font-weight-normal">Total Members</h5>
              <h2 class="counter mb-0 counter3">8460</h2>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-status status">
              <div class="counter-icon text-success">
                <i class="icon icon-emotsmile"></i>
              </div>
              <h5 class="font-weight-normal">Happy Customers</h5>
              <h2 class="counter mb-0 counter4">7253</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Our Pricing</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xl-3 col-md-6 my-1">
        <div class="pricing-table">
          <div class="price-header">
            <h3 class="title">Basic</h3>
            <div class="price"><span class="dollar">$</span>0</div>
            <span class="permonth">Free License</span>
          </div>
          <div class="price-body">
            <ul>
              <li><b>0</b> Demos Included</li>
              <li><b>Forum</b> Support</li>
              <li><b>Limited</b> Domain Usage</li>
              <li><b> 0 Year</b> Support & Updates</li>
              <li><b>24/7</b> Support</li>
            </ul>
          </div>
          <div class="price-footer">
            <a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);"
              >Buy Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-md-6 my-1">
        <div class="pricing-table">
          <div class="price-header">
            <h3 class="title">Premium</h3>
            <div class="price"><span class="dollar">$</span>10</div>
            <span class="permonth">Monthly License</span>
          </div>
          <div class="price-body">
            <ul>
              <li><b>5</b> Demos Included</li>
              <li><b>Forum</b> Support</li>
              <li><b>Unlimited</b> Domain Usage</li>
              <li><b> 1 Year</b> Support & Updates</li>
              <li><b>24/7</b> Support</li>
            </ul>
          </div>
          <div class="price-footer">
            <a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);"
              >Buy Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-md-6 my-1">
        <div class="pricing-table active">
          <div class="price-header bg-primary">
            <h3 class="title text-white">Enterprise</h3>
            <div class="price text-white"><span class="dollar">$</span>23</div>
            <span class="permonth">Yearly License</span>
          </div>
          <div class="price-body">
            <ul>
              <li><b>10</b> Demos Included</li>
              <li><b>Forum</b> Support</li>
              <li><b>Unlimited</b> Domain Usage</li>
              <li><b> 2 Years</b> Support & Updates</li>
              <li><b>24/7</b> Support</li>
            </ul>
          </div>
          <div class="price-footer">
            <a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);"
              >Buy Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-md-6 my-1">
        <div class="pricing-table mb-0">
          <div class="price-header">
            <h3 class="title">Unlimited</h3>
            <div class="price"><span class="dollar">$</span>10</div>
            <span class="permonth">Yearly License</span>
          </div>
          <div class="price-body">
            <ul>
              <li><b>Unlimited</b> Demos Included</li>
              <li><b>Forum</b> Support</li>
              <li><b>Unlimited</b> Domain Usage</li>
              <li><b> 5 Years</b> Support & Updates</li>
              <li><b>24/7</b> Support</li>
            </ul>
          </div>
          <div class="price-footer">
            <a class="order-btn btn btn-primary btn-pill btn-block" href="javascript:void(0);"
              >Buy Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb position-relative pattern">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2 class="text-white position-relative">Best Testimonials</h2>
      <p class="text-white position-relative">
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel">
          <div class="item text-center">
            <div class="row">
              <div class="col-xl-8 col-md-12 d-block mx-auto">
                <app-ngb-carousel></app-ngb-carousel>
                <a routerLink="/pages/otherpages-3/testimonials" class="btn ripple btn-secondary"
                  >View all Testimonials</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
  <div class="container recent-news">
    <div class="section-title center-block text-center">
      <h2>Recent News</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <app-owl-carousel3></app-owl-carousel3>
  </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="section-title center-block text-center">
      <h2>Download</h2>
      <p>
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-wrap">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn ripple btn-primary m-1"
              ><i class="fa fa-apple fa-1x me-2"></i> App Store</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-secondary m-1"
              ><i class="fa fa-android fa-1x me-2"></i> Google Play</a
            >
            <a href="javascript:void(0);" class="btn ripple btn-info m-1"
              ><i class="fa fa-windows fa-1x me-2"></i> Windows</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Popup Login-->
<ng-template #content let-modal>
  <div class="modal-header border-bottom-0">
    <a
      class="close btn btn-sm btn-light"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      Skip
    </a>
  </div>
  <div class="modal-body">
    <ngb-carousel
      *ngIf="images1"
      [interval]="1000"
      [showNavigationArrows]="false"
      [showNavigationIndicators]="true"
    >
      <ng-template ngbSlide>
        <div class="item">
          <div class="item text-center">
            <div class="row">
              <div class="col-xl-8 col-md-12 d-block mx-auto">
                <div class="testimonia text-center">
                  <img
                    [src]="images1[0]"
                    alt="img"
                    class="w-100 h-100 mb-3 mx-auto text-center"
                  />
                  <h2>Welcome To Templist</h2>
                  <p>
                    Now You Become a Part of Our Website<br />
                    Templist is free classified ads website template with
                    awesome responsive webOffline. It has a huge collection of
                    widgets
                  </p>
                </div>
                <a
                  href="javascript:void(0);"
                  class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                  >Start Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="item text-center">
          <div class="row">
            <div class="col-xl-8 col-md-12 d-block mx-auto">
              <div class="testimonia text-center">
                <img
                  [src]="images1[1]"
                  alt="img"
                  class="w-100 mb-3 mx-auto text-center"
                />
                <h2>Search Your Template</h2>
                <p>
                  Now You Become a Part of Our Website<br />
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in humour
                </p>
              </div>
              <a
                href="javascript:void(0);"
                class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                >Search Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="item text-center">
          <div class="row">
            <div class="col-xl-8 col-md-12 d-block mx-auto">
              <div class="testimonia text-center">
                <img
                  [src]="images1[2]"
                  alt="img"
                  class="w-100 h-100 mb-3 mx-auto text-center"
                />
                <h2>Add To Cart</h2>
                <p>
                  Now You Become a Part of Our Website<br />
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in humour
                </p>
              </div>
              <a
                href="javascript:void(0);"
                class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                >Add Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="item text-center">
          <div class="row">
            <div class="col-xl-8 col-md-12 d-block mx-auto">
              <div class="testimonia text-center">
                <img
                  [src]="images1[3]"
                  class="w-100 h-100 mb-3 mx-auto text-center"
                  alt="image"
                />
                <h2>Buy Now Your Template</h2>
                <p>
                  Now You Become a Part of Our Website<br />
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in humour
                </p>
              </div>
              <a
                href="javascript:void(0);"
                class="btn ripple btn-primary btn-ptill mt-4 mb-3"
                >Buy Now</a
              >
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- </div> -->
</ng-template>
<!-- End Popup Login-->
