<!--Section-->
<div
  class="cover-image bg-background2 user-pattern-6 custon-bg-img"
  data-bs-image-src="./assets/images/banners/banner6.jpg"
>
  <!--Section-->
  <section>
    <div class="sptb-4 sptb-tab">
      <div class="header-text mb-0">
        <div class="container">
          <div class="text-center text-white mb-6">
            <h1 class="mb-1">Build the Best Design & Creative Products</h1>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable.
            </p>
          </div>
          <div class="row">
            <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
              <div class="search-background bg-transparent typewrite-text">
                <div class="row">
                  <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                    <div class="form row no-gutters">
                      <div
                        class="form-group col-xl-6 col-lg-6 col-md-12 br-ts-3 br-bs-3 mb-0 bg-white"
                      >
                        <input
                          type="text"
                          class="form-control input-lg"
                          id="text4"
                          placeholder="Search Your Product..."
                        />
                      </div>
                        <ng-select [searchable]="false" [clearable]="false"
                          name="item"
                          placeholder="Selected items"
                          class="select-sm select2 form-group col-xl-4 col-lg-3 col-md-12 mb-0 bg-white"
                          appearance="outline" [searchable]="false" [clearable]="false" labelForId="heroId"
                        >
                          <ng-option value="1">HTML</ng-option>
                          <ng-option value="2">PSD</ng-option>
                          <ng-option value="3">Wordpress</ng-option>
                          <ng-option value="4">PHP</ng-option>
                          <ng-option value="5">Angular</ng-option>
                        </ng-select>
                      <div class="col-xl-2 col-lg-3 col-md-12 mb-0">
                        <a
                          href="javascript:void(0);"
                          class="btn ripple btn-lg btn-block btn-secondary br-ts-md-0 br-bs-md-0"
                          >Search</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /header-text -->
    </div>
  </section>
  <!--/Section-->
</div>
<!--/Section-->
