<app-bannering1 [title]="'Login'" [items]="['Home','Pages','Login']"></app-bannering1>
		<!--Login-Section-->
		<section class="sptb">
			<div class="container customerpage">
				<div class="row">
					<div class="single-page" >
						<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
							<div class="wrapper wrapper2">
								<div class="card-body pb-4">
									<div class="btn-list d-flex">
										<a aria-label="google" href="https://www.google.com/gmail/" class="btn btn-google btn-block"><i class="fa fa-google fa-1x me-2"></i> Google</a>
										<a  aria-label="twitter" href="https://twitter.com/" class="btn btn-twitter"><i class="fa fa-twitter fa-1x"></i></a>
										<a  aria-label="facebook" href="https://www.facebook.com/" class="btn btn-facebook me-0"><i class="fa fa-facebook fa-1x"></i></a>
									</div>
								</div>
								<hr class="divider">
								<form  id="login" class="card-body" >
									<div class="mail">
										<input type="email" name="mail">
				 						<label>Mail or Username</label>
									</div>
									<div class="passwd mb-0">
										<input type="password" name="password">
										<label>Password</label>
									</div>
									<div class="form-group pt-3  mt-4">
										<label class="custom-control form-checkbox">
											<input type="checkbox" class="custom-control-input">
											<span class="custom-control-label text-dark ms-4 mt-1">Remember me</span>
										</label>
									</div>
									<div class="submit">
										<a class="btn ripple  btn-primary btn-block" routerLink="/home/home-page01" >Login</a>
									</div>
									<p class="mb-2"><a href="forgot.html" >Forgot Password</a></p>
									<p class="text-dark mb-0">Don't have account?<a routerLink="/custom-pages/register" class="text-primary ms-1 d-inline-block">Sign UP</a></p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/Login-Section-->

		<!-- Onlinesletter-->
		<section class="sptb bg-white border-top">
			<app-subscribe-page></app-subscribe-page>
		</section>
		<!--/Onlinesletter-->
