<div class="error-image construction-image1">
		<div class="page page-h">
			<div class="page-content z-index-10">
				<div class="container text-center">
					<section class="sptb">
  <div class="container customerpage">
    <div class="row">
      <div class="single-page">
        <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
          <div class="wrapper wrapper2">
            <div class="card-body">
              <div class="btn-list d-flex">
                <a
                  aria-label="google"
                  href="https://www.google.com/gmail/"
                  class="btn btn-google btn-block"
                  ><i class="fa fa-google fa-1x me-2"></i> Google</a
                >
                <a
                  aria-label="twitter"
                  href="https://twitter.com/"
                  class="btn btn-twitter"
                  ><i class="fa fa-twitter fa-1x"></i
                ></a>
                <a
                  aria-label="facebook"
                  href="https://www.facebook.com/"
                  class="btn btn-facebook"
                  ><i class="fa fa-facebook fa-1x"></i
                ></a>
              </div>
            </div>
            <hr class="divider" />
            <form (ngSubmit)="register()" id="Register" class="card-body" tabindex="500" >

              <div class="name"><input  type="text" name="name" [(ngModel)]="name" placeholder="Enter Name" required>
                <label >Name</label>
              </div>
              <div class="mail">
                <input type="email" name="mail"  [(ngModel)]="email" placeholder="Enter Email Id" required/>
                <label>Mail or Username</label>
              </div>
              <div class="passwd">
                <input type="password" name="Password"  [type]="showPassword ? 'text' : 'password'"  [(ngModel)]="password" placeholder="Enter Password" required/>
                <label>Password</label>
              </div>
                 <div class="form-group">
                            <p *ngIf="errorMessage.length > 0" class="text-danger">
                                {{errorMessage}}</p>
                            
                            <p *ngIf="error.message.length > 0" class="text-danger">
                                {{error.message}} </p>
            
                                <p *ngIf="message.length > 0" class="text-info">
                                    {{message}} </p>
                        </div>
              <div class="submit">
                <button
                  class="btn ripple btn-primary btn-block"
                  href="javascript:void(0);"
                  >Register</button>
              </div>
           
              <p class="text-dark mb-0">
                Already have an account?<a
                  routerLink="/custom-pages/login"
                  class="text-primary ms-1"
                  >Sign In</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
				</div>
			</div>               
		</div>
        </div>
		<!-- End Page -->