<app-bannering2 [title]="'Page Details'" [items]="['Pages', 'Other-Pages']"></app-bannering2>

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12">
        <div class="card overflow-hidden">
          <div class="card-body">
            <div class="item-det mb-4">
              <a href="javascript:void(0);" class="text-dark">
                <h2 class="fs-22">
                  Bioplex - Beauty & Spa Creative Wordpress Template
                </h2>
              </a>
              <div class="d-flex mt-2">
                <ul class="d-flex">
                  <li class="me-5">
                    <a href="javascript:void(0);" class="icons"><i class="fe fe-briefcase text-muted me-1"></i>
                      Wordpress</a>
                  </li>
                  <li class="me-5">
                    <a href="javascript:void(0);" class="icons"><i class="fe fe-calendar text-muted me-1"></i> 5 hours
                      ago</a>
                  </li>
                  <li class="me-5">
                    <a href="javascript:void(0);" class="icons"><i class="fe fe-eye text-muted me-1"></i> 765</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="marketplace-single-imag mx-auto text-center">
              <app-image-preview></app-image-preview>
              <div class="p-4 border btn-list">
                <a href="javascript:void(0);" class="btn ripple btn-primary -0"><i class="fe fe-airplay d-inline-block"></i> Live
                  Preview</a>
                <a routerLink="/pages/user-pages/favourite-ads" class="btn ripple btn-outline-primary btn-lg-0"><i
                    class="fe fe-heart d-inline-block"></i> Add to Favorites</a>
                <a routerLink="/pages/otherpages-3/carts" ScrollTop class="btn ripple btn-light btn-lg-0"><i class="fa fa-folder-open-o"></i>
                  Add to Collection</a>
              </div>
            </div>
          </div>
        </div>
        <div class="border-0 mb-5">
          <div class="wideget-user-tab wideget-user-tab3">
            <div class="tab-menu-heading">
              <div class="tabs-menu1">
                <ul ngbNav #nav="ngbNav" class="nav">
                  <li [ngbNavItem]="1" class="">
                    <a ngbNavLink href="#tab-1" class="" data-bs-toggle="tab">Details</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane active" id="tab-1">
                        <div class="border-start border-end p-5 bg-white">
                          <h3 class="card-title mb-3">Description</h3>
                          <div class="mb-0">
                            <p>
                              At vero eos et accusamus et iusto odio dignissimos
                              ducimus qui blanditiis praesentium voluptatum
                              deleniti atcorrupti quos dolores et quas molestias
                              excepturi sint occaecati cupiditate non provident,
                              similique sunt in culpa qui officia deserunt
                              mollitia animi, id est laborum et dolorum fuga.
                            </p>
                            <p>
                              On the other hand, we denounce with righteous
                              indignation and dislike men who are so beguiled
                              and demoraliz the charms of pleasure of the
                              moment, so blinded by dere, that they cannot
                              foresee the pain and trouble thena bound to ensue;
                              and equal blame belongs to those who fail in their
                              duty through weakness of will, which is the same
                              as saying through shrinking from toil and pain.
                            </p>
                          </div>
                          <h4 class="card-title mb-3">Features</h4>
                          <div class="row">
                            <div class="col-xl-6 col-md-6">
                              <ul class="list-unstyled ng-feature-icon widget-spec mb-0">
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>HTML Pages
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Plugins
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Light &amp; Dark Versions
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Realtime Project Work
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  More Maps
                                </li>
                                <li class="mb-xl-0">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Edittable Text
                                </li>
                              </ul>
                            </div>
                            <div class="col-xl-6 col-md-6">
                              <ul class="list-unstyled ng-feature-icon widget-spec mb-0">
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Message Chat
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Mail Inbox
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Icons Set
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Error Pages
                                </li>
                                <li class="">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Pricing Tabels
                                </li>
                                <li class="mb-0">
                                  <i class="typcn typcn-chevron-right-outline text-muted"></i>
                                  Shoping Cart
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="row mt-6 mb-1">
                            <div class="col-xl-4 col-md-6">
                              <div class="card text-center bg-light shadow-none mb-3">
                                <div class="card-body pt-3 pb-3">
                                  <p class="">100% Fully Responsive</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="card text-center bg-light shadow-none mb-3">
                                <div class="card-body pt-3 pb-3">
                                  <p class="">Bootstrap4 Framework</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="card text-center bg-light shadow-none mb-3">
                                <div class="card-body pt-3 pb-3">
                                  <p class="">W3C Validated</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="card text-center bg-light mb-3 mb-lg-0 shadow-none">
                                <div class="card-body pt-3 pb-3">
                                  <p class="">Regular Updates</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="card text-center bg-light mb-3 mb-lg-0 shadow-none">
                                <div class="card-body pt-3 pb-3">
                                  <p class="">Easy to Customize</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="card text-center bg-light mb-0 shadow-none">
                                <div class="card-body pt-3 pb-3">
                                  <p class="">24/7 Support</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer bg-white br-bs-3 br-be-3 border-end border-start border-bottom">
                          <div class="btn-list">
                            <a href="javascript:void(0);" class="btn ripple btn-secondary icons"><i
                                class="fe fe-share-2 me-1"></i> Share</a>
                            <a href="javascript:void(0);" class="btn ripple btn-danger icons" data-bs-toggle="modal"
                              data-bs-target="#report" (click)="open(content)"><i
                                class="icon icon-exclamation me-1"></i> Report
                              Abuse</a>
                            <a href="javascript:void(0);" class="btn ripple btn-info icons"><i
                                class="icon icon-heart me-1"></i> 678</a>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink href="#tab-2" data-bs-toggle="tab" class="">Ratings</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="tab-2">
                        <div class="border-start border-end p-5 bg-white border-bottom br-bs-3 br-be-3">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="d-inline-flex">
                                    <ngb-rating class="text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class="">by
                                      <a href="javascript:void(0);" class="text-primary ms-0">Socrates</a>
                                      <span class="text-muted"> 2 days ago</span></span>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Quality
                                  </h4>
                                  <p class="font-weight-normal dark-grey-text mb-0">
                                    Excellent design that breaksaway from the
                                    cliche bootstrap sites that are a
                                    dime-a-dozen these days.
                                  </p>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="d-inline-flex">
                                    <ngb-rating class="text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class="ms-auto">by
                                      <a href="javascript:void(0);" class="text-primary ms-0">Joyce Chua</a>
                                      <span class="text-muted"> 2 months ago</span></span>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Quality
                                  </h4>
                                  <p class="font-weight-normal dark-grey-text mb-0">
                                    Awesome code quality
                                  </p>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="d-inline-flex">
                                    <ngb-rating class="text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class="">by
                                      <a href="javascript:void(0);" class="text-primary ms-0">Sonia Fraser</a>
                                      <span class="text-muted"> 3 months ago</span></span>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Quality
                                  </h4>
                                  <p class="font-weight-normal dark-grey-text mb-0">
                                    Good design & clean commented code. Before
                                    purchase technical team very fast response
                                    direct email support.
                                  </p>
                                </div>
                                <div class="card-body bg-light">
                                  <div class="media mt-0 mb-0">
                                    <div class="d-flex me-3">
                                      <a href="javascript:void(0);"><img class="media-object brround" alt="64x64"
                                          src="./assets/images/users/male/1.jpg" />
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="mt-0 mb-1">Joanne Scott</h4>
                                      <p class="fs-15 mb-0 mt-2">
                                        Hey Thank You So Much
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="d-inline-flex me-1">
                                    <ngb-rating class="text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                  </div>
                                  (4)
                                  <div class="card-options">
                                    <span class="">by
                                      <a href="javascript:void(0);" class="text-primary ms-0">Owen Bongcaras</a>
                                      <span class="text-muted"> 2 months ago</span></span>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Quality
                                  </h4>
                                  <p class="font-weight-normal dark-grey-text mb-0">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                  </p>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="rating-stars d-flex align-items-center">
                                    <input type="number" readonly="readonly" class="rating-value star"
                                      name="rating-stars-value" value="3" />
                                    <div class="d-inline-flex me-1">
                                      <ngb-rating class="text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                    </div>
                                    (4)
                                  </div>
                                  <div class="card-options">
                                    <span class="">by
                                      <a href="javascript:void(0);" class="text-primary ms-0">Justin Gray</a>
                                      <span class="text-muted"> 2 years ago</span></span>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Quality
                                  </h4>
                                  <p class="font-weight-normal dark-grey-text mb-0">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                  </p>
                                </div>
                              </div>
                              <ul class="pagination">
                                <li class="page-item page-prev disabled">
                                  <a class="page-link" href="javascript:void(0);" tabindex="-1">Prev</a>
                                </li>
                                <li class="page-item active">
                                  <a class="page-link" href="javascript:void(0);">1</a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0);">2</a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0);">3</a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0);">4</a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0);">5</a>
                                </li>
                                <li class="page-item page-next">
                                  <a class="page-link" href="javascript:void(0);">Next</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-5">
                          <div class="card-header">
                            <h3 class="card-title">Item Rating</h3>
                          </div>
                          <div class="card-body">
                            <div class="rating-stars d-flex mb-3">
                              <label class="form-label me-3 mt-1">Select Rating:</label>
                              <input type="number" readonly="readonly" class="rating-value star"
                                name="rating-stars-value" value="3" />
                              <div class="d-inline-flex mt-1">
                                <ngb-rating class="text-warning" [(rate)]="currentRate" [max]="5"></ngb-rating>(4)
                              </div>
                            </div>
                            <div class="form-group reviewselect">
                              <ng-select class="select2" [searchable]="false" [clearable]="false">
                                <ng-option value="0">Selectng-Options</ng-option>
                                <ng-option value="1">Customer Support</ng-option>
                                <ng-option value="2">Design Quality</ng-option>
                                <ng-option value="3">Other</ng-option>
                              </ng-select>
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" name="example-textarea-input" rows="6"
                                placeholder="Comment"></textarea>
                            </div>
                            <a href="javascript:void(0);" class="btn ripple btn-primary">Save</a>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="3">
                    <a ngbNavLink href="#tab-3" data-bs-toggle="tab" class="">Comments</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="tab-3">
                        <div class="border-start border-end p-5 bg-white border-bottom br-bs-3 br-be-3">
                          <div div class="card shadow-none">
                            <div class="card-body" *ngFor="let card of data">
                              <div>
                                <div class="media mt-0">
                                  <img class="me-3 bg-light br-4" [src]="card.src" alt="Image description" />
                                  <div class="media-body">
                                    <div class="d-md-flex align-items-center">
                                      <h4 class="mb-2">
                                        {{ card.name }}
                                      </h4>
                                      <small class="text-muted ms-md-auto"><i class="fe fe-calendar me-1"></i>{{
                                        card.date }}</small>
                                    </div>
                                    <app-message-modal></app-message-modal>
                                    <app-comment-modal></app-comment-modal>
                                    <app-report-modal></app-report-modal>
                                  </div>
                                </div>
                                <p class="fs-15 mb-0 mt-3">
                                  {{ card.summery }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-5">
                          <div class="card-header">
                            <h3 class="card-title">Write Your Comments</h3>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                              <input type="text" class="form-control" id="name1" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control" id="email" placeholder="Email address" />
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" name="example-textarea-input" rows="6"
                                placeholder="Write Your Comment"></textarea>
                            </div>
                            <a href="javascript:void(0);" class="btn ripple btn-primary">Submit</a>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="4">
                    <a ngbNavLink href="#tab-4" data-bs-toggle="tab" class="">Support</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="tab-4">
                        <div class="border-start border-end p-5 bg-white">
                          <h3 class="card-title mb-4">Contact the Author</h3>
                          <div class="form-group">
                            <label class="form-label">Support Subject</label>
                            <input type="text" class="form-control" placeholder="Enter Your Name" />
                          </div>
                          <div class="form-group">
                            <label class="form-label">Support Query</label>
                            <textarea class="form-control" name="example-textarea-input" rows="6"
                              placeholder="Comment"></textarea>
                          </div>
                          <a href="javascript:void(0);" class="btn ripple btn-primary">Submit</a>
                        </div>
                        <div class="card-footer bg-white br-bs-3 br-be-3 border-end border-start border-bottom">
                          <div class="btn-list">
                            <a href="javascript:void(0);" class="btn ripple btn-secondary icons"><i
                                class="fe fe-share-2 me-1"></i> Share</a>
                            <a href="javascript:void(0);" class="btn ripple btn-danger icons" (click)="open(content)"><i
                                class="icon icon-exclamation me-1"></i> Report
                              Abuse</a>
                            <a href="javascript:void(0);" class="btn ripple btn-info icons"><i
                                class="icon icon-heart me-1"></i> 678</a>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content details-tab-content">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
        <h3 class="mb-5 mt-6">Related Posts</h3>
        <!--Related Posts-->
        <owl-carousel-o [options]="customOptions" class="">
          <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
              <div class="slide">
                <div class="item">
                  <div class="card mb-0">
                    <div class="power-ribbon power-ribbon-top-left text-warning">
                      <span class="bg-warning"><i class="fa fa-bolt"></i></span>
                    </div>
                    <div class="item-card2-tans" >
                      <div class="item-card7-imgs">
                        <a routerLink="/pages/otherpages-1/page-details"></a>
                        <img [src]="slide.src" />
                        <div class="tag-text">
                          <span class="bg-dark-transparent tag-option">{{slide.tag}}</span>
                        </div>
                      </div>
                      <div class="item-card2-icons">
                        <a routerLink="/pages/otherpages-3/orders"
                          class="bg-primary"
                          ngbTooltip="{{ slide.tooltip1 }}"
                          placement="top"
                          ><i class="fe fe-heart"></i
                        ></a>
                        <a
                          routerLink="/pages/otherpages-3/carts"
                          class="bg-secondary"
                          ngbTooltip="{{ slide.tooltip2 }}"
                          placement="top"
                          ><i class="fe fe-shopping-cart"></i
                        ></a>
                        <a
                          routerLink="/pages/otherpages-1/page-details"
                          class="bg-info"
                          ngbTooltip="{{ slide.tooltip3 }}"
                          placement="top"
                          ><i class="fe fe-eye"></i
                        ></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="item-card7-desc">
                        <div class="item-card7-text">
                          <a
                            routerLink="/pages/otherpages-1/page-details"
                            class="text-dark"
                            ><h4 class="font-weight-semibold">{{ slide.title }}</h4></a
                          >
                          <p class="fs-13 mb-1 text-muted">
                            {{ slide.summary }}
                          </p>
                        </div>
                        <div class="d-md-flex">
                          <div class="d-inline-flex align-items-center">
                            <ngb-rating class="text-warning me-1" [(rate)]="currentRate" [max]="5"></ngb-rating>
                           {{currentRate}}
                          </div>
                          <div class="ms-auto mt-auto">
                            <div class="item-card9-cost">
                              <h4 class="mb-0">{{ slide.price }}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer pt-3">
                      <div class="footerimg d-flex mt-0 mb-0">
                        <div class="d-flex align-items-center footerimg-l mb-0">
                          <img
                            src="{{ slide.image }}"
                            alt="image"
                            class="avatar avatar-sm brround me-2"
                          />
                          <a
                            href="javascript:void(0);"
                            class="time-title text-muted p-0 leading-normal"
                            >{{ slide.name
                            }}<i
                              class="si si-check text-success fs-12 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="verified"
                            ></i
                          ></a>
                        </div>
                        <div class="footerimg-r ms-auto">
                          <span class="text-muted d-inline-flex align-items-center"
                            ><i class="fe fe-shopping-cart me-1"></i> {{ slide.sale }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-template
            >
          </ng-container>
        </owl-carousel-o>
        <!--/Related Posts-->
      </div>
      <!--Right Side Content-->
      <div class="col-xl-4 col-lg-4 col-md-12">
        <app-pagedetails-sidebar></app-pagedetails-sidebar>
      </div>
      <!--Rightside Content-->
    </div>
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->

<!-- Report Modal -->
<ng-template #content let-modal>
  <!-- <div class="modal"  id="report" tabindex="-1" > -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="examplereportLongTitle">Report Abuse</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" id="report-name" placeholder="Enter url" />
        </div>
        <div class="form-group">
          <ng-select name="country" id="select-countries2" placeholder="Select the Categories" class=" " [searchable]="false" [clearable]="false">
            <ng-option value="1" selected>Categories</ng-option>
            <ng-option value="2">IT Itemsm</ng-option>
            <ng-option value="3">Identity Theft</ng-option>
            <ng-option value="4">Online Shopping Fraud</ng-option>
            <ng-option value="5">Service Providers</ng-option>
            <ng-option value="6">Phishing</ng-option>
            <ng-option value="7">Spyware</ng-option>
          </ng-select>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="report-email" placeholder="Email address" />
        </div>
        <div class="form-group mb-0">
          <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ripple btn-danger" data-bs-dismiss="modal"
          (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
        <button type="button" class="btn ripple btn-success">Submit</button>
      </div>
    </div>
  </div>
</ng-template><!-- /Report Modal -->

<!-- Message Modal -->

<ng-template #content1 let-modal>
  <!-- <div class="modal" id="contact" tabindex="-1" role="dialog"  aria-hidden="true"> -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="examplecontactLongTitle">Send Message</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" id="contact-name" placeholder="Your Name" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="contact-email" placeholder="Email address" />
        </div>
        <div class="form-group mb-0">
          <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ripple btn-danger" data-bs-dismiss="modal"
          (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
        <button type="button" class="btn ripple btn-success">Send</button>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ng-template><!-- /Message Modal -->

<!--Comment Modal -->
<ng-template #content2 let-modal>
  <!-- <div class="modal" id="Comment" tabindex="-1" role="dialog"  aria-hidden="true"> -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleCommentLongTitle">
          Leave a Comment
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" id="Comment-name" placeholder="Your Name" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="Comment-email" placeholder="Email address" />
        </div>
        <div class="form-group mb-0">
          <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ripple btn-danger" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn ripple btn-success">Send</button>
      </div>
    </div>
  </div>
  <!-- </div> -->
</ng-template><!--/Comment Modal -->
