<app-bannering1
  [title]="'Safety Tips'"
  [items]="['Pages', 'Safety Tips']"
></app-bannering1>

<!--user dashboard-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-12">
        <app-sidebar-dashboard></app-sidebar-dashboard>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">1. Watch out for email scams</h3>
            <div class="card-options">
              <a
                href="javascript:void(0);"
                class="btn ripple btn-sm btn-secondary me-2"
                ><i class="icon icon-pencil me-1"></i> Edit</a
              >
            </div>
          </div>
          <div class="card-body">
            <label class="form-label">Select Color Theme</label>
            <div class="row gutters-xs mb-3">
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="azure"
                    class="colorinput-input"
                    checked=""
                  />
                  <span class="colorinput-color bg-azure"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="indigo"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-indigo"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="purple"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-purple"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="pink"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-secondary"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="red"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-red"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="orange"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-orange"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="yellow"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-yellow"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="lime"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-lime"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="green"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-green"></span>
                </label>
              </div>
              <div class="col-auto">
                <label class="colorinput">
                  <input
                    name="color"
                    type="radio"
                    value="teal"
                    class="colorinput-input"
                  />
                  <span class="colorinput-color bg-teal"></span>
                </label>
              </div>
            </div>
            <ul class="list-unstyled widget-spec mb-0">
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                Nemo enim ipsam voluptatem voluptas sit aspernatur ratione
                voluptatem sequi nesciunt. laudantium
              </li>
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque
              </li>
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                On the other hand, we denounce with righteous indignation and
                dislike men who are so beguiled and demoralized
              </li>
              <li class="mb-0">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                Nemo enim ipsam voluptatem voluptas sit aspernatur ratione
                voluptatem sequi nesciunt. laudantium
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >View More</a
            >
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">2. Pay with a credit card</h3>
            <div class="card-options">
              <a
                href="javascript:void(0);"
                class="btn ripple btn-sm btn-secondary me-2"
                ><i class="icon icon-pencil me-1"></i> Edit</a
              >
            </div>
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec mb-0">
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                Nemo enim ipsam voluptatem voluptas sit aspernatur ratione
                voluptatem sequi nesciunt. laudantium
              </li>
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque
              </li>
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                On the other hand, we denounce with righteous indignation and
                dislike men who are so beguiled and demoralized
              </li>
              <li class="mb-0">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                Nemo enim ipsam voluptatem voluptas sit aspernatur ratione
                voluptatem sequi nesciunt. laudantium
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >View More</a
            >
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">3. Check your statements</h3>
            <div class="card-options">
              <a
                href="javascript:void(0);"
                class="btn ripple btn-sm btn-secondary me-2"
                ><i class="icon icon-pencil me-1"></i> Edit</a
              >
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="form-label">Select Images</label>
              <div class="row gutters-sm">
                <div class="col-6 col-sm-2">
                  <label class="imagecheck mb-4">
                    <input
                      name="imagecheck"
                      type="checkbox"
                      value="1"
                      class="imagecheck-input"
                    />
                    <span class="imagecheck-figure">
                      <img
                        src="./assets/images/media/9.jpg"
                        alt="}"
                        class="imagecheck-image cover-image"
                      />
                    </span>
                  </label>
                </div>
                <div class="col-6 col-sm-2">
                  <label class="imagecheck mb-4">
                    <input
                      name="imagecheck"
                      type="checkbox"
                      value="2"
                      class="imagecheck-input"
                      checked=""
                    />
                    <span class="imagecheck-figure">
                      <img
                        src="./assets/images/media/10.jpg"
                        alt="}"
                        class="imagecheck-image cover-image"
                      />
                    </span>
                  </label>
                </div>
                <div class="col-6 col-sm-2">
                  <label class="imagecheck mb-4">
                    <input
                      name="imagecheck"
                      type="checkbox"
                      value="3"
                      class="imagecheck-input"
                    />
                    <span class="imagecheck-figure">
                      <img
                        src="./assets/images/media/11.jpg"
                        alt="}"
                        class="imagecheck-image cover-image"
                      />
                    </span>
                  </label>
                </div>
                <div class="col-6 col-sm-2">
                  <label class="imagecheck mb-4">
                    <input
                      name="imagecheck"
                      type="checkbox"
                      value="4"
                      class="imagecheck-input"
                      checked=""
                    />
                    <span class="imagecheck-figure">
                      <img
                        src="./assets/images/media/13.jpg"
                        alt="}"
                        class="imagecheck-image cover-image"
                      />
                    </span>
                  </label>
                </div>
                <div class="col-6 col-sm-2">
                  <label class="imagecheck mb-4">
                    <input
                      name="imagecheck"
                      type="checkbox"
                      value="5"
                      class="imagecheck-input"
                    />
                    <span class="imagecheck-figure">
                      <img
                        src="./assets/images/media/12.jpg"
                        alt="}"
                        class="imagecheck-image cover-image"
                      />
                    </span>
                  </label>
                </div>
                <div class="col-6 col-sm-2">
                  <label class="imagecheck mb-4">
                    <input
                      name="imagecheck"
                      type="checkbox"
                      value="6"
                      class="imagecheck-input"
                    />
                    <span class="imagecheck-figure">
                      <img
                        src="./assets/images/media/14.jpg"
                        alt="}"
                        class="imagecheck-image cover-image"
                      />
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <ul class="list-unstyled widget-spec mb-0">
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                Nemo enim ipsam voluptatem voluptas sit aspernatur ratione
                voluptatem sequi nesciunt. laudantium
              </li>
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque
              </li>
              <li class="mb-0">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                On the other hand, we denounce with righteous indignation and
                dislike men who are so beguiled and demoralized
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >View More</a
            >
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="card-title">4. Report the company</h3>
            <div class="card-options">
              <a
                href="javascript:void(0);"
                class="btn ripple btn-sm btn-secondary me-2"
                ><i class="icon icon-pencil me-1"></i> Edit</a
              >
            </div>
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec mb-0">
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                Nemo enim ipsam voluptatem voluptas sit aspernatur ratione
                voluptatem sequi nesciunt. laudantium
              </li>
              <li class="">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque
              </li>
              <li class="mb-0">
                <i
                  class="fa fa-caret-right text-success"
                  aria-hidden="true"
                ></i>
                On the other hand, we denounce with righteous indignation and
                dislike men who are so beguiled and demoralized
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0);" class="btn ripple btn-primary"
              >View More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/ Onlinesletter-->
