::ng-deep {
    .modal-content {
        border-radius: 6px !important;
    }

    .my-custom-home8{
      .nav-link.active{
        border-radius: 10px;
      }
    }
}
.tabs-menu .temp-cat .temp-thumb a {
    padding: 0;
}
// .media-body {
//    .testimonial::before {
//     content: "\f10d";
//     font-family: FontAwesome;
//     color: #8a8db3;
//     font-size: 14px !important;
//     font-size: 45px;
//     position: absolute;
//     inset-inline-start: 106px;
//   }
// }
