<app-bannering2
  [title]="'Ad Details'"
  [items]="['Home', 'Pages','Ad Details']"
></app-bannering2>
<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12">
        <div class="border-0 mb-5 mb-xl-0">
          <div class="wideget-user-tab wideget-user-tab3">
            <div class="tab-menu-heading">
              <div class="tabs-menu1">
                <ul ngbNav #nav="ngbNav" class="nav">
                  <li [ngbNavItem]="1" class="">
                    <a ngbNavLink class="" data-bs-toggle="tab">Details</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane active" id="tab-1">
                        <div
                          class="border-start border-end p-5 bg-white border-bottom br-bs-3 br-be-3"
                        >
                          <div class="item-det mb-4">
                            <a href="javascript:void(0);" class="text-dark"
                              ><h2 class="fs-22">
                                Bioplex - Beauty & Spa Creative Wordpress
                                Template
                              </h2></a
                            >
                            <div class="d-flex">
                              <ul class="d-flex">
                                <li class="me-5">
                                  <a href="javascript:void(0);" class="icons"
                                    ><i
                                      class="fe fe-briefcase text-muted me-1"
                                    ></i>
                                    Wordpress</a
                                  >
                                </li>
                                <li class="me-5">
                                  <a href="javascript:void(0);" class="icons"
                                    ><i
                                      class="fe fe-calendar text-muted me-1"
                                    ></i>
                                    5 hours ago</a
                                  >
                                </li>
                                <li class="me-5">
                                  <a href="javascript:void(0);" class="icons"
                                    ><i class="fe fe-eye text-muted me-1"></i>
                                    765</a
                                  >
                                </li>
                              </ul>
                              <div class="rating-stars d-flex me-5">
                                <input
                                  type="number"
                                  readonly="readonly"
                                  class="rating-value star"
                                  name="rating-stars-value"
                                  id="rating-stars-value"
                                  value="4"
                                />
                                <div class="d-inline-flex">
                                  <ngb-rating
                                    class="text-warning"
                                    [(rate)]="currentRate"
                                    [max]="5"
                                  ></ngb-rating>
                                  (4)
                                </div>
                              </div>
                              <div class="rating-stars d-flex">
                                <div class="rating-stars-container me-2">
                                  <div class="rating-star sm">
                                    <i class="fa fa-heart"></i>
                                  </div>
                                </div>
                                135
                              </div>
                            </div>
                          </div>
                          <div
                            class="marketplace-single-imag mx-auto text-center"
                          >
                          <app-image-preview></app-image-preview>
                            <div class="p-4 border btn-list">
                              <a
                                href="javascript:void(0);"
                                class="btn ripple btn-light mb-xxl-0"
                                ><i class="fe fe-airplay me-2"></i> Live
                                Preview</a
                              >
                              <a
                                href="javascript:void(0);"
                                class="btn ripple btn-light mb-xxl-0"
                                ><i class="fe fe-heart me-2"></i> Add to
                                Favorites</a
                              >
                              <a
                                href="javascript:void(0);"
                                class="btn ripple btn-light mb-xxl-0"
                                ><i class="fa fa-folder-open-o me-2"></i> Add to
                                Collections</a
                              >
                              <a
                                href="javascript:void(0);"
                                class="btn ripple btn-light mb-xxl-0"
                                ><i class="fe fe-share-2 me-2"></i> Share</a
                              >
                            </div>
                          </div>
                        </div>
                        <!--Description-->
                        <div class="card mt-5">
                          <div class="card-header">
                            <h3 class="card-title">Description</h3>
                          </div>
                          <div class="card-body">
                            <div class="mb-0">
                              <p>
                                At vero eos et accusamus et iusto odio
                                dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atcorrupti quos dolores et
                                quas molestias excepturi sint occaecati
                                cupiditate non provident, similique sunt in
                                culpa qui officia deserunt mollitia animi, id
                                est laborum et dolorum fuga.
                              </p>
                              <p class="">
                                On the other hand, we denounce with righteous
                                indignation and dislike men who are so beguiled
                                and demoraliz the charms of pleasure of the
                                moment, so blinded by desire, that they cannot
                                foresee the pain and trouble thena bound to
                                ensue; and equal blame belongs to those who fail
                                in their duty through weakness of will, which is
                                the same as saying through shrinking from toil
                                and pain.
                              </p>
                            </div>
                            <h4 class="card-title mb-3">Features</h4>
                            <div class="row">
                              <div class="col-xl-6 col-md-6">
                                <ul class="list-unstyled widget-spec mb-0">
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i
                                    >HTML Pages
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Plugins
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Light & Dark Versions
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Realtime Project Work
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    More Maps
                                  </li>
                                  <li class="mb-xl-0">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Edittable Text
                                  </li>
                                </ul>
                              </div>
                              <div class="col-xl-6 col-md-6">
                                <ul class="list-unstyled widget-spec mb-0">
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Message Chat
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Mail Inbox
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Icons Set
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Error Pages
                                  </li>
                                  <li class="">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Pricing Tabels
                                  </li>
                                  <li class="mb-0">
                                    <i
                                      class="typcn typcn-chevron-right-outline text-muted"
                                    ></i>
                                    Shoping Cart
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="list-id">
                              <div class="row">
                                <div class="col">
                                  <a class="mb-0">Marketplace ID : #8562354</a>
                                </div>
                                <div class="col col-auto">
                                  Posted By <a class="mb-0">Individual</a> /
                                  19th Nov 2019
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer">
                            <div class="btn-list">
                              <a
                                href="javascript:void(0);"
                                class="btn ripple btn-info"
                                ><i class="fe fe-share-2 me-1"></i> Share</a
                              >
                              <app-report-modal class="btn ripple btn-secondary"></app-report-modal>
                              <a
                                href="javascript:void(0);"
                                class="btn ripple btn-primary"
                                ><i class="fe fe-heart me-1"></i> 678</a
                              >
                            </div>
                          </div>
                        </div>
                        <!--Description-->
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink data-bs-toggle="tab" class="">Ratings</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="tab-2">
                        <div
                          class="border-start border-end p-5 bg-white border-bottom br-bs-3 br-be-3"
                        >
                          <div class="row">
                            <div class="col-md-12">
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="rating-stars d-flex">
                                    <input
                                      type="number"
                                      readonly="readonly"
                                      class="rating-value star"
                                      name="rating-stars-value"
                                      value="4"
                                    />
                                    <div class="d-inline-flex">
                                      <ngb-rating
                                        class="text-warning"
                                        [(rate)]="currentRate"
                                        [max]="5"
                                      ></ngb-rating
                                      >(4)
                                    </div>
                                  </div>
                                  <div class="card-options">
                                    <span class=""
                                      >by
                                      <a
                                        href="javascript:void(0);"
                                        class="text-primary me-1 ms-1"
                                        >Socrates</a
                                      >
                                      <span class="text-muted"
                                        >2 days ago</span
                                      ></span
                                    >
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Qulity
                                  </h4>
                                  <p
                                    class="font-weight-normal dark-grey-text mb-0"
                                  >
                                    Excellent design that breaksaway from the
                                    cliche bootstrap sites that are a
                                    dime-a-dozen these days.
                                  </p>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="rating-stars d-flex">
                                    <input
                                      type="number"
                                      readonly="readonly"
                                      class="rating-value star"
                                      name="rating-stars-value"
                                      value="4"
                                    />
                                    <ngb-rating
                                      class="text-warning"
                                      [(rate)]="currentRate"
                                      [max]="5"
                                    ></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class="ms-auto"
                                      >by
                                      <a
                                        href="javascript:void(0);"
                                        class="text-primary me-1 ms-1"
                                        >Joyce Chua</a
                                      >
                                      <span class="text-muted"
                                        >2 months ago</span
                                      ></span
                                    >
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Qulity
                                  </h4>
                                  <p
                                    class="font-weight-normal dark-grey-text mb-0"
                                  >
                                    Awesome code quality
                                  </p>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="rating-stars d-flex">
                                    <input
                                      type="number"
                                      readonly="readonly"
                                      class="rating-value star"
                                      name="rating-stars-value"
                                      value="3"
                                    />
                                    <ngb-rating
                                      class="text-warning"
                                      [(rate)]="currentRate"
                                      [max]="5"
                                    ></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class=""
                                      >by
                                      <a
                                        href="javascript:void(0);"
                                        class="text-primary me-1 ms-1"
                                        >Sonia Fraser</a
                                      >
                                      <span class="text-muted"
                                        >3 months ago</span
                                      ></span
                                    >
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Qulity
                                  </h4>
                                  <p
                                    class="font-weight-normal dark-grey-text mb-0"
                                  >
                                    Good design & clean commented code. Before
                                    purchase technical team very fast response
                                    direct email support.
                                  </p>
                                </div>
                                <div class="card-body bg-light">
                                  <div class="media mt-0 mb-0">
                                    <div class="d-flex me-3">
                                      <a href="javascript:void(0);"
                                        ><img
                                          class="media-object brround"
                                          alt="64x64"
                                          src="./assets/images/users/male/1.jpg"
                                        />
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="mt-0 mb-1">Joanne Scott</h4>
                                      <p class="fs-15 mb-0 mt-2">
                                        Hey Thank You So Much
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="rating-stars d-flex">
                                    <input
                                      type="number"
                                      readonly="readonly"
                                      class="rating-value star"
                                      name="rating-stars-value"
                                      value="2"
                                    />
                                    <ngb-rating
                                      class="text-warning"
                                      [(rate)]="currentRate"
                                      [max]="5"
                                    ></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class=""
                                      >by
                                      <a
                                        href="javascript:void(0);"
                                        class="text-primary me-1 ms-1"
                                        >Owen Bongcaras</a
                                      >
                                      <span class="text-muted"
                                        >2 months ago</span
                                      ></span
                                    >
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Qulity
                                  </h4>
                                  <p
                                    class="font-weight-normal dark-grey-text mb-0"
                                  >
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                  </p>
                                </div>
                              </div>
                              <div class="card shadow-none">
                                <div class="card-header bg-light shadow-none">
                                  <div class="rating-stars d-flex">
                                    <input
                                      type="number"
                                      readonly="readonly"
                                      class="rating-value star"
                                      name="rating-stars-value"
                                      value="3"
                                    />
                                    <ngb-rating
                                      class="text-warning"
                                      [(rate)]="currentRate"
                                      [max]="5"
                                    ></ngb-rating>
                                  </div>
                                  <div class="card-options">
                                    <span class=""
                                      >by
                                      <a
                                        href="javascript:void(0);"
                                        class="text-primary me-1 ms-1"
                                        >Justin Gray</a
                                      >
                                      <span class="text-muted"
                                        >2 years ago</span
                                      ></span
                                    >
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h4 class="dark-grey-text mb-2">
                                    Design Qulity
                                  </h4>
                                  <p
                                    class="font-weight-normal dark-grey-text mb-0"
                                  >
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.
                                  </p>
                                </div>
                              </div>
                              <ul class="pagination">
                                <li class="page-item page-prev disabled">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    tabindex="-1"
                                    >Prev</a
                                  >
                                </li>
                                <li class="page-item active">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    >1</a
                                  >
                                </li>
                                <li class="page-item">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    >2</a
                                  >
                                </li>
                                <li class="page-item">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    >3</a
                                  >
                                </li>
                                <li class="page-item">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    >4</a
                                  >
                                </li>
                                <li class="page-item">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    >5</a
                                  >
                                </li>
                                <li class="page-item page-next">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0);"
                                    >Next</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-5">
                          <div class="card-header">
                            <h3 class="card-title">Item Rating</h3>
                          </div>
                          <div class="card-body">
                            <div class="rating-stars d-flex mb-3">
                              <label class="form-label me-3 mt-1"
                                >Select Rating:</label
                              >
                              <input
                                type="number"
                                readonly="readonly"
                                class="rating-value star"
                                name="rating-stars-value"
                                value="3"
                              />
                              <div class="d-inline-flex">
                                <ngb-rating
                                  class="text-warning mt-1"
                                  [(rate)]="currentRate"
                                  [max]="5"
                                ></ngb-rating>
                              </div>
                            </div>
                            <div class="form-group reviewselect">
                              <ng-select class="" placeholder="Select" [searchable]="false" [clearable]="false">
                                <ng-option value="0"
                                  >Selectng-Options</ng-option
                                >
                                <ng-option value="1"
                                  >Customer Support</ng-option
                                >
                                <ng-option value="2">Design Qulity</ng-option>
                                <ng-option value="3">Other</ng-option>
                              </ng-select>
                            </div>
                            <div class="form-group">
                              <textarea
                                class="form-control"
                                name="example-textarea-input"
                                rows="6"
                                placeholder="Comment"
                              ></textarea>
                            </div>
                            <a
                              href="javascript:void(0);"
                              class="btn ripple btn-primary"
                              >Save</a
                            >
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="3">
                    <a ngbNavLink data-bs-toggle="tab" class="">Comments</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="tab-3">
                        <div
                          class="border-start border-end p-5 bg-white border-bottom br-bs-3 br-be-3"
                        >
                          <div class="card shadow-none">
                            <div class="card-body" *ngFor="let card of data">
                              <div>
                                <div class="media mt-0">
                                  <img
                                    class="me-3 bg-light"
                                    [src]="card.src"
                                    alt="Image description"
                                  />
                                  <div class="media-body">
                                    <div class="d-md-flex align-items-center">
                                      <h4 class="mb-2">
                                        {{ card.name }}
                                      </h4>
                                      <small class="text-muted ms-md-auto"
                                        ><i class="fe fe-calendar me-1"></i
                                        >{{ card.date }}</small
                                      >
                                    </div>
                                    <app-message-modal></app-message-modal>
                                    <app-comment-modal></app-comment-modal>
                                    <app-report-modal></app-report-modal>
                                  </div>
                                </div>
                                <p class="fs-15 mb-0 mt-3">
                                  {{ card.summery }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card mt-5">
                          <div class="card-header">
                            <h3 class="card-title">Write Your Comments</h3>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                id="name1"
                                placeholder="Your Name"
                              />
                            </div>
                            <div class="form-group">
                              <input
                                type="email"
                                class="form-control"
                                id="email"
                                placeholder="Email address"
                              />
                            </div>
                            <div class="form-group">
                              <textarea
                                class="form-control"
                                name="example-textarea-input"
                                rows="6"
                                placeholder="Write Your Comment"
                              ></textarea>
                            </div>
                            <a
                              href="javascript:void(0);"
                              class="btn ripple btn-primary"
                              >Submit</a
                            >
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="4">
                    <a ngbNavLink data-bs-toggle="tab" class="">Support</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane" id="tab-4">
                        <div class="border-start border-end p-5 bg-white">
                          <h3 class="card-title mb-5">Conatct the Author</h3>
                          <div class="form-group">
                            <label class="form-label">Support Subject</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter Your Name"
                            />
                          </div>
                          <div class="form-group">
                            <label class="form-label">Support Query</label>
                            <textarea
                              class="form-control"
                              name="example-textarea-input"
                              rows="6"
                              placeholder="Comment"
                            ></textarea>
                          </div>
                          <a
                            href="javascript:void(0);"
                            class="btn ripple btn-primary"
                            >Submit</a
                          >
                        </div>
                        <div
                          class="card-footer bg-white br-bs-3 br-be-3 border-end border-start border-bottom"
                        >
                          <div class="btn-list">
                            <a
                              href="javascript:void(0);"
                              class="btn ripple btn-secondary"
                              ><i class="fe fe-share-2 me-1"></i> Share</a
                            >
                            <app-report-modal></app-report-modal>>
                            <a
                              href="javascript:void(0);"
                              class="btn ripple btn-info"
                              ><i class="icon icon-heart me-1"></i> 678</a
                            >
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="tab-content details-tab-content"
            [ngbNavOutlet]="nav"
          ></div>
        </div>
        <h3 class="mb-5 mt-6">Related Posts</h3>
        <!--Related Posts-->
        <owl-carousel-o [options]="customOptions" class="">
          <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
              <div class="slide">
                <div class="item">
                  <div class="card mb-0">
                    <div class="power-ribbon power-ribbon-top-left text-warning">
                      <span class="bg-warning"><i class="fa fa-bolt"></i></span>
                    </div>
                    <div class="item-card2-tans" >
                      <div class="item-card7-imgs">
                        <a routerLink="/pages/otherpages-1/page-details"></a>
                        <img [src]="slide.src" />
                        <div class="tag-text">
                          <span class="bg-dark-transparent tag-option">{{slide.tag}}</span>
                        </div>
                      </div>
                      <div class="item-card2-icons">
                        <a routerLink="/pages/otherpages-3/orders"
                          class="bg-primary"
                          ngbTooltip="{{ slide.tooltip1 }}"
                          placement="top"
                          ><i class="fe fe-heart"></i
                        ></a>
                        <a
                          routerLink="/pages/otherpages-3/carts"
                          class="bg-secondary"
                          ngbTooltip="{{ slide.tooltip2 }}"
                          placement="top"
                          ><i class="fe fe-shopping-cart"></i
                        ></a>
                        <a
                          routerLink="/pages/otherpages-1/page-details"
                          class="bg-info"
                          ngbTooltip="{{ slide.tooltip3 }}"
                          placement="top"
                          ><i class="fe fe-eye"></i
                        ></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="item-card7-desc">
                        <div class="item-card7-text">
                          <a
                            routerLink="/pages/otherpages-1/page-details"
                            class="text-dark"
                            ><h4 class="font-weight-semibold">{{ slide.title }}</h4></a
                          >
                          <p class="fs-13 mb-1 text-muted">
                            {{ slide.summary }}
                          </p>
                        </div>
                        <div class="d-md-flex">
                          <div class="d-inline-flex align-items-center">
                            <ngb-rating class="text-warning me-1" [(rate)]="currentRate" [max]="5"></ngb-rating>
                           {{currentRate}}
                          </div>
                          <div class="ms-auto mt-auto">
                            <div class="item-card9-cost">
                              <h4 class="mb-0">{{ slide.price }}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer pt-3">
                      <div class="footerimg d-flex mt-0 mb-0">
                        <div class="d-flex align-items-center footerimg-l mb-0">
                          <img
                            src="{{ slide.image }}"
                            alt="image"
                            class="avatar avatar-sm brround me-2"
                          />
                          <a
                            href="javascript:void(0);"
                            class="time-title text-muted p-0 leading-normal"
                            >{{ slide.name
                            }}<i
                              class="si si-check text-success fs-12 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="verified"
                            ></i
                          ></a>
                        </div>
                        <div class="footerimg-r ms-auto">
                          <span class="text-muted d-inline-flex align-items-center"
                            ><i class="fe fe-shopping-cart me-1"></i> {{ slide.sale }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-template
            >
          </ng-container>
        </owl-carousel-o>
        <!--/Related Posts-->
      </div>
      <!--Right Side Content-->
      <div class="col-xl-4 col-lg-4 col-md-12">
        <div class="card mt-5 mt-lg-0">
          <div class="licence-niceselect pt-4 ps-4 pe-4 pb-0">
            <div class="licence-niceselect">
              <ng-select [(ngModel)]="selectedPersonId" [searchable]="false" [clearable]="false"
                class="nice-select required"
                id="licence-categories"
                name="custom1"
                placeholder="select"
              >
                <ng-option value="regular">Regular License</ng-option>
                <ng-option value="extend">Extended License</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="pt-4 pb-4 ps-5 pe-5 border-bottom">
            <div *ngIf="selectedPersonId == 'regular'" class="licence-content active" id="regular">
              <span class="mb-0 ms-auto licence-price">$32</span>
              <ul class="list-unstyled widget-spec mb-0">
                <li>
                  <i class="fe fe-check" aria-hidden="true"></i>6 Months Support And
                  Updates
                </li>
                <li><i class="fe fe-check" aria-hidden="true"></i> Forum Support</li>
                <li>
                  <i class="fe fe-check" aria-hidden="true"></i> Best Qulity Product
                </li>
                <li><i class="fe fe-check" aria-hidden="true"></i> One domain</li>
              </ul>
            </div>
            <div *ngIf="selectedPersonId == 'extend'" class="licence-content d-block" id="extend">
              <span class="mb-0 ms-auto licence-price">$632</span>
              <ul class="list-unstyled widget-spec mb-0">
                <li>
                  <i class="fe fe-check" aria-hidden="true"></i> 1 year Support And
                  Updates
                </li>
                <li><i class="fe fe-check" aria-hidden="true"></i> Forum Support</li>
                <li>
                  <i class="fe fe-check" aria-hidden="true"></i> Best Qulity Product
                </li>
                <li><i class="fe fe-check" aria-hidden="true"></i> Unlimted domain</li>
              </ul>
            </div>
          </div>
          <div class="card-footer border-top-0 item-user m-auto bg-transparent">
            <a class="btn ripple btn-primary m-1" href="javascript:void(0);"
              ><i class="fe fe-shopping-cart me-1 d-inline-flex"></i>Add to Cart</a
            >
            <a class="btn ripple btn-secondary m-1" href="javascript:void(0);"
              ><i class="fe fe-corner-up-right me-2 d-inline-flex"></i>Buy Now</a
            >
          </div>
          <div class="p-3 border-top text-center bg-light">
            <i class="payment payment-maestro m-1"></i>
            <i class="payment payment-paypal m-1"></i>
            <i class="payment payment-visa m-1"></i>
            <i class="payment payment-mastercard m-1"></i>
            <i class="payment payment-cirrus m-1"></i>
            <i class="payment payment-discover m-1"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-body d-flex">
            <i class="typcn typcn-shopping-cart me-1 sales-icon"></i>
            <div class="d-flex ms-auto">
              <p class="mb-1 me-3 fs-18 mt-2">Total Slaes:</p>
              <p class="mb-0 fs-25 font-weight-semibold">7567</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body d-flex">
            <i class="typcn typcn-messages me-1 sales-icon"></i>
            <div class="d-flex ms-auto">
              <p class="mb-1 me-3 fs-18 mt-2">Total Comments:</p>
              <p class="mb-0 fs-25 font-weight-semibold">567</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body item-user">
            <div class="text-center">
              <a routerLink="/pages/user-pages/user-profile01" class="mb-4"
                ><img
                  src="./assets/images/users/female/3.jpg"
                  alt="imag"
                  class="avatar avatar-xxl brround"
              /></a>
              <a routerLink="/pages/user-pages/user-profile01"
                ><h3 class="mt-2 mb-1 text-dark">Vania Laurin</h3></a
              >
              <span class="text-muted">Member since 8 November 2010</span>
            </div>
            <div class="item-user-icons mt-2 mb-5 text-center">
              <a href="javascript:void(0);" class="facebook-bg mt-0"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="javascript:void(0);" class="twitter-bg"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="javascript:void(0);" class="pinterest-bg"
                ><i class="fa fa-pinterest"></i
              ></a>
              <a href="javascript:void(0);" class="bg-info"
                ><i class="fa fa-share text-white"></i
              ></a>
            </div>
            <div class="btn-profile">
              <a
                routerLink="/pages/user-pages/user-profile"
                class="btn ripple btn-primary btn-block"
              >
                View Porfile</a
              >
            </div>
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="card-title">Product Information</h3>
          </div>
          <div class="card-body">
            <div class="marketplace-content">
              <ul class="list-unstyled widget-spec mb-0">
                <li class="">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Last Update</span
                  ><span class="w-60 text-muted">18 January 2019</span>
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Release Date</span
                  ><span class="w-60 text-muted"> 10 January 2019</span>
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Category</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);">Corporate</a>,
                    <a href="javascript:void(0);">Classifieds</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >High Resolution</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);"> Yes </a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Supported Browsers</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);"> Chrome</a>,
                    <a href="javascript:void(0);">IE7</a>,
                    <a href="javascript:void(0);">IE6</a>,
                    <a href="javascript:void(0);">IE9</a>,
                    <a href="javascript:void(0);">IE10</a>,<a
                      href="javascript:void(0);"
                      >IE11</a
                    >, <a href="javascript:void(0);">Opera</a>,
                    <a href="javascript:void(0);">Firefox</a>,
                    <a href="javascript:void(0);">Safari</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Documentation</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);"> Well Documented</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark">Layout</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);"> Responsive</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Bootstrap Compatibility</span
                  ><span class="w-60 text-muted">
                    <a href="javascript:void(0);">version 4.1.3</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Columns</span
                  ><span class="w-60 text-muted">
                    <a href="javascript:void(0);">4+</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark"
                    >Files Included</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);">HTML Files</a>,
                    <a href="javascript:void(0);">CSS Files</a>,
                    <a href="javascript:void(0);">JS Files</a></span
                  >
                </li>
                <li class="pt-2">
                  <span class="w-40 font-weight-semibold text-dark">Tags</span
                  ><span class="w-60 text-muted"
                    ><a href="javascript:void(0);">Bootstrap</a>,<a
                      href="javascript:void(0);"
                    >
                      Ads</a
                    >, <a href="javascript:void(0);">Business</a>,
                    <a href="javascript:void(0);">E-Commerce</a>,
                    <a href="javascript:void(0);">Classified</a>,
                    <a href="javascript:void(0);">Car</a>,
                    <a href="javascript:void(0);">Real Estate|</a>,<a
                      href="javascript:void(0);"
                    >
                      Education </a
                    >, <a href="javascript:void(0);">Jobs </a>,
                    <a href="javascript:void(0);">Marketplace </a>,
                    <a href="javascript:void(0);">Bidding </a>,
                    <a href="javascript:void(0);">Coupons </a>,
                    <a href="javascript:void(0);">Beauty</a>,
                    <a href="javascript:void(0);">Multipurpose</a>,
                    <a href="javascript:void(0);">Corporate</a>,
                    <a href="javascript:void(0);">Business </a>,
                    <a href="javascript:void(0);">Listing </a>,
                    <a href="javascript:void(0);">Listings </a>,
                    <a href="javascript:void(0);">Directory</a>,
                    <a href="javascript:void(0);">Restaurant </a>,<a
                      href="javascript:void(0);"
                    >
                      Hotel,Company</a
                    ></span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Rightside Content-->
    </div>
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
