<app-bannering1
  [title]="'Categories'"
  [items]="['Home', 'Pages', 'Categories']"
></app-bannering1>

<!--Categories-->
<section class="sptb bg-white Category">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card card-over item-card-desc1 br-4">
          <div class="item-card-desc br-4">
            <a href="javascript:void(0);"></a>
            <div class="item-card-img br-4">
              <img
                src="./assets/images/media/pictures/1.jpg"
                alt="img"
                class=""
              />
            </div>
            <div class="content">
              <h4 class="mb-0">
                HTML<span class="badge bg-pill bg-secondary ms-3">45</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card card-over item-card-desc1 br-4">
          <div class="item-card-desc br-4">
            <a href="javascript:void(0);"></a>
            <div class="item-card-img br-4">
              <img
                src="./assets/images/media/pictures/2.jpg"
                alt="img"
                class=""
              />
            </div>
            <div class="content">
              <h4 class="mb-0">
                Wordpress<span class="badge bg-pill bg-primary ms-3">23</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card card-over item-card-desc1 br-4">
          <div class="item-card-desc br-4">
            <a href="javascript:void(0);"></a>
            <div class="item-card-img br-4">
              <img
                src="./assets/images/media/pictures/3.jpg"
                alt="img"
                class=""
              />
            </div>
            <div class="content">
              <h4 class="mb-0">
                PHP<span class="badge bg-pill bg-success ms-3">48</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card card-over item-card-desc1 br-4 mb-md-0">
          <div class="item-card-desc br-4">
            <a href="javascript:void(0);"></a>
            <div class="item-card-img br-4">
              <img
                src="./assets/images/media/pictures/4.jpg"
                alt="img"
                class=""
              />
            </div>
            <div class="content">
              <h4 class="mb-0">
                Angular<span class="badge bg-pill bg-danger ms-3">15</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card card-over item-card-desc1 br-4 mb-md-0">
          <div class="item-card-desc br-4">
            <a href="javascript:void(0);"></a>
            <div class="item-card-img br-4">
              <img
                src="./assets/images/media/pictures/5.jpg"
                alt="img"
                class=""
              />
            </div>
            <div class="content">
              <h4 class="mb-0">
                PSD<span class="badge bg-pill bg-warning ms-3">12</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card card-over item-card-desc1 br-4 mb-0">
          <div class="item-card-desc br-4">
            <a href="javascript:void(0);"></a>
            <div class="item-card-img br-4">
              <img
                src="./assets/images/media/pictures/6.jpg"
                alt="img"
                class=""
              />
            </div>
            <div class="content">
              <h4 class="mb-0">
                All Items<span class="badge bg-pill bg-danger ms-3">65</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Categories-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header border-bottom-0 bg-light">
            <a href="javascript:void(0);" class="text-dark"
              ><h3 class="card-title">HTML</h3></a
            >
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec p-1">
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Admin</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Corporate</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Creative</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Mobile</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Personal</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Technologies</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Wedding</a
                >
              </li>
              <li class="mb-0">
                <a href="javascript:void(0);" class="text-primary">
                  View more..</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header border-bottom-0 bg-light">
            <a href="javascript:void(0);" class="text-dark"
              ><h3 class="card-title">Wordpress</h3></a
            >
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec p-1">
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Admin</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Corporate</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Creative</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Mobile</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Personal</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Technologies</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Wedding</a
                >
              </li>
              <li class="mb-0">
                <a href="javascript:void(0);" class="text-primary">
                  View more..</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header border-bottom-0 bg-light">
            <a href="javascript:void(0);" class="text-dark"
              ><h3 class="card-title">PHP</h3></a
            >
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec p-1">
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Admin</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Corporate</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Creative</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Mobile</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Personal</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Technologies</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Wedding</a
                >
              </li>
              <li class="mb-0">
                <a href="javascript:void(0);" class="text-primary">
                  View more..</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-lg-0">
          <div class="card-header border-bottom-0 bg-light">
            <a href="javascript:void(0);" class="text-dark"
              ><h3 class="card-title">Angular</h3></a
            >
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec p-1 mb-0">
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Admin</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Corporate</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Creative</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Mobile</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Personal</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Technologies</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Wedding</a
                >
              </li>
              <li class="mb-0">
                <a href="javascript:void(0);" class="text-primary">
                  View more..</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-md-0">
          <div class="card-header border-bottom-0 bg-light">
            <a href="javascript:void(0);" class="text-dark"
              ><h3 class="card-title">PSD</h3></a
            >
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec p-1 mb-0">
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Admin</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Corporate</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Creative</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Mobile</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Personal</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Technologies</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Wedding</a
                >
              </li>
              <li class="mb-0">
                <a href="javascript:void(0);" class="text-primary">
                  View more..</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-0">
          <div class="card-header border-bottom-0 bg-light">
            <a href="javascript:void(0);" class="text-dark"
              ><h3 class="card-title">Plugins</h3></a
            >
          </div>
          <div class="card-body">
            <ul class="list-unstyled widget-spec p-1 mb-0">
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Admin</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Corporate</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Creative</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Mobile</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Personal</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i>
                  Technologies</a
                >
              </li>
              <li class="">
                <a href="javascript:void(0);" class="text-dark"
                  ><i class="fe fe-minus text-primary d-inline-flex"></i
                  >Wedding</a
                >
              </li>
              <li class="mb-0">
                <a href="javascript:void(0);" class="text-primary">
                  View more..</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
  <app-subscribe-page></app-subscribe-page>
</section>
<!--/Onlinesletter-->
